@import 'base','common';
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	background-color:#f7f7f7;
    overflow: hidden;
}
.title{
	padding:.5rem 0 .15rem;
	width:100%;
	font-size:0;
	img{
		width:100%;
	}
}
.rule-prize{
	width:100%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	>div{
		padding:3px;
		margin:0 .25rem;
		width:1.7rem;
		height:.6rem;
		background-color:$white;
		border-radius:30px;
		box-shadow:0px 4px 10px rgba(0,0,0,.2);
		a{
			display:block;
			width:100%;
			height:100%;
			font:.24rem/2 $publicFont;
			color:#666;
			text-align:center;
			border:1px dashed #adadad;
			border-radius:30px;
		}
	}
}
.tab{
	position:relative;
	padding:.4rem .2rem .2rem;
	margin:0.3rem .75rem 0;
	background-color:#fff;
	border-radius:10px;
	box-shadow:0px 5px 15px rgba(0,0,0,.2);
	.card-content{
		position:relative;
		padding:.5rem 0 .2rem;
		border:1px solid #a0a0a0;
		text-align:center;
		>em{
			position:absolute;
			display:block;
			width:10px;
			height:10px;
			background-color:#fff;
			border:1px solid #a0a0a0;
			border-radius:100%;
			&:nth-child(1){
				top:-4px;
				left:-6px;
			}
			&:nth-child(2){
				top:-4px;
				right:-6px;
			}
			&:nth-child(3){
				bottom:-4px;
				left:-6px;
			}
			&:nth-child(4){
				bottom:-4px;
				right:-6px;
			}
		}
		.card-title{
			position:absolute;
			top:-.18rem;
			left:50%;
			width:3.6rem;
			height:.36rem;
		    background-color: #fff;
			border:1px solid #a0a0a0;
			border-radius:30px;
			font:.2rem/.36rem $publicFont;
			color:#666;
			text-align:center;
			@include transform(translate(-50%,0));
		}
		.itmes{
			display:none;
			h2{
				font:bold .36rem/1.5 $publicFont;
				color:#333;
			}
			h3{
				font:.22rem/1.5 $publicFont;
				color:#666;
			}
			.img{
				margin:.3rem auto;
				width:2.04rem;
				height:2.5rem;
				font-size:0;
				img{
					width:100%;
					height:100%;
				}
			}
			.tab-btn{
				margin:.3rem auto;
				width:3rem;
				height:.66rem;
				border-radius:30px;
				background: #00d0ee;
			    background: -webkit-linear-gradient(top, #00f6ab, #00d0ee);
			    background: linear-gradient(to top, #00d0ee, #00f6ab);
			    @include display(flex);
				@include align-items(center);
				@include justify-content(center);
				a{

					font:.26rem/.66rem $publicFont;
					color:#fff;
				}
			}
			p{
				font:.2rem/1.5 $publicFont;
				color:#999;
			}
		}
		
	}	
}
.tab-list{
	margin-top:.35rem;
	ul{
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		li{
			position:relative;
			margin:0 .2rem;
			width:1.2rem;
			height:1.2rem;
			background-color:#fff;
			border-radius:10px;
			border:1px solid #dcdcdc;
			box-shadow:0px 1px 3px rgba(0,0,0,.2);
			@include transition(all .5s);
			i{
				position:absolute;
				top:-5px;
				right:-5px;
				display:none;
				width:22px;
				height:22px;
				background-color:#00d3e9;
				border-radius:100%;
				font:.2rem/24px $publicFont;
				color:#fff;
				text-align:center;
			}
			p{
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				font:.2rem/1.5 $publicFont;
				color:#666;
				text-align:center;
			}
		}
		li.on{
			border:1px solid #00d3e9;	
		}
		li.active{
			border:3px solid #00d3e9;
			i{
				display:block;
			}	
		}
	}
}
.btn{
	padding-top:.13rem;
	margin:0.3rem 1.06rem 0;
	height:.9rem;
	background-color:#aaa;
	border-radius:30px;
	text-align:center;
	h3{
		font:bold .32rem/1.2 $publicFont;
		color:#fff;
	}
	p{
		font:.22rem/1.2 $publicFont;
		color:#fff;
	}
}
.btn-hide{
	margin:0.3rem 1.06rem 0;
	height:.9rem;
	background: #00adff;
    background: -webkit-linear-gradient(top, #00c0ff, #009cff);
    background: linear-gradient(to top, #009cff, #00c0ff);
	border-radius:30px;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	display:none;
	a{
		font:bold .32rem/1.2 $publicFont;
		color:#fff;
	}
}
.strategy{
	padding:.3rem .2rem;
	margin:.6rem .46rem;
	border:1px solid #ccc;
	border-radius:20px;
	background-color:#f9f9f9;
	h2{
		font:bold .36rem/1.5 $publicFont;
		color:#333;
		text-align:center;
	}
	p{
		margin-top:.1rem;
		font:.24rem/1.5 $publicFont;
		color:#666;
	}
}
.footer{
	position:relative;
	width:100%;
	font-size:0;
	a{
		position:absolute;
		top:0;
		right:0;
		width:.6rem;
		height:.36rem;
		background-color:#000;
		font:.2rem/.36rem $publicFont;
		color:#fff;
		text-align:center;
	}
	img{
		width:100%;
	}
}
.flex{@include display(flex);}
.show{display:block;}
.hide{display:none;}
.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	display:none;
	background:#000;
	opacity:.5;
}
.mask-draw{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	background:#000;
	opacity:.5;
}
.rule{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	padding:.2rem;
	width:80%;
	background:#fff;
	border-radius:5px;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
    .rule-content{
    	position:relative;
		padding:.35rem .2rem;
		border:1px solid #a0a0a0;
		>em{
			position:absolute;
			display:block;
			width:10px;
			height:10px;
			background-color:#fff;
			border:1px solid #a0a0a0;
			border-radius:100%;
			&:nth-child(1){
				top:-4px;
				left:-6px;
			}
			&:nth-child(2){
				top:-4px;
				right:-6px;
			}
			&:nth-child(3){
				bottom:-4px;
				left:-6px;
			}
			&:nth-child(4){
				bottom:-4px;
				right:-6px;
			}
		}
		h2{
			font:bold .36rem/1.5 $publicFont;
			color:#333;
			text-align:center;
		}
		p{
			margin-top:.1rem;
			font:.24rem/1.5 $publicFont;
			color:#666;
		}
    }
    .rule-close{
    	position:absolute;
    	bottom:-1.5rem;
    	left:50%;
    	width:.8rem;
    	height:.8rem;
    	border:1px solid #fff;
    	border-radius:100%;
    	background:rgba(0,0,0,.2);
    	@include transform(translate(-50%, 0));
    	@include display(flex);
		@include align-items(center);
		@include justify-content(center);
    	a{
    		display: inline-block; 
    		width:.5rem;
    		height:1px; 
    		background: #fff;
    		line-height: 0;
    		font-size:0;
    		vertical-align: middle;
    		@include transform(rotate(45deg));
    		&:after{
    			content:'/';
    			display:block;
    			width:.5rem;
    			height:1px; 
    			background: #fff;
    			@include transform(rotate(-90deg));
    		}
    	}
    }
}
.rule.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}
.my-prize{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:2;
	height:auto;
	background:#fafafa;
	@include transform(translate(0, 500%));
	@include transition(all .5s);
    overflow: hidden;
	.prize-title{
		position:relative;
		width:100%;
		height:.86rem;
		background-color:#fff;
		border-bottom:1px solid #ddd;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		i{
			position:absolute;
			left:.3rem;
			top:50%;
			@include transform(translate(0, -50%));
			width:22px;
			height:22px;
			border:1px solid #ddd;
			border-radius:100%;
			&:after {
			    content:'';
			    position:absolute;
			    top:50%;
			    left:50%;
			    margin-top:-2px;
		        width:8px;
		    	height:8px;
			    border:1px solid;
			    border-bottom:0;
			    border-right:0;
			    color:#ddd;
			    @include transform(translate3d(-50%,-50%,0) rotateZ(-135deg));
			}
		}
		h2{
			font:.32rem/1.5 $publicFont;
			color:#333;
		}
	}
	.prize-list{
		padding:0 .3rem 1rem;
		height:auto;
		max-height:8rem;
		overflow:auto;
		.items{
			position:relative;
			padding:.35rem 0;
			border-bottom:1px solid #ddd;
			@include display(flex);
			@include align-items(center);
			.img{
				width:1.2rem;
				height:1.2rem;
				border-radius:10px;
				border:1px solid #ddd;
				font-size:0;
				overflow:hidden;
				img{
					width:100%;
					height:100%;
				}
			}
			.text{
				margin-left:.2rem;
				h3{
					font:bold .32rem/1.5 $publicFont;
					color:#333;	
				}
				h5{
					font:.24rem/1.5 $publicFont;
					color:#666;	
				}
				p{
					font:.2rem/1.5 $publicFont;
					color:#999;	
				}
			}
			.items-btn{
				position:absolute;
			    right:0;
			    top:50%;
				width:1.6rem;
				height:.6rem;
				border-radius:30px;
				background: #00d0ee;
			    background: -webkit-linear-gradient(right top, #00f6ab, #00d0ee);
			    background: linear-gradient(to right top, #00f6ab, #00d0ee);
			    @include transform(translate(0, -50%));
			    @include display(flex);
				@include align-items(center);
				@include justify-content(center);
				a{

					font:.26rem/.66rem $publicFont;
					color:#fff;
				}
			}
		}
	}
	.no-prize{
		padding:1rem 0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		.img{
			width:1.31rem;
			height:1.57rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
			}
		}
		p{
			margin-top:.5rem;
			font:.24rem/1.5 $publicFont;
			color:#999;
		}
	}
}
.my-prize.on{
	@include transform(translate(0, 0));
	@include transition(all .5s);
}
.draw{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	padding:.2rem;
	width:60%;
	background:#fff;
	border-radius:5px;
	@include transform(translate(-50%, -50%));
	.draw-content{
    	position:relative;
		padding:.35rem .2rem;
		border:1px solid #a0a0a0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		>em{
			position:absolute;
			display:block;
			width:10px;
			height:10px;
			background-color:#fff;
			border:1px solid #a0a0a0;
			border-radius:100%;
			&:nth-child(1){
				top:-4px;
				left:-6px;
			}
			&:nth-child(2){
				top:-4px;
				right:-6px;
			}
			&:nth-child(3){
				bottom:-4px;
				left:-6px;
			}
			&:nth-child(4){
				bottom:-4px;
				right:-6px;
			}
		}
		.img{
			width:1.48rem;
			height:1.87rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
			}
		}
		p{
			margin-top:.1rem;
			font:bold .36rem/2 $publicFont;
			color:#333;
		}
    }
    .draw-close{
    	position:absolute;
    	bottom:-1.5rem;
    	left:50%;
    	width:.8rem;
    	height:.8rem;
    	border:1px solid #fff;
    	border-radius:100%;
    	background:rgba(0,0,0,.2);
    	@include transform(translate(-50%, 0));
    	@include display(flex);
		@include align-items(center);
		@include justify-content(center);
    	a{
    		display: inline-block; 
    		width:.5rem;
    		height:1px; 
    		background: #fff;
    		line-height: 0;
    		font-size:0;
    		vertical-align: middle;
    		@include transform(rotate(45deg));
    		&:after{
    			content:'/';
    			display:block;
    			width:.5rem;
    			height:1px; 
    			background: #fff;
    			@include transform(rotate(-90deg));
    		}
    	}
    }
}
.draw-prize-out{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	width:80%;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
	.top-img{
		position:absolute;
	    top:-1.25rem;
		left:50%;
	    z-index:-1;
		width:1.55rem;
		height:1.87rem;
		font-size:0;
		@include transform(translate(-50%, 0));
		img{
			width:100%;
			height:100%;
		}
	}
}
.draw-prize{
	padding:.2rem;
	width:100%;
	background:#fff;
	border-radius:10px;
	.draw-prize-content{
    	position:relative;
		padding:.35rem .2rem;
		border:1px solid #a0a0a0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		>em{
			position:absolute;
			display:block;
			width:10px;
			height:10px;
			background-color:#fff;
			border:1px solid #a0a0a0;
			border-radius:100%;
			&:nth-child(1){
				top:-4px;
				left:-6px;
			}
			&:nth-child(2){
				top:-4px;
				right:-6px;
			}
			&:nth-child(3){
				bottom:-4px;
				left:-6px;
			}
			&:nth-child(4){
				bottom:-4px;
				right:-6px;
			}
		}
		.prize-img{
			margin:.2rem 0;
			font-size:0;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
		}
		h2{
			font:bold .36rem/2 $publicFont;
			color:#666;
			span{
				color:#00a0e9;
			}
		}
		p{
			font:bold .22rem/2 $publicFont;
			color:#999;
		}
		.dpc-btn{
			margin-top:.3rem;
			width:2.52rem;
			height:.66rem;
			border-radius:30px;
			background: #00d0ee;
		    background: -webkit-linear-gradient(right top, #00f6ab, #00d0ee);
		    background: linear-gradient(to right top, #00f6ab, #00d0ee);
		    @include display(flex);
			@include align-items(center);
			@include justify-content(center);
			a{

				font:.26rem/.66rem $publicFont;
				color:#fff;
			}
		}
    }
    .draw-prize-close{
    	position:absolute;
    	bottom:-1.5rem;
    	left:50%;
    	width:.8rem;
    	height:.8rem;
    	border:1px solid #fff;
    	border-radius:100%;
    	background:rgba(0,0,0,.2);
    	@include transform(translate(-50%, 0));
    	@include display(flex);
		@include align-items(center);
		@include justify-content(center);
    	a{
    		display: inline-block; 
    		width:.5rem;
    		height:1px; 
    		background: #fff;
    		line-height: 0;
    		font-size:0;
    		vertical-align: middle;
    		@include transform(rotate(45deg));
    		&:after{
    			content:'/';
    			display:block;
    			width:.5rem;
    			height:1px; 
    			background: #fff;
    			@include transform(rotate(-90deg));
    		}
    	}
    }
}
.draw-prize-out.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}