@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  touch-action: manipulation;
}

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%;
}

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
  -webkit-touch-callout: none;
}

input {
  /*ios去除input默认样式*/
  -webkit-appearance: none;
}

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
.arrow-left {
  position: relative;
}
.arrow-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
}

.arrow-top {
  position: relative;
}
.arrow-top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
}

.close-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50px;
  background: #ff366f;
  opacity: 1;
}
.close-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.close-icon:before {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-icon:after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #ffc207;
}

.wrapper-bg {
  width: 100%;
  height: auto;
  font-size: 0;
}
.wrapper-bg > img {
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.content .title {
  padding: 0 .25rem;
  height: auto;
  font-size: 0;
}
.content .title > img {
  width: 100%;
}
.content .middle {
  position: relative;
  margin-top: -.35rem;
  width: 100%;
  height: auto;
  font-size: 0;
}
.content .middle > img {
  width: 100%;
}
.content .middle .sub-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 2.58rem;
  height: 2.44rem;
  font-size: 0;
  opacity: .8;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-animation: myTop 1s infinite;
  -webkit-animation: myTop 1s infinite;
  -o-animation: myTop 1s infinite;
  animation: myTop 1s infinite;
}
.content .middle .sub-middle > img {
  width: 100%;
  height: 100%;
}
.content .activity-info {
  position: fixed;
  left: 50%;
  bottom: .35rem;
  z-index: 2;
  font-size: 0;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.content .activity-info > a {
  padding: 0 .2rem;
  background-color: #ff7e00;
  border-radius: 30px;
  font: 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

@-webkit-keyframes myTop {
  from {
    top: 50%;
  }
  to {
    top: 48%;
  }
}
@-moz-keyframes myTop {
  from {
    top: 50%;
  }
  to {
    top: 48%;
  }
}
@-o-keyframes myTop {
  from {
    top: 50%;
  }
  to {
    top: 48%;
  }
}
@keyframes myTop {
  from {
    top: 50%;
  }
  to {
    top: 48%;
  }
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  background-color: #000;
  opacity: .7;
}

.rule {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;
  padding: .4rem;
  width: 5.18rem;
  background-color: #fff;
  border: 1px solid #f39700;
  border-radius: 5px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -800%);
  -o-transform: translate(-50%, -800%);
  -ms-transform: translate(-50%, -800%);
  -webkit-transform: translate(-50%, -800%);
  transform: translate(-50%, -800%);
}
.rule .mascot {
  position: absolute;
  top: -.8rem;
  left: -.45rem;
  width: 1.49rem;
  height: 1.7rem;
  font-size: 0;
}
.rule .mascot img {
  width: 100%;
  height: 100%;
}
.rule .text h2 {
  font: bold 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #f98202;
  text-align: center;
}
.rule .text p {
  margin-top: .2rem;
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #4f4f4f;
}
.rule .close {
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  width: .8rem;
  height: .8rem;
  font-size: 0;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.rule .close img {
  width: 100%;
  height: 100%;
}

.rule.rule-active {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-mask {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;
  padding: .3rem .2rem;
  width: 5.18rem;
  background-color: #fff;
  border: 1px solid #f39700;
  border-radius: 5px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -800%);
  -o-transform: translate(-50%, -800%);
  -ms-transform: translate(-50%, -800%);
  -webkit-transform: translate(-50%, -800%);
  transform: translate(-50%, -800%);
}
.login-mask > h3 {
  font: bold 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #222;
  text-align: center;
}
.login-mask form .item {
  margin-top: .26rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.login-mask form .item label {
  padding: 0 .15rem;
  background-color: #e0e0e0;
  border-radius: 5px;
  font-size: 0;
  width: 100%;
  height: .72rem;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.login-mask form .item label input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font: 0.28rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #222;
}
.login-mask form .item label input::-webkit-input-placeholder {
  font: 0.28rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #999;
}
.login-mask form .item .code-img {
  margin-left: .1rem;
  width: 1.46rem;
  height: .72rem;
  font-size: 0;
}
.login-mask form .item .code-img > img {
  width: 100%;
  height: 100%;
}
.login-mask form .item .msg {
  margin-left: .1rem;
  width: 1.46rem;
  height: .72rem;
  background-color: #17161f;
  border-radius: 5px;
  font-size: 0;
}
.login-mask form .item .msg a {
  display: block;
  text-align: center;
  font: 0.22rem/0.72rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}
.login-mask form .prompt {
  font: 0.22rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #bc0101;
  text-align: center;
}
.login-mask form > a {
  margin-top: .44rem;
  display: block;
  background: #f7ae00;
  border-radius: 5px;
  width: 100%;
  font: bold 0.3rem/0.75rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #582b14;
  text-align: center;
}
.login-mask > p {
  font: bold 0.22rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #333;
  text-align: center;
}
.login-mask > p a {
  color: #f98202;
}

.login-mask.login-mask-active {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.term-service-mask {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;
  padding: .4rem;
  width: 5.18rem;
  background-color: #fff;
  border: 1px solid #f39700;
  border-radius: 5px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -800%);
  -o-transform: translate(-50%, -800%);
  -ms-transform: translate(-50%, -800%);
  -webkit-transform: translate(-50%, -800%);
  transform: translate(-50%, -800%);
}
.term-service-mask .mascot {
  position: absolute;
  top: -.8rem;
  left: -.45rem;
  width: 1.49rem;
  height: 1.7rem;
  font-size: 0;
}
.term-service-mask .mascot img {
  width: 100%;
  height: 100%;
}
.term-service-mask .text h2 {
  font: bold 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #f98202;
  text-align: center;
}
.term-service-mask .text p {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #4f4f4f;
}
.term-service-mask .text > a {
  margin: .2rem auto 0;
  width: 50%;
  display: block;
  text-align: center;
  font: 0.3rem/0.72rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  background-color: #f98202;
  border-radius: 5px;
}

.term-service-mask.term-service-mask-active {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 5rem;
  height: 5.94rem;
  border-radius: 10px;
  border: 1px solid #eb6100;
  background-color: #fff;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading > p {
  margin-top: 1rem;
  font: bold 0.28rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #888;
  text-align: center;
}

.radar {
  width: 3.96rem;
  height: 3.96rem;
  position: relative;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  border-radius: 50%;
  overflow: hidden;
}

.radar-content {
  position: relative;
  width: 3.7rem;
  height: 3.7rem;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}
.radar-content > img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 2.29rem;
  height: 2.23rem;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.radar-content:after {
  content: ' ';
  display: block;
  background-image: linear-gradient(44deg, rgba(0, 255, 51, 0) 10%, #ffe805 100%);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: radar-beam 5s infinite;
  animation-timing-function: linear;
  transform-origin: bottom right;
  border-radius: 100% 0 0 0;
}

@keyframes radar-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blips {
  14% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%);
  }
  14.0002% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%);
  }
  25% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%);
  }
  26% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
  }
  100% {
    background: radial-gradient(2vmin circle at 75% 70%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, #ffffff 10%, #20ff4d 30%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
  }
}
.lucky .title {
  position: relative;
  padding: .2rem 0;
  margin: 1.22rem .95rem .5rem;
  background-color: #fff799;
  border: 2px solid #ff7e00;
  border-radius: 5px;
}
.lucky .title p {
  font: bold 0.2rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #894700;
  text-align: center;
}
.lucky .title h2 {
  font: bold 0.48rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #e11a03;
  text-align: center;
}
.lucky .title h3 {
  font: bold 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #ce1500;
  text-align: center;
}
.lucky .title .top {
  position: absolute;
  top: -1.18rem;
  right: -.5rem;
  width: 3.58rem;
  height: 1.94rem;
  font-size: 0;
}
.lucky .title .top img {
  width: 100%;
  height: 100%;
}
.lucky .title .bottom-l {
  position: absolute;
  left: -.45rem;
  bottom: -.3rem;
  width: 1.17rem;
  height: 1.63rem;
  font-size: 0;
}
.lucky .title .bottom-l img {
  width: 100%;
  height: 100%;
}
.lucky .title .bottom-r {
  position: absolute;
  right: -.45rem;
  bottom: -.35rem;
  width: .95rem;
  height: .99rem;
  font-size: 0;
}
.lucky .title .bottom-r img {
  width: 100%;
  height: 100%;
}

.lucky-share {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}
.lucky-share .img {
  position: absolute;
  top: .25rem;
  right: .44rem;
  width: 4.15rem;
  height: 2.32rem;
  font-size: 0;
}
.lucky-share .img img {
  width: 100%;
  height: 100%;
}

.challenge-header .top {
  width: 100%;
  height: .45rem;
  background-color: #f39800;
}
.challenge-header .top ul {
  position: absolute;
  left: 0px;
  top: 0px;
}
.challenge-header .top ul li {
  font: 0.2rem/0.45rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  float: left;
  text-align: center;
  width: 100%;
}
.challenge-header .img {
  width: 100%;
  height: auto;
  font-size: 0;
}
.challenge-header .img > img {
  width: 100%;
}
.challenge-header .img > p {
  margin-top: -1.2rem;
  font: 0.2rem/0.45rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff100;
  text-align: center;
}
.challenge-header .img > a {
  margin-top: .22rem;
  display: block;
  font: bold 0.2rem/0.45rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
}

.challenge-content {
  padding: .2rem .15rem;
}
.challenge-content .items {
  padding: .3rem .15rem;
  margin-bottom: .2rem;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.challenge-content .items .img {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ffc617;
  border-radius: 5px;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  font-size: 0;
}
.challenge-content .items .img img {
  width: 70%;
}
.challenge-content .items .text {
  margin-left: .2rem;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.challenge-content .items .text h3 {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.challenge-content .items .text h3 span {
  font: 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #000;
}
.challenge-content .items .text h3 i {
  margin-left: .1rem;
  padding: 0 .1rem;
  background-color: #d13231;
  font: 0.2rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  border-radius: 30px;
}
.challenge-content .items .text > p {
  font: 0.2rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #999;
}
.challenge-content .items .text .progress {
  font-size: 0;
  /*横条样式*/
  /*拖动块的样式*/
}
.challenge-content .items .text .progress input[type=range] {
  -webkit-appearance: none;
  /*清除系统默认样式*/
  width: 100%;
  background: -webkit-linear-gradient(#f39800, #f39800) no-repeat, #fff;
  /*设置左边颜色为#61bd12，右边颜色为#ddd*/
  background-size: 75% 100%;
  /*设置左右宽度比例*/
  height: .1rem;
  /*横条的高度*/
  border-radius: 30px;
  border: 1px solid #000;
  width: 2.3rem;
}
.challenge-content .items .text .progress input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /*清除系统默认样式*/
  height: 0;
  /*拖动块高度*/
  width: 0;
  /*拖动块宽度*/
}
.challenge-content .items .text .b {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.challenge-content .items .text .b .b-img {
  margin-right: .1rem;
  width: .21rem;
  height: .24rem;
  font-size: 0;
}
.challenge-content .items .text .b .b-img img {
  width: 100%;
  height: 100%;
}
.challenge-content .items .text .b p {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #222;
}
.challenge-content .items .text .b p:last-child {
  margin-left: .2rem;
}
.challenge-content .items .r a {
  float: right;
  display: block;
  width: 1.4rem;
  border-radius: 5px;
  background-color: #c6c6c6;
  font: 0.26rem/0.6rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #222;
  text-align: center;
}
.challenge-content .items .r a.orange {
  background-color: #f98202;
}
.challenge-content .items .r a.yellow {
  background-color: #ffc207;
}
.challenge-content .items .r a.roseo {
  background-color: #fe5858;
}
.challenge-content .items .r p {
  font: 0.2rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #555;
}
.challenge-content .main-item {
  margin-bottom: .4rem;
  position: relative;
}
.challenge-content .main-item .img {
  border-radius: 100%;
  overflow: hidden;
  font-size: 0;
}
.challenge-content .main-item .img img {
  width: 100%;
  height: 100%;
}
.challenge-content .main-item .text > h3 {
  font: 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #000;
}
.challenge-content .main-item .text .b h3 {
  font: 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #000;
}
.challenge-content .main-item .line {
  position: absolute;
  left: .58rem;
  right: .58rem;
  bottom: -.42rem;
  font-size: 0;
}
.challenge-content .main-item .line img {
  width: 100%;
}
.challenge-content .banner {
  font-size: 0;
}
.challenge-content .banner img {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
