@import 'base','common';
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	background-color:#ff8895;
    overflow: hidden;
}
//情人节首页
.valentines-wrapper{
	.rule{
		padding:.2rem;
		margin:.4rem .52rem;
		border:1px dashed #fff;
		border-radius:10px;
		h3{
			margin-bottom:.2rem;
			font:bold .3rem/1.5 $publicFont;
			color:#fff;
			text-align:center;
		}
		p{
			font:.24rem/1.5 $publicFont;
			color:#fff;
		}
		.rule-btn{
			margin:.3rem auto 0;
			width:2.24rem;
			height:.64rem;
			border:1px solid #fff;
			border-radius:100px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			.img{
				width:.28rem;
				height:.28rem;
				font-size:0;
				img{
					width:100%;
					height:100%;
				}
			}
			span{
				margin-left:.15rem;
				font:.32rem/1.2 $publicFont;
				color:#fff;
			}
		}
	}
}
.valentines-header{
	.title{
		width:100%;
		font-size: 0;
		img{
			width:100%;
		}
	}
}
.valentines-content{
	.barrage{
		margin-top:.4rem;
		ul{
			li{
				padding:0 .3rem 0 .1rem;
			    display: inline-block;
				height:.6rem;
				border-radius:30px;
				background-color:#ffbdc3;
				@include transform(translate(140%, 0));
  				@include animation(danmu 10s .01s infinite);
				.li-content{
					width:100%;
					height:100%;
					@include display(flex);
					@include align-items(center);
					.img{
						width:.45rem;
						height:.45rem;
						background-color:#fff;
						border-radius:100%;
						font-size:0;
						overflow:hidden;
						img{
							width:100%;
							height:100%;
							object-fit:cover;
						}
					}
					span{
						@include box-flex(1);
						margin-left:.15rem;
						font:.24rem/1.5 $publicFont;
						color:#ee3f4f;
					}
				}	
			}
		}
	}
	.valentines-btn{
		.btn-list{
			position:relative;
		    margin:.55rem auto 0;
			width:4.82rem;
			height:1.26rem;
			background-color:#fff;
			border-radius:100px;
			box-shadow:0 2px 0px rgba(255,255,255,.6);
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			.btn-list-content{
				width:4.6rem;
				height:1.04rem;
				border:1px dashed #ff94a0;
				border-radius:100px;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				.img{
					width:.64rem;
					height:.54rem;
					font-size:0;
					img{
						width:100%;
						height:100%;
					}
				}
				span{
					margin-left:.35rem;
					font:.44rem/1.5 $publicFont;
					color:#f9162a;
				}
				#autodyneInfo,#uploadImgInfo{display:none;}
			}
			input{
				position:absolute;
				z-index:1;
				width:100%;
				height:100%;
				opacity:0;
			}
			>img{
				display:none;
			}
		}
		.ranking-btn{
			position:relative;
			margin:.5rem auto .7rem;
			width:3.02rem;
			height:.64rem;
			border-radius:100px;
			border:1px solid #fff;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			.img{
				width:.28rem;
				height:.26rem;
				font-size:0;
				img{
					width:100%;
					height:100%;
				}
			}
			span{
				margin-left:.14rem;
				font:.32rem/1.5 $publicFont;
				color:#fff;
			}
			.em{
				position:absolute;
				top: -.15rem;
    			right: -.1rem;
				z-index:1;
				width:.6rem;
				height:.24rem;
				border:1px solid #fff;
				border-radius:30px;
				background-color:#e60012;
				font-size:0;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				em{
					position:absolute;
					top:53%;
					left:50%;
					font:.15rem/.25rem $publicFont;
					color:#fff;
					@include transform(translate(-50%, -50%));
				}
			}
		}
	}
	.flow-path{
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		.flow-path-list{
			@include display(flex);
			@include align-items(center);
			.img1{
				width:.28rem;
				height:.23rem;
			}
			.img2{
				width:.28rem;
				height:.28rem;
			}
			.img3{
				width:.26rem;
				height:.28rem;
			}
			.img{
				font-size:0;
				img{
					width:100%;
					height:100%;
				}
			}
			span{
				margin-left:.1rem;
				font:.26rem/1.2 $publicFont;
				color:#fff;
			}
		}
		.arrowhead{
			margin:0 .1rem;
			width:.4rem;
			height:.1rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
			}
		}
	}
	.score{
		margin-top:.7rem;
		.score-image-text{
			padding:.1rem;
			margin:0 .8rem;
			background-color:#fff;
			border-radius:15px;
			@include display(flex);
			@include align-items(center);
			.img{
				width:1.94rem;
				height:1.94rem;
				font-size:0;
				border-radius:10px;
				overflow:hidden;
				img{
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
			.text{
				@include box-flex(1);
				text-align:center;
				h6{
					font:.24rem/1.5 $publicFont;
					color:#f47f8c;
				}
				h2{
					font:bold .72rem/1.2 $publicFont;
					color:#ff3248;
				}
				p{
					font:.24rem/1.5 $publicFont;
					color:#999;
				}
			}
		}
		.score-btn{
			margin:.5rem auto 0;
			width:5.6rem;
			height:.86rem;
			background-color:#fff;
			border-radius:100px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			.score-btn-content{
				width:5.4rem;
				height:.72rem;
				border:1px solid #ff94a0;
				border-radius:100px;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				.img{
					width:.44rem;
					height:.38rem;
					font-size:0;
					img{
						width:100%;
						height:100%;
					}
				}
				span{
					margin-left:.15rem;
					font:.36rem/1.5 $publicFont;
					color:#f9162a;
				}
			}	
		}
	}
}
@include keyframes(danmu){
	from {
		@include transform(translate(140%, 0));
	}
	to {
		@include transform(translate(-140%, 0));
	}
}
// 排行榜
.ranking-header{
	.title{
		padding:1.42rem 0 0;
		margin:0 auto;
		width:4.12rem;
		font-size: 0;
		img{
			width:100%;
		}
	}
}
.ranking-content{
	padding:.3rem;
	.list{
		padding:0 .3rem;
		background-color:#fff;
		border-radius:15px;
		.items{
			@include display(flex);
			@include align-items(center);
			.l{
				font:bold .24rem/1.5 $publicFont;
				color:#ff5a6c;
			}
			.r{
				padding:.15rem 0;
				margin-left:.3rem;
				border-bottom:1px solid #f5f5f5;
				@include box-flex(1);
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				.image-text{
					@include display(flex);
					@include align-items(center);
					.img{
						width:.8rem;
						height:.8rem;
						font-size:0;
						background-color:#e5e5e5;
						border-radius:100%;
						img{
							width:100%;
							height:100%;
							object-fit:cover;
						}
					}
					.text{
						margin-left:.2rem;
						@include box-flex(1);
						h2{
						    font-size:0;
							span{
								font:bold .24rem/1.5 $publicFont;
								color:#333;	
							}
							time{
								margin-left:.25rem;
								font:.2rem/1.5 $publicFont;
								color:#b2b2b2;	
							}
						}
						p{
							font:.2rem/1.5 $publicFont;
							color:#b2b2b2;	
						}
					}
				}
				.number{
					font:bold .36rem/1.5 $publicFont;
					color:#ff5a6c;
				}
			}
		}
	}
}
.ranking-footer{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	padding:.3rem .9rem .3rem .5rem;
	margin:0 auto;
	max-width:640px;
	background-color:#fff;
	@include display(flex);
	@include align-items(center);
	.l{
		p{
			font:bold .24rem/1.2 $publicFont;
			color:#ff5a6c;
		}
	}
	.r{
		padding:.15rem 0;
		margin-left:.3rem;
		border-bottom:1px solid #f5f5f5;
		@include box-flex(1);
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		.image-text{
			@include display(flex);
			@include align-items(center);
			.img{
				width:.8rem;
				height:.8rem;
				font-size:0;
				background-color:#e5e5e5;
				border-radius:100%;
				img{
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
			.text{
				margin-left:.2rem;
				@include box-flex(1);
				h2{
				    font-size:0;
					span{
						font:bold .24rem/1.5 $publicFont;
						color:#333;	
					}
					time{
						margin-left:.25rem;
						font:.2rem/1.5 $publicFont;
						color:#b2b2b2;	
					}
				}
				p{
					font:.2rem/1.5 $publicFont;
					color:#b2b2b2;	
				}
			}
		}
		.share-icon{
			width:.36rem;
			height:.35rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
			}
		}
	}
}
.share-mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:4;
	background:rgba(0,0,0,.5);
	img{
		width:100%;
	}
}
// 规则
.rule-header{
	.title{
		padding:1.42rem 0 0;
		margin:0 auto;
		width:3.52rem;
		font-size: 0;
		img{
			width:100%;
		}
	}
}
.rule-content{
	padding:.3rem;
	margin:.3rem;
	border:1px solid #fff;
	border-radius:10px;
	h5{
		margin-top:.5rem;
		font:.24rem/1.5 $publicFont;
		color:#fff;
		&:first-child{
			margin-top:0;
		}
	}
	p{
		font:.24rem/1.5 $publicFont;
		color:#fff;
	}
}
//活动已结束
.finish-header{
	.title{
		padding:1.3rem 0 3rem;;
		margin:0 auto;
		width:2.36rem;
		height:2.74rem;
		font-size: 0;
		img{
			width:100%;
		}
	}
}
.finish-content{
	margin:0 .3rem .3rem;
	>p{
		text-align:center;
		font:.32rem/1.4 $publicFont;
		color:#fff;
	}
	.finish-bottom{
		position:relative;
		padding:.2rem .1rem .3rem;
		margin-top:.8rem;
		border:1px dashed #fff;
		border-radius:15px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		.top{
			position:absolute;
			width:3.2rem;
			height:.5rem;
		    top: -.26rem;
		    left:50%;
		    background-color:#ff8895;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			@include transform(translate(-50%, 0));
			>p{
				text-align:center;
				font:.26rem/1.2 $publicFont;
				color:#fff;
			}
			&:after{
				position:absolute;
				left:0;
				top:42%;;
				content:"";
				width:3px;
				height:3px;
				border:1px solid #fff;
				border-radius:100%;
			}
			&:before{
				position:absolute;
				right:0;
				top:42%;;
				content:"";
				width:3px;
				height:3px;
				border:1px solid #fff;
				border-radius:100%;
			}
		}
		.l,.r{
			.img{
				width:2.8rem;
				height:2.8rem;
				font-size:0;
				img{
					width:100%;
					height:100%;
				}
			}
			h3{
				text-align:center;
				font:bold .22rem/1.4 $publicFont;
				color:#fff;
			}
			p{
				text-align:center;
				font:.2rem/1.4 $publicFont;
				color:#fff;
			}
		}
	}
}
//分享
.share-header{
	width:100%;
	height:2.35rem;
}
.share-content{
	margin-top:-1rem;
	.img{
		margin:0 auto;
		width:4.2rem;
		height:4.2rem;
		border:.1rem solid #e35666;
		border-radius:15px;
		overflow:hidden;
		font-size:0;
		img{
			width:100%;
			height:100%;
			object-fit:cover;
		}
	}
	.did-not-good{
		margin-top:.36rem;
		.text{
			margin:0 auto;
			width:5rem;
			height:auto;
			font-size:0;
			img{
				width:100%;
			}
		}
		.good-btn{
			margin:-.3rem auto 0;
			width:2rem;
			height:2rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
			}
		}
		>a{
			display:block;
			text-align:center;
			font:.28rem/1.5 $publicFont;
			color:#fff;
		}
	}
	.good{
		display:none;
		margin-top:.36rem;
		.text{
			margin:0 auto;
			width:4rem;
			height:auto;
			font-size:0;
			img{
				width:100%;
			}
		}
		.good-btn{
			margin:0 auto;
			width:2rem;
			height:2rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
			}
		}
		>a{
			margin:0 auto;
			display:block;
			width:5rem;
			height:.8rem;
			background-color:#fff;
			border-radius:30px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			.a-btn{
				width:4.8rem;
				height:.6rem;
				border:1px solid #ff94a0;
				border-radius:30px;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				span{
					font:bold .32rem/1.5 $publicFont;
					color:#ff3248;
				}
			}
		}
	}
}
//上次图片
.upload-header{
	.title{
		padding:1rem 0 0;
		margin:0 auto;
		width:3.52rem;
		font-size: 0;
		img{
			width:100%;
		}
	}
}
.upload-content{
	.img{
		position:relative;
		margin:.5rem auto;
		width:4.2rem;
		height:4.2rem;
		border:.1rem solid #e35666;
		border-radius:15px;
		overflow:hidden;
		font-size:0;
		.clipArea{
		    width: 100%;
    		height: 100%;
    		border-radius:10px;
			overflow:hidden;
			>img{
				width:100%;
				height:100%;
				// object-fit:cover;
			}
		}
		.change-img{
			position:absolute;
			top:.1rem;
			right:.15rem;
		    z-index: 1;
			width:1.4rem;
			height:.5rem;
			background-color:#888e8f;
			border-radius:5px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			i{
				width:.24rem;
				height:.24rem;
				font-size:0;
				img{
					width:100%;
					height:100%;
				}
			}
			span{
				margin-left:.05rem;
				font:.24rem/1.5 $publicFont;
				color:#fff;
			}
		}
	}
	.upload-btn{
		margin:0 auto;
		display:block;
		width:4.8rem;
		height:1.25rem;
		background-color:#fff;
		border-radius:50px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		.upload-btn-content{
			width:4.6rem;
			height:1.05rem;
			border:1px solid #ff94a0;
			border-radius:50px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			p{
			    padding-left: .25rem;
				font:bold .36rem/1.5 $publicFont;
				color:#f9162a;
			}
		}
	}
	>p{
		margin-top:.8rem;
		text-align:center;
		font:.24rem/1.5 $publicFont;
		color:#fff;
	}
}
.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	display:none;
	background-color:$black;
	opacity:.8;
}
.mask-upload-img{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	padding:.05rem;
	width:3rem;
	height:3rem;
	border-radius:10px;
	background-color:$white;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
	.img{
	    position: relative;
		width:100%;
		height:100%;
		border-radius:10px;
		overflow:hidden;
		img{
			width:100%;
			height:100%;
			object-fit:cover;
		}
		>p{
			position:absolute;
			top:50%;
			z-index:2;
			width:100%;
			font:.24rem/1.5 $publicFont;
			color:#fff;
			text-align:center;
			@include transform(translate(0, -50%));
			>em{
				margin-left:.15rem;
			}
		}
	}
}
.mask-upload-img.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}
.mask-upload-prompt{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	width:4.2rem;
	height:auto;
	border-radius:10px;
	background-color:$white;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
	.mask-upload-prompt-text{
		padding:.4rem;
		h3{
			font:.3rem/1.5 $publicFont;
			color:#333;
			text-align:center;
			margin-bottom:.5rem;
		}
		p{
			font:.26rem/1.5 $publicFont;
			color:#666;
			text-align:center;
		}
	}
	.mask-upload-prompt-btn{
		width:100%;
		height:.8rem;
		@include display(flex);
		@include align-items(center);
		border-top:1px solid #f5f5f5;
		a{
			position:relative;
			height:.8rem;
			@include box-flex(1);
			font:.26rem/1.5 $publicFont;
			color:#333;
			text-align:center;
			overflow:hidden;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			&:nth-child(2){
				border-left:1px solid #f5f5f5;
			}
			input{
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				opacity:0;
			}
		}
	}
}
.mask-upload-prompt.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}
//波浪loading效果css
.loading_bg{
	position: absolute;
	top: 0;
	width:100%; 
	height:100%;  
	.loading{
		position:relative;
		width:100%; 
		height:100%; 
		-webkit-mask-image:url(../images/bolang_bg.jpg);
	}
	.show{ width:100%; 
	    height:300px;   //温馨提示这里的高度必须和图片一样高
	    position:absolute; 
	    left:0; 
	    top:50%;
	    background-image: url(../images/bolang.png);
	    opacity:0.6;
	    @include animation(sploosh 3s ease-in-out both infinite);
	    @include animation-delay(-3.2s);	    
	} 
}
@include keyframes(sploosh){
  0% {background-position: 0 bottom;}
  100% {background-position: 200px bottom;}
}
