@import "base";
html{
    font-size:32px;
}
@media(min-device-width:320px){
html{
  font-size:32px;
}
}
@media(min-device-width:360px){
html{
  font-size:36px;
}
}
@media(min-device-width:375px){
html{
  font-size:37.5px;
}
}
@media(min-device-width:384px){
html{
  font-size:38.4px;
}
}
@media(min-device-width:400px){
html{
  font-size:40px;
}
}
@media(min-device-width:414px){
html{
  font-size:41.4px;
}
}
@media(min-device-width:480px){
html{
  font-size:48px;
}
}
@media(min-device-width:568px){
html{
  font-size:56.8px;
}
}
@media(min-device-width:533px){
html{
  font-size:53.3px;
}
}
@media(min-device-width:600px){
html{
  font-size:600px;
}
}
@media(min-device-width:640px){
html{
  font-size:64px;
}
}
body{
	background-color:#058be1;
}
.wrapper{
	width:100%;
	max-width:640px;
	min-height:320px;
	height:auto;
	margin:0 auto;
}
.top{
	width:100%;
	font-size:0;
	img{
		width:100%;
	}
}
.good-looking-text{
	position:relative;
	margin:0 auto;
	padding:8% 0 2%;
	width:90%;
	background-color:#fff;
	border-radius:15px;
	img{
		position:absolute;
		width:100%;
		top: -25%;
	}
	h2{
		font:bold .5rem/2 "Microsoft YaHei","Helvetica Neue";
		color:#004d7f;
		text-align:center;
	}
	p{
		font:.4rem/1.5 "Microsoft YaHei","Helvetica Neue";
		color:#004d7f;
		text-align:center;
	}
	.p-text{
		margin-top:.2rem;
	}
}
.camera{
	position:relative;
	padding: 5% 0;
	width:100%;
	>img{
		position:absolute;
		top:25%;
		right:9%;
        width:25%;
	}
	.camera-center{
		position:relative;
		margin:0 auto;
		width:2.4rem;
		height:2.4rem;
		background-color:#fff;
		border-radius:100%;
		border: 1px solid #058be1;   
	    -webkit-border-radius:100%;   
	    -moz-border-radius: 100%;   
	    border-radius:100%;   
	    -webkit-box-shadow: 0 0 0 10px #fff;   
	    box-shadow: 0 0 0 10px #fff; 
	    text-align:center;
	    line-height: 2.8rem; 
	    img{
	    	width:70%;
	    } 
	    .input-upload-image{
		    position: absolute;
		    top:0;
		    left:0;
		    z-index: 1;
		    display: block;
		    width:100%;
		    height:100%;
		    border: none;
		    -webkit-opacity: 0;
		    opacity: 0;
	    }
	}
}
.footer{
	width:90%;
	margin:.2rem auto;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	a{
		-webkit-flex:1;
		flex:1;	
		font:.4rem/.5rem "Microsoft YaHei","Helvetica Neue";
		color:#fff;
		text-align:center;
		text-decoration:none;
		&:nth-child(2){
			border-right:2px solid #fff;
			border-left:2px solid #fff;
		}
	}
}
.layer{
	position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    display:none;
    background:rgba(0,0,0,.8);
}
.share-layer{
	position:fixed;
    top:0;
    left:0;
    z-index:2;
    display:none;
    width:100%;
    text-align:center;
    font-size:0;
    .share-img1{
    	width:8%;
    	margin: 5% 0 5% 80%;
    }
    .share-img2{
    	width:40%;
    	margin:.5rem 0;
    }
    p{
    	font:.4rem/1.5 "Microsoft YaHei","Helvetica Neue";
    	color:#fff;	
    }
}
// detailed css begin
.mb1rem{
	margin-bottom:.3rem;
}
#detailedWrapper{
	height:100%;
	background-color:#fff3d9;
	overflow:hidden;
    .detaile{
	  	position:relative;
	  	width:100%;
	  	padding-top:30px;
	  	img{
	  		position: absolute;
	        top: -1.8rem;
	        left:1%;
	        width:98%;
	        z-index: 2;
	  	}
	  	.detaile-text{
	  		margin:0 auto;
	  		width:85%;
	  		height:100%;
	        overflow: scroll;
	  		p{
		  		font:.35rem/1.5 "Microsoft YaHei","Helvetica Neue";
		  		color:#791515;
		  	}
		}
  	}
    .detaile-footer{
	  	a{
	  		color:#e29510;
	  		&:nth-child(2){
				border-right:2px solid #e29510;
				border-left:2px solid #e29510;
			}
	  	}
    }
}

// login css begin
.login-list{
	overflow: inherit !important;
	.input-container{
		position:relative;
	    width: 100%;
	    height:1rem;
	    line-height:1rem;
	    overflow: hidden;
	    margin-top:.5rem;
	    background-color: #fff;
	    border-radius: 5px;
	    font-size: 0;
	    border:1px solid #f0c680;
	    input{
	    	border-radius: 0;
		    border: none;
		    display: inline-block;
		    outline:none;
	    }
	    .telphone{
	    	width: 100%;
		    height: 100%;
		    padding: 0 .1rem;
	    }
	}
	.slider-container{
		position:relative;
	    width: 100%;
	    height:1rem;
	    line-height:1rem;
	    overflow: hidden;
	    margin-top:.5rem;
	    border-radius: 5px;
	    font-size: 0;
	}
	.input-box{
		position:relative;
		.input-container{			
		    width:60%;
		    height:1rem;
		    line-height:1rem;
		    overflow: hidden;
		    margin-top:.5rem;
		    background-color: #fff;
		    border-radius: 5px;
		    font-size: 0;
		    border:1px solid #f0c680;
		    input{
		    	border-radius: 0;
			    border: none;
			    display: inline-block;
			    outline:none;
		    }
			.telCode{
		    	width: 100%;
			    height:100%;
			    padding: 0 .1rem;
		    }
		}
		button{
			position: absolute;
		    width:35%;
		    height:1rem;
		    right: 0;
		    top: 0;
		    background-color:#ffcc00;
		    border:0;
		    border-radius: 5px;
		    color:#000;
		    font: .35rem/1rem "Microsoft YaHei","Helvetica Neue";
		}
	}
	.submit{
		.btn {
		    width: 100%;
		    height:1rem;
		    font: .35rem/1rem "Microsoft YaHei","Helvetica Neue";
		    border-radius: 5px;
		    margin-top:.5rem;
		    background-color: #fc0;
		    color: #c07d0a;
		    border:0;
		}
	}
}

//good-looking css begin
#goodLooking{
	background-color:#17c3a9;
}
.fraction{
	width:86%;
	margin:-.2rem auto 0;
	.fraction-img{
		position:relative;
		margin:0 auto;
		width:60%;
		height:3rem;
		text-align:center;
		.head{
			width:2.9rem;
			height:2.9rem;
			border-radius:100%;
		}
		.right{
			position:absolute;
			width:60%;
			top:0;
		}
	}
	.fraction-text{
		margin-top: -.9rem;
		text-align:center;
		h2{
            font:.4rem/1.5 "Microsoft YaHei","Helvetica Neue";
            padding-top:1rem;
            color:#666;
		}
		.fraction-value{
			margin: .7rem auto .2rem;
			width:3rem;
			height:3rem;
			position:relative;
			border:3px solid #ff7992;
			border-radius:100%;
			img{
			    width: 100%;
			    position: absolute;
			    left: 0;
			    top: -.55rem;
			}
			p{
				margin:.225rem auto;
				display:block;
				width:2.4rem;
			    height:2.4rem;
				border-radius:100%;
				background-color:#ff7992;
				color:#fff;
				font:.35rem/2.4rem "Microsoft YaHei","Helvetica Neue";
				strong{
					font-size:1rem;
					font-weight:bold;
				}
			}
		}
		p{
			font:.35rem/1.5 "Microsoft YaHei","Helvetica Neue";
			color:#ff7992;
			padding-bottom:.4rem;		
		}
	}
	.fraction-text-on{
		padding-bottom:.5rem;
		>p{
			padding-bottom:0;
		}
		.fraction-value{
            margin: .2rem auto;
            width:2.4rem;
            height:2.4rem;
            p{
            	margin: .1rem auto;
            	line-height:1.5;
            	padding-top: 25%;
            	width: 2rem;
                height: 2rem;
            }
		}
		.bottom{
		    color: #fff;
		    width:100%;
		    margin: 0 auto;
		    strong{
		    	font-weight:bold;
		    	color:#ffff00;
		    }
		}
	}
	.appeal{
		margin:.3rem auto 0;
		width:60%;
		height:1rem;
		background-color:#ffee2d;
		border-radius:5px;
		box-shadow:0 4px 1px #ffc34a;  
		p{
			font:.35rem/1rem "Microsoft YaHei","Helvetica Neue";
			color:#f60;
			text-align:center;
		}
	}
}
.fraction-list{
	margin:0 auto;
	width:80%;
	padding:5% 0;
	h3{
		position:relative;
		font: .4rem/1rem "Microsoft YaHei","Helvetica Neue";
		color:#fff;
		text-align:center;
		&:before{
		 	position:absolute;
		 	top:50%;
		 	left:0;
		 	width:30%;
		 	height:1px;
		 	background-color:#fff;
            content:"";
		}
		&:after{
		 	position:absolute;
		 	top:50%;
		 	right:0;
		 	width:30%;
		 	height:1px;
		 	background-color:#fff;
            content:"";
		}
	}
	.name-list{
		position:relative;
		height:auto;
		padding:3% 0;
		&:before{
		  position:absolute;
		  bottom:-1px;
		  left:0;
		  content:'';
		  width:100%;
		  height:1px;
		  border-bottom:1px solid #fff;
		  -webkit-transform:scaleY(.5);
		  transform: scaleY(.5);
		}
		img{
			float:left;
			width:1rem;
			height:1rem;
			border-radius:100%
		}
		p{
			font: .35rem/1rem "Microsoft YaHei","Helvetica Neue";
			margin-left:1.2rem;
			display:-webkit-box;
			display:-webkit-flex;
			display:flex;
			color:#fff;
			span{
				-webkit-flex:1;
				flex:1;
				overflow:hidden;
				text-overflow: ellipsis;
                white-space: nowrap;
                &:first-child{
                   -webkit-flex:4;
				   flex:4;
                }
                &:nth-child(2){
                   -webkit-flex:2;
				   flex:2;
                }
                &:last-child{
                	color:#ffff00;
                	font-size:.5rem;
                }
			}
		}
	}
}
.invite-layer{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	display:none;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width:70%;
	background-color:#fff;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	padding: 5% 0;
	.head{
		width:100%;
		position: absolute;
        top: -1rem;
	}
	.close{
		position: absolute;
	    top: -.5rem;
	    right: .5rem;
	    width: .5rem;
	}
	p{
		width:70%;
		margin:0 auto;
		font: .35rem/1.5 "Microsoft YaHei","Helvetica Neue";
		color:#666;
	}
	a{
		margin: .3rem auto 0;
	    width: 70%;
	    height: 1rem;
	    background-color: #ffee2d;
	    border-radius: 5px;
	    box-shadow: 0 4px 1px #ffc34a;
	    display:block;
	    font: .35rem/1rem "Microsoft YaHei","Helvetica Neue";
	    color: #f60;
	    text-align: center;
	    text-decoration:none;
	}
}

//ranking-list css begin
.ranking-list{
	position:relative;
  	width:100%;
  	>img{
  		position: absolute;
        top: -1.8rem;
        left:1%;
        width:98%;
        z-index: 2;
  	}
  	h2{
  		font: .4rem/1rem "Microsoft YaHei","Helvetica Neue";
  		color:#791515;
  		text-align:center;
  	}
  	.ranking-text{
  		margin:0 auto;
  		width:96%;
  		height:100%;
        overflow: scroll;
        background-color:#fff;
        border-radius:5px;
        h3{
        	font: .4rem/1rem "Microsoft YaHei","Helvetica Neue";
        	color:#e71f19;
  		    text-align:center;
        }
        ul li{
        	position:relative;
        	display:-webkit-box;
        	display:-webkit-flex;
        	display:flex;
        	padding:.2rem 0;
        	//兼容新的垂直居中
        	justify-content:center;
            align-items:center;
            //兼容旧的垂直居中
            -webkit-box-pack: center; 
		    box-pack: center;
		    -webkit-box-align: center;
		    box-align: center;
        	&:before{
			    position:absolute;
			    bottom:-1px;
			    left:0;
			    content:'';
			    width:100%;
			    height:1px;
			    border-bottom:1px solid #ddd;
			    -webkit-transform:scaleY(.5);
			    transform: scaleY(.5);
			}
			&:first-child{
               background-color:#f2f2f2;
			}
        	.li-list{
        		-webkit-flex:1;
        		flex:1;
        	}
        	.list-number{
        		-webkit-flex:.8;
        		flex:.8;
        		font: .35rem/1rem "Microsoft YaHei","Helvetica Neue";
        	    color:#e71f19;
        	    text-align:center;
        	    img{
        	    	width:.65rem;
        	    	height: auto;
                    vertical-align: middle;
        	    }
        	}
        	.list-img{
        		-webkit-flex:1.2;
        		flex:1.2;
        		text-align:center;
        		font-size: 0;
        		img{
        			width:1rem;
	        		height:1rem;
	        		border-radius:100%;
        		}
        	}
        	.name-number{
        		-webkit-flex:2;
        		flex:2;
        		overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
        		h4{
	        		font: .35rem/1.5 "Microsoft YaHei","Helvetica Neue";
	        	    color:#333;	
	        	    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
        		}
        		p{
        			font: .3rem/1.5 "Microsoft YaHei","Helvetica Neue";
	        	    color:#999;	
	        	    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
        		}
        	}
        	.recommend-number{
        		-webkit-flex:1.5;
        		flex:1.5;
        		text-align:center;
        		font-size: 0;
        		border-left:1px solid #efefef;
        		border-right:1px solid #efefef;
        		img{
        			width:30%;
        		}
        		p{
        			font: .35rem/1.5 "Microsoft YaHei","Helvetica Neue";
        	        color:#e71f19;
        		}
        	}
        	.prize{
        		-webkit-flex:2;
        		flex:2;
        		text-align:center;
        		font-size: 0;
        		img{
        			width:90%;
        		}
        		p{
        			font: .3rem/1.5 "Microsoft YaHei","Helvetica Neue";
        	        color:#676767;
        		}
        	}
        }
  	}
}