@import 'base','common';
.auction-wrapper{
	position:relative;
	padding-top:1rem;
	width:100%;
	max-width:750px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	background-color:#fff;
    overflow: hidden;
}
.auction-header{
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:3;
	padding:0 .3rem;
	margin:0 auto;
	width:100%;
	height:1rem;
	max-width:750px;
	background-color:$white;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	.left{
		position:absolute;
		left:.3rem;
		a{
			display:block;
			width:.2rem;
		}
	}
 	h1{
 		width:100%;
 		font:.32rem/1.5 $publicFont;
 		color:#333;
 		text-align:center;
 	}
 	.right{
 		position:absolute;
 		top:50%;
 		right:.3rem;
 		@include display(flex);
		@include align-items(center);
		@include transform(translate(0,-50%));
 		a{
 			margin-left:.4rem;
 			width:.37rem;
 			height:.37rem;
 			font-size:0;
 			img{
 				width:100%;
 				height:100%;
 			}
 		}
 	}
}
.auction-content{
	.items{
		margin-bottom:.4rem;
		.img{
			position:relative;
			width:100%;
			height:3.6rem;
			font-size:0;
			overflow:hidden;
			img{
			    width: 100%;
			    height:100%;
			    object-fit:cover;
			}
			.text{
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				padding:0 .3rem;
				height:.6rem;
				background:rgba(0,0,0,.6);
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				span{
					font:.24rem/1.5 $publicFont;
					color:#fff;
				}
			}
		}
		h2{
			padding:.2rem .3rem;
			font:.36rem/1.5 $publicFont;
			color:#333;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		.auction-price{
			padding:0 .3rem;
			@include display(flex);
			@include align-items(flex-end);
			@include justify-content(space-between);
			.integral{
				p{
					font:.2rem/1.5 $publicFont;
					color:#da004c;
				}
				h3{
					font:.42rem/1 $publicFont;
					color:#da004c;
				}
			}
			>p{
				font:.24rem/1 $publicFont;
				color:#333;
				em{
					color:#da004c;	
				}
			}
			>a{
				width:1.6rem;
				height:.6rem;
				background-color:#da004c;
				border-radius:5px;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				span{
					font:bold .24rem/1.2 $publicFont;
					color:#fff;
				}
			}
		}
	}
	.title{
		position:relative;
		margin:.5rem 0 .4rem;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		.line{
			position:absolute;
			width:100%;
			height:1px;
			background-color:#ddd;
		}
		p{
			position:relative;
			width:1.4rem;
			background-color:#fff;
			font:.24rem/1.5 $publicFont;
			color:#666;
			text-align:center;
		}
	}
	.finish-items{
		margin-bottom:.4rem;
		.img{
			position:relative;
			width:100%;
			height:3.6rem;
			font-size:0;
			overflow:hidden;
			img{
			    width: 100%;
			    height:100%;
			    object-fit:cover;
			}
			.text{
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				padding:0 .3rem;
				height:.6rem;
				background:rgba(0,0,0,.6);
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				span{
					font:.24rem/1.5 $publicFont;
					color:#fff;
				}
			}
		}
		h2{
			padding:.2rem .3rem;
			font:.36rem/1.5 $publicFont;
			color:#999;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		.auction-price{
			padding:0 .3rem;
			@include display(flex);
			@include align-items(flex-end);
			@include justify-content(space-between);
			.integral{
				p{
					font:.2rem/1.5 $publicFont;
					color:#333;
				}
				h3{
					font:.42rem/1 $publicFont;
					color:#333;
				}
			}
			>p{
				font:.24rem/1 $publicFont;
				color:#999;
			}
			>a{
				width:1.6rem;
				height:.6rem;
				background-color:#a0a0a0;
				border-radius:5px;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				span{
					font:bold .24rem/1.2 $publicFont;
					color:#fff;
				}
			}
		}
	}
}
.rule-btn{
	position:fixed;
	right:.2rem;
	bottom:1.4rem;
	width:.8rem;
	height:.8rem;
	border:1px solid;
	color:#da004c;
	border-radius:100%;
	background-color:$white;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	box-shadow:0 2px 4px 0 rgba(218,0,76,.5);
	p{
		font:.28rem/1.5 $publicFont;
	}
}
/*竞拍详情 auction-detail-content*/
.auction-detail-wrapper{
	padding-bottom:1.1rem;
}
.auction-detail-content{
	.banner{
		position:relative;
		width:100%;
		height:4.5rem;
		.swiper-container .swiper-slide{
			width:100%;
			height:4.5rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}
		p{
			position:absolute;
			left:0;
			right:0;
			bottom:0;
		    z-index: 1;
		    padding:0 .34rem;
			width:100%;
			height:.6rem;
			background:rgba(0,0,0,.35);
			font:.24rem/.6rem $publicFont;
			color:#fff;
		}
	}
	.info{
		padding:0 .3rem;
		.info-top{
			padding:.3rem 0;
			border-bottom:1px solid #f5f5f5;
			h2{
				margin-bottom:.2rem;
				font:.3rem/1.2 $publicFont;
				color:#000;
			}
			p{
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				span{
					&:first-child{
						font:.24rem/1.2 $publicFont;
						color:#da004c;
						strong{
							font:bold .4rem/1.2 $publicFont;
						}
					}
					&:last-child{
						font:.24rem/1.2 $publicFont;
						color:#666;
					}
				}
			}
		}
		.info-bottom{
			padding:.3rem 0;
			.t{
				margin-bottom:.2rem;
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				p{
					font:.22rem/1.2 $publicFont;
					color:#666;
					span{
						color:#333;
					}
				}
			}
			.b{
				@include display(flex);
				@include align-items(center);
				p{
					margin-right:.3rem;
					font:.22rem/1.2 $publicFont;
					color:#666;
					span{
						color:#333;
					}
				}
			}
		}
	}
	.record{
		padding:.3rem;
		background-color:#f5f5f5;
		.title{
			@include display(flex);
			@include align-items(center);
			@include justify-content(space-between);
			h3{
				font:.3rem/1.5 $publicFont;
				color:#666;
			}
			a{
				font:.24rem/1.5 $publicFont;
				color:#666;
			}
		}
		ul{
			padding-top:.3rem;
			li{
				margin-bottom:.3rem;
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				.img{
					width:.5rem;
					height:.5rem;
					font-size:0;
					border-radius:100%;
					overflow:hidden;
					background-color:#dcdcdc;
					img{
						width:100%;
						height:100%;
						object-fit:cover;
					}
				}
				p{
					padding-left:.25rem;
					@include box-flex(1);
					font:.22rem/1.5 $publicFont;
					@include display(flex);
					@include align-items(center);
					@include justify-content(space-between);
					span{
						&:first-child{
							width: 1.55rem;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    white-space: nowrap;
						}
						&:nth-child(2){
							color:#999;
						}
						&:nth-child(4){
							color:#999;
						}
						&:nth-child(4).on-top{
							font-weight:bold;
							color:#da004c;
						}
					}
				}
				&:last-child{
					margin-bottom:0;
				}
			}
		}
	}
	.project-info{
		padding:.3rem;
		.title{
			padding-bottom:.2rem;
			border-bottom:1px solid #f5f5f5;
			h3{
				font:.3rem/1.5 $publicFont;
				color:#666;
			}
		}
		.project-info-content{
			width:100%;
			img{
				width:100%;
			}
		}
	}
}
.detail-btn{
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	z-index:3;
	padding:0 .3rem;
	margin:0 auto;
	width:100%;
	height:1.1rem;
	max-width:750px;
	background:rgba(218,0,76,.9);
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	h3{
		font:.36rem/1.5 $publicFont;
		color:#fff;
	}
	p{
		font:.22rem/1.5 $publicFont;
		color:#fff;	
	}
}
.finish-btn{
	background:rgba(160,160,160,.9);
}
.insufficient{
	position:fixed;
	top:50%;
	left:50%;
	z-index:5;
	width:6.2rem;
	background:#fff;
	border-radius:5px;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
	>p{
		padding:.25rem .25rem 0 .25rem;
		font:.26rem/1.5 $publicFont;
		color:#333;
	}
	ul{
		padding:0 .55rem;
		margin:.5rem 0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		li{
			.img{
				width:1.1rem;
				height:1.1rem;
				font-size:0;
				background-color:#eee;
				border-radius:10px;
				margin-bottom:.1rem;
				img{
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
			p{
				font:.24rem/1.5 $publicFont;
				color:#333;
				text-align:center;
			}
		}
	}
	.btn{
		width:100%;
		height:.8rem;
		border-top:1px solid #ddd;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		span{
			font:.26rem/1.5 $publicFont;
			color:#333;
		}
	}
}
.insufficient.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}
.integral-prompt{
	position:fixed;
	top:50%;
	left:50%;
	z-index:5;
	width:6.2rem;
	background:#fff;
	border-radius:5px;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
	>p{
		padding:.45rem .45rem 0 .45rem;
		font:.26rem/1.5 $publicFont;
		color:#333;
		span{
			color:#da004c;
		}
	}
	dl{
		padding:0 .45rem;
		margin:.4rem 0;
		dd{
			@include display(flex);
			@include align-items(center);
			&:first-child{
				margin-bottom:.25rem;
			}
			.select{
				width:16px;
				height:16px;
				border:1px solid #ddd;
				border-radius:5px;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
			}
			span{
				margin-left:.15rem;
				font:.24rem/1.5 $publicFont;
				color:#999;
			}
		}
		dd.on{
			.select i{
				margin:3px 2px;
				width:10px;
				height:10px;
				background-color:#bfbfbf;
				border-radius:3px;
			}
		}
	}
	.btn{
		width:100%;
		height:.8rem;
		border-top:1px solid #ddd;
		overflow:hidden;
		@include display(flex);
		@include align-items(center);
		a{
			@include box-flex(1);
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			height:.8rem;
			&:first-child{
				border-right:1px solid #ddd;
			}
			span{
				font:.26rem/1.5 $publicFont;
				color:#333;
			}
		}
	}
}
.integral-prompt.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}
.see-big-img{
	position:fixed;
	top:50%;
	left:50%;
	z-index:5;
	width:6.6rem;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
	.big-img{
		width:6.6rem;
		height:6.6rem;
		overflow:hidden;
		.swiper-slide{
			width:6.2rem;
			height:6.2rem;
			font-size:0;
			img{
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}
	}
	.big-img-close{
		position:absolute;
    	bottom:-1.5rem;
    	left:50%;
    	width:.8rem;
    	height:.8rem;
    	border:1px solid #fff;
    	border-radius:100%;
    	background:rgba(0,0,0,.2);
    	@include transform(translate(-50%, 0));
    	@include display(flex);
		@include align-items(center);
		@include justify-content(center);
    	a{
    		display: inline-block; 
    		width:.5rem;
    		height:1px; 
    		background: #fff;
    		line-height: 0;
    		font-size:0;
    		vertical-align: middle;
    		@include transform(rotate(45deg));
    		&:after{
    			content:'/';
    			display:block;
    			width:.5rem;
    			height:1px; 
    			background: #fff;
    			@include transform(rotate(-90deg));
    		}
    	}
	}
}
.see-big-img.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}
.share-mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:4;
	background:rgba(0,0,0,.5);
	img{
		width:100%;
	}
}
.auction-success-mask{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:5;
	padding:.3rem;
	background-color:#fff;
	@include transform(translate(0, 100%));
	@include transition(all .5s);
	h2{
		margin-bottom:.3rem;
		font:.36rem/1.5 $publicFont;
		color:#da004c;
		text-align:center;
	}
	p{
		font:.26rem/1.5 $publicFont;
		color:#333;
		text-align:center;
		span{
			color:#da004c;
		}
	}
	.gray{
		margin-top:.3rem;
		font:.24rem/1.5 $publicFont;
		color:#999;
		text-align:center;
	}
}
.auction-success-mask.on{
	@include transform(translate(0, 0));
	@include transition(all .5s);
}
.auction-finish-mask{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:5;
	padding:.3rem 0 .2rem;
	background-color:#fff;
	@include transform(translate(0, 100%));
	@include transition(all .5s);
	>h3{
		margin-bottom:.3rem;
		font:.36rem/1.5 $publicFont;
		color:#333;
		text-align:center;
	}
	>p{
		font:.26rem/1.5 $publicFont;
		color:#666;
		text-align:center;
	}
	.title{
		border-bottom:1px solid #ddd;
	    position: relative;
        margin-bottom: .5rem;
   		height: .5rem;
		span{
			position: absolute;
		    top: .25rem;
		    left: 50%;
		    padding: 0 .2rem;
			background-color:#fff;
			font:.26rem/1.5 $publicFont;
			color:#999;
			text-align:center;
			@include transform(translate(-50%, 0));
		}
	}
	.tab-auction{
		margin-top:.2rem;
		.items{
			margin-bottom:.2rem;
			@include display(flex);
			@include align-items(center);
			.img{
				position:relative;
				width:3.15rem;
				height:3.15rem;
				border:1px solid #ddd;
				font-size:0;
				overflow: hidden;
				img{
					width:100%;
					height:100%;
					object-fit:cover; 
				}
				p{
					position:absolute;
					left:0;
					right:0;
					bottom:0;
					height:.6rem;
					background:rgba(0,0,0,.5);
					font:.24rem/.6rem $publicFont;
					color:#fff;
					text-align:center;
				}
			}
			.text{
				padding:0 .25rem;
				@include box-flex(1);
				>h2{
					font:.32rem/1.2 $publicFont;
					color:#000;
				}
				>p{
					margin-top:.2rem;
					font:.2rem/1.5 $publicFont;
					color:#999;
				}
				>h3{
					font:bold .42rem/1.2 $publicFont;
					color:#da004c;
				}
				.fail{
					color:#999;
				}
				.before-integral{
					margin-top:.2rem;
					p{
						font:.2rem/1.5 $publicFont;
						color:#da004c;
					}
					h3{
						font:bold .42rem/1.2 $publicFont;
						color:#da004c;
					}
				}
				.my-auction-content{
					margin-top:.2rem;
					@include display(flex);
					@include align-items(center);
					@include justify-content(space-between);
					.l{
						p{
							font:.2rem/1.5 $publicFont;
							color:#999;
						}
					}
					.btn{
						width:1.6rem;
						height:.6rem;
						background-color:#da004c;
						border-radius:5px;
						@include display(flex);
						@include align-items(center);
						@include justify-content(center);
						span{
							font:bold .24rem/1.2 $publicFont;
							color:#fff;
						}
					}
				}
			}
		}
	}
}
.auction-finish-mask.on{
	@include transform(translate(0, 0));
	@include transition(all .5s);
}
/*我的竞拍 my-auction-content*/
.my-auction-wrapper{
	padding-top:1.6rem;
}
.tab-nav{
	position:fixed;
	left:0;
	top:1rem;
	right:0;
	z-index:3;
	background-color:$white;
	margin:0 auto;
	width:100%;
	max-width:750px;
	.tab{
		position:relative;
		width:100%;
		height:.7rem;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		box-shadow:2px 2px 4px 0 rgba(0,0,0,.1);
		li{
			width:1.6rem;
			font:.26rem/1.5 $publicFont;
			color:#666;
			text-align:center;
		}
		li.on{
			color:#da004c;
		}
		.line{
			position:absolute;
			width:.7rem;
			height:2px;
			border-radius:30px;
			background-color:#da004c;
		    left: 2.6rem;
    		bottom: .1rem;
    		@include transition(all .5s);
		}
	}
}
.my-auction-content{	
	.tab-auction{
		margin-top:.2rem;
		.items{
			margin-bottom:.2rem;
			@include display(flex);
			@include align-items(center);
			.img{
				position:relative;
				width:3.15rem;
				height:3.15rem;
				border:1px solid #ddd;
				font-size:0;
				overflow: hidden;
				img{
					width:100%;
					height:100%;
					object-fit:cover; 
				}
				p{
					position:absolute;
					left:0;
					right:0;
					bottom:0;
					height:.6rem;
					background:rgba(0,0,0,.5);
					font:.24rem/.6rem $publicFont;
					color:#fff;
					text-align:center;
				}
			}
			.text{
				padding:0 .25rem;
				@include box-flex(1);
				>h2{
					font:.32rem/1.2 $publicFont;
					color:#000;
				}
				>p{
					margin-top:.2rem;
					font:.2rem/1.5 $publicFont;
					color:#999;
				}
				>h3{
					font:bold .42rem/1.2 $publicFont;
					color:#da004c;
				}
				.fail{
					color:#999;
				}
				.before-integral{
					margin-top:.2rem;
					p{
						font:.2rem/1.5 $publicFont;
						color:#da004c;
					}
					h3{
						font:bold .42rem/1.2 $publicFont;
						color:#da004c;
					}
				}
				.my-auction-content{
					margin-top:.2rem;
					@include display(flex);
					@include align-items(center);
					@include justify-content(space-between);
					.l{
						p{
							font:.2rem/1.5 $publicFont;
							color:#999;
						}
					}
					.btn{
						width:1.6rem;
						height:.6rem;
						background-color:#da004c;
						border-radius:5px;
						@include display(flex);
						@include align-items(center);
						@include justify-content(center);
						span{
							font:bold .24rem/1.2 $publicFont;
							color:#fff;
						}
					}
				}
			}
		}
	}
}
/*拍卖记录 auction-record*/
.auction-record-header{
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.auction-record-content{
	ul{
		padding:.3rem;
		li{
			margin-bottom:.3rem;
			@include display(flex);
			@include align-items(center);
			@include justify-content(space-between);
			.img{
				width:.5rem;
				height:.5rem;
				font-size:0;
				border-radius:100%;
				overflow:hidden;
				background-color:#dcdcdc;
				img{
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
			p{
				padding-left:.25rem;
				@include box-flex(1);
				font:.22rem/1.5 $publicFont;
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				span{
					&:first-child{
						width: 1.55rem;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					}
					&:nth-child(2){
						color:#999;
					}
					&:nth-child(4){
						color:#999;
					}
					&:nth-child(4).on-top{
						font-weight:bold;
						color:#da004c;
					}
				}
			}
		}
	}
}

.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:4;
	display:none;
	background:#000;
	opacity:.5;
}
.rule-mask{
	position:fixed;
	top:50%;
	left:50%;
	z-index:5;
	padding:.25rem;
	width:6.2rem;
	background:#fff;
	border-radius:5px;
	@include transform(translate(-50%, -500%));
	@include transition(all .5s);
    h2{
		font:.36rem/1.5 $publicFont;
		color:#333;
		text-align:center;
		margin-bottom:.2rem;
    }
	.rule-mask-content{
		padding:.3rem;
		background-color:#f5f5f5;
		border-radius:5px;	
		p{
			font:.24rem/1.5 $publicFont;
			color:#333;
		}
	}
	.rule-mask-close{
		position:absolute;
    	bottom:-1.5rem;
    	left:50%;
    	width:.8rem;
    	height:.8rem;
    	border:1px solid #fff;
    	border-radius:100%;
    	background:rgba(0,0,0,.2);
    	@include transform(translate(-50%, 0));
    	@include display(flex);
		@include align-items(center);
		@include justify-content(center);
    	a{
    		display: inline-block; 
    		width:.5rem;
    		height:1px; 
    		background: #fff;
    		line-height: 0;
    		font-size:0;
    		vertical-align: middle;
    		@include transform(rotate(45deg));
    		&:after{
    			content:'/';
    			display:block;
    			width:.5rem;
    			height:1px; 
    			background: #fff;
    			@include transform(rotate(-90deg));
    		}
    	}
	}
}
.rule-mask.on{
	@include transform(translate(-50%, -50%));
	@include transition(all .5s);
}