@import 'base','common';
.wrapper{
	padding-top:.5rem;
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	background-color:#e0d3c7;
}
.bouns{
	margin:0 auto .3rem;
	width:6.76rem;
	height:8.33rem;
	font-size:0;
	>img{
		width:100%;
		height:100%;
	}
	.bouns-hide{
		position:relative;
		display:none;
		>img{
			width:100%;
			height:100%;
		}
		.text{
			position:absolute;
			top:2rem;
			left:0;
			right:0;
			bottom:0;
			z-index:5;
			h3{
				font:bold .36rem/1.5 $publicFont;
				color:#fffccb;
				text-align:center;
			}
			p{
				font:.26rem/1.5 $publicFont;
				color:#fffccb;
				text-align:center;
			}
			h2{
				margin:1.14rem 0;
				font:.48rem/1.5 $publicFont;
				color:#fff000;
				text-align:center;
				strong{
					font:bold 1rem/1.5 $publicFont;
				}
			}
			a{
				display:block;
				font:.24rem/1.5 $publicFont;
				color:#fffccb;
				text-align:center;
			}
		}
	}
}
.bouns-index{
	margin:0 auto;
	width:6rem;
	height:auto;
	padding:.1rem;
	background-color:#fff;
	border-radius:5px;
	.bouns-index-content{
		padding:.25rem 0;
		border:1px dashed #a18f7e;
		border-radius:5px;
		text-align:center;
		a{
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			span{
				font:bold .3rem/1.5 $publicFont;
				color:#534115;
			}
			i{
				width:.26rem;
				height:.24rem;
				font-size:0;
				img{
					width:100%;
					height:100%;
				}
			}
		}
		p{
			font:.24rem/1.5 $publicFont;
			color:#1c2302;
		}
	}
}
.bouns-rule{
	margin-top:.6rem;
	display:block;
	font:.26rem/1.5 $publicFont;
	color:#cf3737;
	text-align:center;
}
.public-mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:101;
	display:none;
	background-color:#000;
	opacity:.3;
}
.mask-rule{
	position:fixed;
	top:50%;
	left:50%;
	z-index:102;
	padding:.1rem;
	width:5.8rem;
	background-color:#fff;
	border-radius:5px;
	@include transition(all .5s);
	@include transform(translate(-50%,-500%));
	.rule-content{
		padding:.3rem .4rem;
		border:1px dashed #a18f7e;
		border-radius:5px;
		h2{
			font:.36rem/1.5 $publicFont;
			color:#261a00;
			text-align:center;
		}
		.text{
			margin:.4rem 0;
			p{
				font:.26rem/1.5 $publicFont;
				color:#261a00;
				margin-bottom: .2rem;
			}
			>img{
				margin:.2rem auto;
			    width: 100%;
    			display: block;
			}
		}
		a{
			margin:0 auto;
			display:block;
			width:2.42rem;
			height:.74rem;
			border:1px solid;
			font:.3rem/.74rem $publicFont;
			color:#cf3737;
			text-align:center;
			border-radius:30px;
		}
	}
}
.mask-rule.mask-rule-active{
	@include transition(all .5s);
	@include transform(translate(-50%,-50%));
}
