@import 'base','common','variable';
.choose-coupons-wrapper{
	// padding-top:100px;
	background-color:#f7f7f7;
}
.choose-coupons-header{
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:3;
	padding:0 3%;
	width:100%;
	height:44px;
	max-width:640px;
	margin:0 auto;
	overflow:hidden;
 	@include display(flex);
 	align-items:center;
 	.left{
 		width:10%;
 	}
 	h1{
 		width:80%;
 		font:.8rem/40px $publicFont;
 		color:#333;
 		text-align:center;
 	}
 	.right{
 		margin-left:-15%;
 		width:25%;
 		a{
		    display: block;
 			font:.6rem/40px $publicFont;
 			color:#333;
 			text-align:right;
 		}
 	}
}
.choose-coupos-content{
	display:block;
}
.choose-coupos-content.on{
	display:block;
}
.date-list{
	position: fixed;
    top: 43px;
    z-index:3;
	padding:10px 0;
	width:100%;
	max-width:640px;
	margin:0 auto;
	height:auto;
	background-color:#fff;
	border-bottom:1px solid #f1f1f1;
	overflow:scroll;
	&::-webkit-scrollbar{
		width:0;
		height:0
	}
	ul{
		width:20rem;
		li{
			float:left;
			width:5rem;
			border-right:1px solid #f8f8f8;
			p{
				font:.7rem/1.5 $publicFont;
				color:#999;
				text-align:center;
			}
			.date-coupon{
				display:none;
				color:#da004b;
			}
			.untapped{
				display:block;
			}
		}
		.active{
			position:relative;
			.date-coupon{
				display:block;
			}
			.untapped{
				display:block;
				color:#da004b;
			}
			em{
				position:absolute;
				left:35%;
				bottom:-8px;
				width:30%;
				height:2px;
				background-color:#da004b;
			}
		}
	}
}
.coupon-list{
	.item{
		position:relative;
		margin:5%;
		padding:5% 2% 2% 2%;
		background-color:#fff;
		border-radius:5px;
		box-shadow: 1px 2px 5px #ebebeb;
		// display:none;
		.left{
			float:left;
			.price{
				margin:0 0 0 10px;
				width:50px;
				height:50px;
				background-color:#da004b;
				border-radius:100%;
				font:.55rem/50px $publicFont;
		 		color:#fff;
		 		text-align:center;
		 		@include display(flex);
				align-items:center;
				justify-content: center;
		 		em{
		 			font:bold 1rem/50px $publicFont;
		 		}
		 		i{
		 			@include display(flex);
					align-items:center;
					justify-content: center;
		 			width:26px;
		 			font-size:0;
		 			img{
		 				width:100%;
		 			}
		 		}
			}
			.no-choice{
    			background-color: #e5e5e5;
			}
		}
		.right{
			margin-left:70px;
			h3{
				font:.85rem/1.5 $publicFont;
		 		color:#333;
		 		span{
					font:.6rem/1.5 $publicFont;
			 		color:#666;
		 		}
			}
			p{
				font:.65rem/1.5 $publicFont;
		 		color:#666;
		 		margin-bottom:1rem;
			}
			time{
				padding:.3rem 0;
				border-top:1px solid #eee;
			    display: block;
				font:.6rem/1.5 $publicFont;
		 		color:#999;
			}
		}
		.msg{
			display:none;
		}
		.select{
			position:absolute;
			top:8%;
			right:3%;
			i{
				display:block;
				width:1rem;
				height:1rem;
				font-size:0;
				img{
					width:100%;
				}
			}
		}
		&:before{
			position:absolute;
			top:3.7rem;
			left:-.4rem;
			content:"";
			width:.8rem;
			height:.8rem;
			background-color:#f7f7f7;
			border-radius:100%;	
		}
		&:after{
			position:absolute;
			top:3.7rem;
			right:-.4rem;
			content:"";
			width:.8rem;
			height:.8rem;
			background-color:#f7f7f7;
			border-radius:100%;	
		}
	}
	.active{
		display:block;
	}
	.item.disabled{
		.left{
			.price{
				background-color:#dfdfdf;
			}
		}
		.right{
			h3{
				font:.85rem/1.5 $publicFont;
		 		color:#999;
		 		span{
					font:.6rem/1.5 $publicFont;
			 		color:#999;
		 		}
			}
			p{
				font:.65rem/1.5 $publicFont;
		 		color:#999;
		 		margin-bottom:1rem;
			}
		}
		.msg{
			width: 105%;
		    margin: 0 -2.5%;
		    padding-left: 5%;
		    padding-right: 5%;
		    padding-top: 2%;
		    border-top: 1px dashed #eee;
			display:block;
			font:.55rem/1.5 $publicFont;
	 		color:#999;
		}
	}
}
.choose-coupons-footer{
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	z-index:3;
	width:100%;
	height:auto;
	max-width:640px;
	margin:0 auto;
	overflow:hidden;
	background-color:#eee;
	>p{
		padding:.1rem 3%;
		@include display(flex);
 		align-items:center;
 		span{
			font:.65rem/2 $publicFont;
	 		color:#999;
 		}
 		i{
			width:20px;
			height:20px;
			font-size:0;
			img{
				width:100%;
				height:100%;
			}
 		}
	}
	.choose-coupons-footer-content{
		padding:.4rem 3%;
		@include display(flex);
 		align-items:center;
	    justify-content: space-between;
 		background-color:#fff;
 		.ccfc-left{
 			@include display(flex);
 			align-items:center;
 			span{
 				font:.7rem/2 $publicFont;
	 			color:#666;
 			}
 			i{
 				margin:0 0 0 10px;
				width:0;
				height:0;
				border-left:solid 5px;
				border-right:solid 5px;
				border-bottom:solid 8px;
				border-color:transparent transparent #f19ec2 transparent;	
 			}
 		}
 		.ccfc-right{
 			button{
 				padding:0 5%;
 				background:none;
 				outline:none;
 				border:none;
 				width:5rem;
 				font:.7rem/2.4 $publicFont;
	 			color:#fff;
	 			background:#d9236b;
	 			border-radius:5px;
 			}
 		}
	}	
}
.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9;
	background-color:#000;
	opacity:.8;
	display:none;
}
.maskActive{
	display:block;
}
.coupon-rule{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	padding:5%;
	background-color:#fff;
	border-radius:10px 10px 0 0;
	@include transform(translate(0, 100%));
	@include transition(all .5s);
	.close{
		position:absolute;
		top:3%;
		right:5%;
		z-index:1;
		width:20px;
		height:20px;
		font-size:0;
		img{
			width:100%;
			height:100%;
		}
	}
	h3{
		position:relative;
 		text-align:center;
 		span{
 			font:.8rem/2 $publicFont;
 			color:#666;	
 		}
 		em{
 			display: block;
    		margin: 0 auto;
 			width:2rem;
 			height:2px;
 			border-radius:30px;
			background-color:#f19ec2;
 		}
	}
	h4{
		margin-top:.5rem;
		font:.7rem/2 $publicFont;
 		color:#333;
	}
	p{
		font:.7rem/1.5 $publicFont;
 		color:#333;
	}
}
.couponRuleActive{
	@include transform(translate(0, 0));
	@include transition(all .5s);
}
.coupon-mask{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	padding:5%;
	background-color:#f2f2f2;
	border-radius:10px 10px 0 0;
	@include transform(translate(0, 100%));
	@include transition(all .5s);
	.close{
		position:absolute;
		top:3%;
		right:5%;
		z-index:1;
		width:20px;
		height:20px;
		font-size:0;
		img{
			width:100%;
			height:100%;
		}
	}
	>h3{
		position:relative;
 		text-align:center;
 		span{
 			font:.8rem/2 $publicFont;
 			color:#666;	
 		}
 		em{
 			display: block;
    		margin: 0 auto;
 			width:1.5rem;
 			height:2px;
 			border-radius:30px;
			background-color:#f19ec2;
 		}
	}
	.empty-img{
		margin:1rem auto;
		width:4rem;
		height:4rem;
		background-color:#e6e6e6;
		border-radius:100%;
		@include display(flex);
 		align-items:center;
	    justify-content: center;
	    font-size:0;
		img{
			width:40%;
		}
	}
	.empty-p{
		text-align:center;
		font:.7rem/2 $publicFont;
 		color:#999;
	}
	.list{
		margin-top:5%;
		max-height:10rem;
		overflow:scroll;
		.selected-item{
			position:relative;
			margin-bottom:5%;
			padding:5% 2% 2% 2%;
			background-color:#fff;
			border-radius:5px;
			box-shadow: 1px 2px 5px #ebebeb;
			// display:none;
			.left{
				float:left;
				.price{
					margin:0 0 0 10px;
					width:50px;
					height:50px;
					background-color:#da004b;
					border-radius:100%;
					font:.55rem/50px $publicFont;
			 		color:#fff;
			 		text-align:center;
			 		@include display(flex);
					align-items:center;
					justify-content: center;
			 		em{
			 			font:bold 1rem/50px $publicFont;
			 		}
			 		i{
			 			@include display(flex);
						align-items:center;
						justify-content: center;
			 			width:26px;
			 			font-size:0;
			 			img{
			 				width:100%;
			 			}
			 		}
				}
			}
			.right{
				margin-left:70px;
				h3{
					font:.85rem/1.5 $publicFont;
			 		color:#333;
			 		span{
						font:.6rem/1.5 $publicFont;
				 		color:#666;
			 		}
				}
				p{
					font:.65rem/1.5 $publicFont;
			 		color:#666;
			 		margin-bottom:1rem;
				}
				time{
					padding:.3rem 0;
					border-top:1px solid #eee;
				    display: block;
					font:.6rem/1.5 $publicFont;
			 		color:#999;
				}
			}
			.select-img{
				position:absolute;
				top:8%;
				right:3%;
				i{
					display:block;
					width:1rem;
					height:1rem;
					font-size:0;
					img{
						width:100%;
					}
				}
			}
			&:before{
				position:absolute;
				top:62%;
				left:-.4rem;
				content:"";
				width:.8rem;
				height:.8rem;
				background-color:#f7f7f7;
				border-radius:100%;	
			}
			&:after{
				position:absolute;
				top:62%;
				right:-.4rem;
				content:"";
				width:.8rem;
				height:.8rem;
				background-color:#f7f7f7;
				border-radius:100%;	
			}
		}
	}
	>p{
		text-align:center;
		font:.65rem/2 $publicFont;
 		color:#999;
	}
}
.couponMaskActive{
	@include transform(translate(0, 0));
	@include transition(all .5s);
}