@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background-color:#fff;
}
/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.start{
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom:5%;
    z-index:10;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;            
}
.page{
	position:relative;
	width:100%;
	height:100%;
	.t{
		position:absolute;
		left:10%;
		top:10%;
		width:80%;
		img{
			width:100%;
		}
	}
	.b{
		position:absolute;
		left:15%;
		bottom:15%;
		width:70%;
		font-size:0;
		img{
			width:100%;
		}
		span{
			position:absolute;
		    left: .3rem;
    		top: -.2rem;
			font:bold italic 1rem/1 nth($publicFont,6);
			color:#c61a4b;
		}
	}
}
.page0{
	.allItem{
		// position:absolute;
		// left:22.5%;
		// bottom:20%;
		padding-top:85%;
		margin:0 auto;
		width:55%;
		.item{
			position:relative;
			font-size:0;
			margin:8% 0;
			img{
				width:100%;
			}
			label{
				position:absolute;
				right:15%;
				bottom:0;
				width:30%;
				height:1.2rem;
				border-bottom:1px solid #d73b67;
				overflow:hidden;	
				input{
					border:none;
					background:none;
					outline:none;	
					text-align:center;
					width:80%;
					height:100%;
					color:#d73b67;
					font:bold 1rem/1 $publicFont;
				}
			}
		}
	}
	.btn{
		// position:absolute;
		// left:20%;
		// bottom:5%;
		padding-top:5%;
		margin:0 auto;
		width:60%;
		font-size:0;
		img{
			width:100%;
		}
	}
}
.page4{
	.b{
		position:absolute;
		left:22.5%;
		bottom:12%;
		width:55%;
		font-size:0;
		img{
			width:100%;
		}
		span{
			position:absolute;
			font:bold italic 1rem/1 nth($publicFont,6);
			color:#c61a4b;
			&:nth-child(1){
				left:3.5rem;
			    top:-.2rem;
			    width:2rem;
			    text-align:center;
			}
			&:nth-child(2){
				left: 4.8rem;
			    top: 1.5rem;
			    text-align: center;
			    width: 3rem;
			}
		}
	}
}
.page5{
	.b{
		position:absolute;
		bottom:12%;
		font-size:0;
		img{
			width:100%;
		}
		span{
			position:absolute;
			font:bold italic 1rem/1 nth($publicFont,6);
			color:#c61a4b;
			&:nth-child(1){
				left: 7.8rem;
			    top: -.2rem;
			    width: 1.5rem;
			    text-align: center;
			}
			&:nth-child(2){
				left: 0.6rem;
			    top: 1.5rem;
			    text-align: center;
			    width: 2.8rem;
			}
		}
	}
}
.page6{
	.t{
		height:40%;
		img{
			height:100%;
		}
	}
	.b{
		position:absolute;
		left:20%;
		bottom:5%;
		width:60%;
		font-size:0;
		img{
			width:100%;
		}
		.btn{
			margin:15% auto 0;
			width:90%;
			font-size:0;
			img{
				width:100%;
			}
		}
	}
}
.motherCity{
	position:absolute;
	top:50%;
	left:50%;
	width:70%;
	height:auto;
	@include transform(translate(-50%,-50%));
	>h1{
		margin-bottom:2rem;
		font:bold 2rem/1.2 $publicFont;
		text-align:center;
		color:#6d7ba4;
	}
	>p{
		margin-bottom:2rem;
		font:.75rem/1.2 $publicFont;
		color:#6e7388;
	}
	.conpon{
		position:relative;
		margin-bottom:2rem;
		font-size:0;
		img{
			width:100%;
		}
		.text{
			position:absolute;
			top: 1.75rem;
    		left: 6.5rem;
			h3{
				font:.92rem/1.2 $publicFont;
				color:$white;
			}
			p{
				font:.7rem/1.2 $publicFont;
				color:$white;
			}
		}
		.btn{
			margin-top:3rem;
			display:-webkit-flex;
			display:flex;
			align-items:center;
			a{
				&:nth-child(1){
					margin-right:.5rem;
				}
				font-size:0;
				img{
					width:100%;
				}
			}
		}
	}
}
.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	display:none;
	background-color:$black;
	opacity:.7;
}
.loginMask{
	position:absolute;
	top:50%;
	left:50%;
	z-index:2;
	display:none;
	width:70%;
	@include transform(translate(-50%,-50%));
	font-size:0;
	>img{
		width:100%;
	}
	.item{
		position:absolute;
		left:10%;
		top:18%;
		width:80%;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		span{
			color:$black;
			font:bold .75rem/1 $publicFont;
			margin-right:.3rem;
		}
		input{
			flex:1;
			width:100%;
			border:none;
			background:none;
			outline:none;
			border-bottom:1px solid $black;
			color:$black;
			font:bold .75rem/1 $publicFont;
		}
	}
	.slider-container{
		position:absolute;
		top:40%;
		left:10%;
	    width:80%;
	    height:1.5rem;
	    line-height:1.5rem;
	    overflow: hidden;
	    font-size: 0;
	}
	.btn{
		position:absolute;
		left:30%;
		bottom:15%;
		width:40%;
		img{
			width:100%;
		}
	}
}
.successMask{
	@extend .loginMask;
	>p{
		position:absolute;
		left:15%;
		top:25%;
		width:70%;
		color:#333;
		font:bold .75rem/1.5 $publicFont;
	}
}
.share{
	position:absolute;
	top:5%;
	right:5%;
	z-index:2;
	display:none;
	width:70%;
	img{
		width:100%;
	}
}