@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 30px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
/* public css begin */
.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 320px;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }

/* login css begin */
.login .logo {
  margin: 1rem auto;
  display: block;
  width: 30%; }
.login form {
  margin: 0 auto;
  width: 90%; }

.loginList {
  padding: 0 5%;
  background-color: #3a89b8;
  border-radius: 10px;
  border: 1px solid #115f87; }
  .loginList .item {
    padding: 1rem 0;
    width: 100%;
    /*old*/
    display: -webkit-box;
    /*new*/
    display: -webkit-flex;
    display: flex;
    /*old*/
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /*new*/
    justify-content: center;
    align-items: center; }
    .loginList .item:first-child {
      border-bottom: 1px solid #fff; }
    .loginList .item i {
      width: 1rem;
      height: 1rem;
      display: inline-block; }
      .loginList .item i img {
        width: 100%; }
    .loginList .item input {
      -webkit-flex: 1;
      flex: 1;
      margin-left: .5rem;
      outline: none;
      background: none;
      border: 0;
      -webkit-appearance: none;
      appearance: none;
      color: #fff;
      font: 0.75rem/1 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
      .loginList .item input::-webkit-input-placeholder {
        color: #fff; }

.btn {
  margin-top: 1rem;
  height: 2.4rem;
  background-color: #0d5bad;
  border-radius: 10px; }
  .btn button {
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    border: 0;
    color: #fff;
    font: 0.75rem/1 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

/*encourage begin*/
.encourageHeader {
  background-color: #caebfe; }
  .encourageHeader h1 {
    font: 0.75rem/2rem "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #4d788b;
    text-align: center; }

.userInfo {
  padding: 5%;
  /*old*/
  display: -webkit-box;
  /*new*/
  display: -webkit-flex;
  display: flex;
  /*old*/
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /*new*/
  justify-content: center;
  align-items: center; }
  .userInfo .head {
    position: relative;
    -webkitflex: 1;
    flex: 1; }
    .userInfo .head p {
      position: absolute;
      top: 50%;
      width: 100%;
      font: bold 0.8rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #333;
      text-align: center;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .userInfo .head .input-upload-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      -webkit-opacity: 0;
      opacity: 0; }
    .userInfo .head img {
      width: 100%; }
  .userInfo .text {
    margin-left: .5rem;
    -webkitflex: 2;
    flex: 2; }
    .userInfo .text h3 {
      font: bold 0.8rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #333; }
      .userInfo .text h3 span {
        font: normal 0.75rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
    .userInfo .text > p {
      font: 0.75rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #666; }
      .userInfo .text > p em {
        color: #ed304e; }
      .userInfo .text > p strong {
        color: #f60; }

.score {
  margin-top: .2rem; }
  .score p {
    float: left;
    color: #666;
    font: 0.75rem/20px "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
  .score .starN {
    margin-left: 3rem; }
    .score .starN ul li {
      float: left;
      display: block;
      width: 20px;
      height: 20px;
      text-indent: -999px;
      overflow: hidden;
      margin-left: 6px; }
      .score .starN ul li:first-child {
        margin-left: 0; }
    .score .starN .star1 {
      background-position: -104px -60px; }
    .score .starN .star2 {
      background-position: -78px -60px; }
    .score .starN .star3 {
      background-position: -52px -30px; }
    .score .starN .star4 {
      background-position: -26px -30px; }
    .score .starN .star5 {
      background-position: 0 -30px; }

.userDetailed > ul {
  width: 100%;
  height: auto;
  overflow: hidden; }
  .userDetailed > ul li {
    position: relative;
    float: left;
    color: #fff;
    width: 40%;
    text-align: center;
    font: 0.75rem/2 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin-left: -10%; }
    .userDetailed > ul li:first-child {
      margin-left: 0; }

.encourageContent .list {
  display: none; }
  .encourageContent .list > div {
    padding: 0 3%; }
  .encourageContent .list .ranking {
    padding: 0; }

.listIncite .title {
  background-color: #f2f2f2;
  font: 0.75rem/2 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #000; }
  .listIncite .title span:last-child {
    float: right; }
.listIncite .incite .item {
  padding: 5% 0;
  /*old*/
  display: -webkit-box;
  /*new*/
  display: -webkit-flex;
  display: flex;
  /*old*/
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /*new*/
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc; }
  .listIncite .incite .item > div {
    -webkitflex: 1;
    flex: 1; }
  .listIncite .incite .item .time p {
    font: 0.75rem/1.2 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #999; }
    .listIncite .incite .item .time p:last-child {
      font-size: .6rem; }
  .listIncite .incite .item .user {
    -webkitflex: 4;
    flex: 4; }
    .listIncite .incite .item .user .img {
      float: left;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      overflow: hidden; }
      .listIncite .incite .item .user .img img {
        width: 100%; }
    .listIncite .incite .item .user .name p {
      margin-left: 1.8rem;
      font: 0.75rem/1.5rem "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #333; }
  .listIncite .incite .item .mouey p {
    font: 0.75rem/1.2 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
    text-align: right; }

.listComment .title {
  background-color: #f2f2f2;
  height: 30px; }
  .listComment .title .left {
    float: left; }
    .listComment .title .left p {
      float: left;
      font: 0.75rem/2 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #000; }
    .listComment .title .left .starN {
      margin-left: 3.5rem;
      position: relative;
      top: 3px; }
      .listComment .title .left .starN ul li {
        float: left;
        display: block;
        width: 20px;
        height: 20px;
        text-indent: -999px;
        overflow: hidden;
        margin-left: 6px; }
        .listComment .title .left .starN ul li:first-child {
          margin-left: 0; }
      .listComment .title .left .starN .star1 {
        background-position: -104px -60px; }
      .listComment .title .left .starN .star2 {
        background-position: -78px -60px; }
      .listComment .title .left .starN .star3 {
        background-position: -52px -30px; }
      .listComment .title .left .starN .star4 {
        background-position: -26px -30px; }
      .listComment .title .left .starN .star5 {
        background-position: 0 -30px; }
  .listComment .title .right {
    float: right; }
    .listComment .title .right select {
      position: relative;
      top: 3px;
      padding-left: 10px;
      width: 69px;
      height: 20px;
      font: 0.75rem/20px "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #666;
      border: 0;
      outline: none;
      appearance: none;
      -webkit-appearance: none; }

.commentItem {
  padding: 3%;
  border-bottom: 1px solid #ccc; }
  .commentItem > p {
    font: 0.65rem/1.2 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #666; }
  .commentItem .head {
    width: 100%;
    height: auto;
    overflow: hidden;
    /*old*/
    display: -webkit-box;
    /*new*/
    display: -webkit-flex;
    display: flex;
    /*old*/
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /*new*/
    justify-content: center;
    align-items: center;
    margin-bottom: .3rem; }
    .commentItem .head .img {
      margin-right: .3rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      overflow: hidden; }
      .commentItem .head .img img {
        width: 100%; }
    .commentItem .head .name {
      -webkitflex: 1;
      flex: 1; }
      .commentItem .head .name p {
        font: 0.75rem/1.2 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
        color: #333; }
    .commentItem .head .starN {
      -webkitflex: 1;
      flex: 1; }
      .commentItem .head .starN ul li {
        float: left;
        display: block;
        width: 20px;
        height: 20px;
        text-indent: -999px;
        overflow: hidden;
        margin-left: 6px; }
        .commentItem .head .starN ul li:first-child {
          margin-left: 0; }
      .commentItem .head .starN .star1 {
        background-position: -104px -60px; }
      .commentItem .head .starN .star2 {
        background-position: -78px -60px; }
      .commentItem .head .starN .star3 {
        background-position: -52px -30px; }
      .commentItem .head .starN .star4 {
        background-position: -26px -30px; }
      .commentItem .head .starN .star5 {
        background-position: 0 -30px; }

.rankingMeun {
  background-color: #f2f2f2;
  height: 40px;
  /*old*/
  display: -webkit-box;
  /*new*/
  display: -webkit-flex;
  display: flex;
  /*old*/
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /*new*/
  justify-content: center;
  align-items: center; }
  .rankingMeun li {
    font: 0.75rem/41px "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
    -webkitflex: 1;
    flex: 1;
    text-align: center; }
  .rankingMeun .meunActive {
    position: relative; }
    .rankingMeun .meunActive:before {
      position: absolute;
      left: 50%;
      bottom: 0;
      content: "";
      width: 0;
      height: 0;
      border: 10px solid;
      border-color: transparent transparent #fff transparent;
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.wholeArea .wholeAreaList {
  display: none; }
  .wholeArea .wholeAreaList .item {
    padding: 3%;
    border-bottom: 1px solid #ccc;
    /*old*/
    display: -webkit-box;
    /*new*/
    display: -webkit-flex;
    display: flex;
    /*old*/
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /*new*/
    justify-content: center;
    align-items: center; }
    .wholeArea .wholeAreaList .item > div {
      -webkit-flex: 1;
      flex: 1; }
    .wholeArea .wholeAreaList .item .num {
      font: 0.6rem/1 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #e9443d;
      text-align: center; }
      .wholeArea .wholeAreaList .item .num img {
        width: 30%; }
    .wholeArea .wholeAreaList .item .user {
      -webkit-flex: 2;
      flex: 2;
      /*old*/
      display: -webkit-box;
      /*new*/
      display: -webkit-flex;
      display: flex;
      /*old*/
      -webkit-box-pack: center;
      -webkit-box-align: center;
      /*new*/
      justify-content: center;
      align-items: center; }
      .wholeArea .wholeAreaList .item .user .img {
        margin-right: .3rem;
        float: left;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        overflow: hidden; }
        .wholeArea .wholeAreaList .item .user .img img {
          width: 100%; }
      .wholeArea .wholeAreaList .item .user .name {
        -webkit-flex: 1;
        flex: 1; }
        .wholeArea .wholeAreaList .item .user .name h3 {
          font: 0.75rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
          color: #333; }
        .wholeArea .wholeAreaList .item .user .name p {
          font: 0.6rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
          color: #666; }
    .wholeArea .wholeAreaList .item .text {
      -webkit-flex: 1.5;
      flex: 1.5;
      font: 0.6rem/1 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      color: #666;
      text-align: right; }
  .wholeArea .wholeAreaList .meItem {
    border-bottom: 0; }
  .wholeArea .wholeAreaList > p {
    background-color: #f2f2f2;
    height: 24px;
    font: 0.7rem/25px "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
