@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
.logo{
    position:absolute;
    top:3.5%;
    left:4%;
    width:23%;
    img{
        width:100%;
    }
}
.lotteryDraw{
    position:absolute;
    top:9%;
    left:7%;
    right:4%;
    width:86%;
    height:66%;
    >p{
        position:absolute;
        top:9.5%;
        width:100%;
        text-align:center;
        font:.6rem/1 "Microsoft YaHei","Helvetica Neue";
        color:#6a077c;
        strong{
            font-weight:bold;
        }
    }
}
#lottery{
    width: 80%;
    margin: 27% auto;
    table tr{
       text-align:center;
       display:-webkit-flex;
       display:flex;
       td{
            position: relative;
            padding:0 0 .2rem 0;
            flex:1;
            background: #fff;
            border: 2px solid #6a077c;
            img{
                width:60%;
            }
            p{
               font:.6rem/1 "Microsoft YaHei","Helvetica Neue";
            }
            a{
                padding-top:.1rem;
                font:bold .8rem/1.4 "Microsoft YaHei","Helvetica Neue";
                color:#fff000;
                text-decoration:none;
                width:60%;
                height:100%;
                display: block;
                margin:0 auto;
            }
            .mask{
                width:100%;
                height:100%;
                position:absolute;
                left:0;
                top:0;
                background:rgba(0,0,0,.8);
                display:none;
            }
       }
       .active .mask{
            display:block;
       }
       &:nth-child(2){
            td{
               &:nth-child(2){
                    p{
                        position:absolute;
                        left:0;
                        bottom:0;
                        background-color:#000;
                        width: 100%;
                        font:.55rem/1.5 "Microsoft YaHei","Helvetica Neue";
                        color: #fff;
                         strong{
                            font-weight:bold;
                        }
                    }
                } 
            }    
        }
    }
}
.roster{
    position:absolute;
    left:0;
    bottom:3rem;
    width:100%;
    height:3.6rem;
    overflow: hidden;
    h3{
        text-align:center;
        font:bold .9rem/1.5 "Microsoft YaHei","Helvetica Neue";
        color:#fff;
    }   
}
.rosterList{
    width:90%;
    margin:0 auto;
    overflow: hidden;
   p{
       font:.65rem/1.5 "Microsoft YaHei","Helvetica Neue";
       color:#fff; 
       text-align:center;
       display:-webkit-flex;
       display:flex;
       span{
            padding:0 .3rem;
            &:first-child{
                width: 25%;
                text-align:left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
       }
    } 
}
.footer{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2rem;
    background-color:#6a077c;
    display:-webkit-flex;
    display:flex;  
    align-items:center;
    text-align:center; 
    &:before{
        content:"";
        width:1px;
        height:1.2rem;
        background-color:#fff;
        position:absolute;
        top:50%;
        left:50%;
        @include transform(translate(-50%,-50%));
    }
    a{
        flex:1;
        font:bold .8rem/1 "Microsoft YaHei","Helvetica Neue";
        color:#fff;
        text-decoration:none;
    }
}
.mask{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    // display:none;
    background-color:#000;
    opacity:.8;
}
.ruleMask{
    position:fixed;
    top:50%;
    left:50%;
    z-index:2;
    display:none;
    width:80%;
    height:auto;
    padding:5%;
    background-color:#fff;
    @include transform(translate(-50%,-50%));
    border-radius:5px;
    .title{
        position:relative;
        width:90%;
        margin:0 auto;
        img{
            width:100%;
            font-size:0;
        }
        h3{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            text-align:center;
            font:bold 1.2rem/1.5 "Microsoft YaHei","Helvetica Neue";
            color:#fff;
        }
    }
    .content{
        margin:5% 0 10%;
        p{
           font:.7rem/1.5 "Microsoft YaHei","Helvetica Neue"; 
           color:#363333;
        }
    }
    .foot{
        p{
            font:.6rem/1.5 "Microsoft YaHei","Helvetica Neue"; 
            color:#dd0014;
            text-align:center;
        }
    }
    .close{
        position:absolute;
        top:-.5rem;
        right:-.5rem;
        z-index:4;
        width:1.5rem;
        height:1.5rem;
        background-color:#fff;
        border-radius:100%;
        display:-webkit-flex;
        display:flex;
        align-items:center;
        justify-content: center;
        &:before{
            content:"\2716";
            color:#000;
        }
    }
}
.prizeListMask{
    @extend .ruleMask;
    .content{
        margin: 5% 0;
        overflow:auto;
        height:11rem;
        .item{
            display:-webkit-flex;
            display:flex;
            align-items:center;
            padding:.3rem 0;
            border-bottom:1px dotted #b5acad;
            .img{
                width:3rem;
                height:3rem;
                border:1px solid #000;
                display:-webkit-flex;
                display:flex;
                align-items:center;
                justify-content: center;
                img{
                    width:80%;
                    font-size:0;
                }
            }
            p{
                flex:1;
                text-align: center;
                font:.65rem/1.5 "Microsoft YaHei","Helvetica Neue"; 
                color:#ed264d;
                &:last-child{
                    flex:.8;
                    font-weight:bold;
                    color:#9e999a;
                }
            }
            .not{
                 &:last-child{
                    color:#ed264d;
                }
            }
        }  
    } 
}
.successMask{
    position:fixed;
    top:50%;
    left:50%;
    z-index:2;
    display:none;
    width:80%;
    height:auto;
    @include transform(translate(-50%,-50%));
    h3{
        font:bold 1.2rem/2.4 "Microsoft YaHei","Helvetica Neue";  
        color:#fff;
        text-align:center;
    }
    p{
        font: .7rem/1.5 "Microsoft YaHei","Helvetica Neue";
        color:#fff;
        text-align:center;
    }
}
.prizeMask{
    position:fixed;
    top:0;
    left:50%;
    z-index:2;
    width:100%;
    height:auto;
    @include transform(translate(-50%,-100%));
    @include transition(all .5s);
    >img{
        width:100%;
        font-size:0;
        &:nth-child(2){
            position:absolute;
            top:0;
            left:0;
            z-index: 3;
            width:100%;
        }
    }
    .close{
        position:absolute;
        top:33%;
        right:18%;
        z-index:4;
        &:before{
            content:"\2716";
            color:#fff;
        }
       
    }
}
.prizeMaskActive{
    @include transform(translate(-50%,0));
    @include transition(all .5s); 
}
.prizeTxt{
    position: absolute;
    top: 40%;
    padding:5%;
    width: 72%;
    left: 14%;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    .text{
        display:-webkit-flex;
        display:flex;
        align-items:center;
        .img{
            width:4rem;
            height:4rem;
            border:1px solid #000;
            padding:.1rem 0;
            text-align:center;
            img{
                width:70%;
                font-size:0;
            }
            p{
                font: .5rem/1 "Microsoft YaHei","Helvetica Neue";        
            }
        }
        .textList{
            margin-left:.5rem;
            flex:1;
            p{
                font: .7rem/1.5 "Microsoft YaHei","Helvetica Neue";  
                span{
                    font-weight:bold;
                    color:#f12753;
                    padding:0 .2rem;
                } 
            }
        }
    }
    >a{
        margin: 1rem auto 0;
        width: 40%;
        text-decoration: none;
        font: .7rem/2 "Microsoft YaHei","Helvetica Neue";
        color: #fff;
        background-color: #6a077c;
        display: block;
        text-align: center;
        border-radius: 5px;
        box-shadow:2px 2px 5px #8b8788;
    }
}
.receivePrizesMask{
    @extend .prizeMask;
}
.receivePrizesMaskActive{
    @include transform(translate(-50%,0));
    @include transition(all .5s); 
}
.receivePrizesTxt{
    @extend .prizeTxt;
    .textList{
        p{
            color:#f12753;
            strong{
                font-weight:bold;
            }
        }
    }
    .importInformation{
        .item{
            margin-top:.5rem;
            display:-webkit-flex;
            display:flex;
            align-items:center;
            label{
                color:#f12753;
                font:.7rem/1rem "Microsoft YaHei","Helvetica Neue";  
                margin-right:.5rem;
            }
            input{
                flex: 1;
                border:none;
                background:none;
                outline:none;
                border:1px solid #000;
                border-radius:5px;
                height:1rem;
            }
        }
    }
    >p{
        margin-top:.3rem;
        font:.5rem/1.2 "Microsoft YaHei","Helvetica Neue"; 
    }
}
.receivePrizesIDMask{
     @extend .receivePrizesMask;
}
.receivePrizesIDMaskActive{
    @include transform(translate(-50%,0));
    @include transition(all .5s); 
}
.notPrize{
    position:fixed;
    top:50%;
    left:50%;
    z-index:2;
    display:none;
    width:90%;
    height:12rem;
    @include transform(translate(-50%,-50%));
    >img{
        position:absolute;
        top:0;
        left:0;
        right:0;
        z-index:3;
        width:100%;
        height:auto;
        font-size:0;
        &:nth-child(2){
            position:absolute;
            top:0;
            left:0;
            right:0;
            z-index:2;
        }
    }
    .notPrizeTxt{
        position:absolute;
        top:23%;
        left:7%;
        z-index:2;
        padding:5%;
        background-color:#fff;
        width:86%;
        border-radius:5px;
        .txt{
            display:-webkit-flex;
            display:flex;
            align-items:center;
            .l{
                width:4rem;
                img{
                    width:100%;
                }
                margin-right:.5rem;
            }
            .r{
                flex:1;
                p{
                    font: .7rem/1.2 "Microsoft YaHei","Helvetica Neue";
                    color: #141414; 
                    strong{
                        font-weight:bold;
                    }
                }
            }
        }
        >a{
            margin:.5rem auto 0;
            width: 40%;
            text-decoration: none;
            font: .7rem/2 "Microsoft YaHei","Helvetica Neue";
            color: #fff;
            background-color: #6a077c;
            display: block;
            text-align: center;
            border-radius: 5px;
            box-shadow:2px 2px 5px #8b8788; 
        }
    }
    .close{
        position:absolute;
        top:5%;
        right:10%;
        z-index:4;
        &:before{
            content:"\2716";
            color:#fff;
        }
       
    }
}
.loginMask{
    position:fixed;
    top:50%;
    left:50%;
    z-index:2;
    // display:none;
    padding:5%;
    width:80%;
    height:auto;
    background-color:#fff;
    @include transform(translate(-50%,-50%));
    >img{
        width:40%;
        margin:0 auto;
        display: block;
    }
    form{
        width:100%;
        .item{
            display:-webkit-flex;
            display:flex;
            align-items:center;
            padding:0 3%;
            margin-bottom:.5rem;
            width:100%;
            height:2rem;
            border:1px solid #ccc;
            img{
                width:15px;
                height:auto;
                margin-right:15px;
            }
            input{
                border:none;
                background:none;
                outline:none; 
                height:100%;
            }
        }
        .phone{
            input{
                flex:1; 
            }
        }
        .code{
            input{ 
               width:40%;
            }
            p{
                flex:1;
                font:.7rem/1 "Microsoft YaHei","Helvetica Neue";  
                text-align:right;
                color:#999;
            }
        }
        >a{
            margin: 1rem auto 0;
            width: 40%;
            text-decoration: none;
            font: .7rem/2.4 "Microsoft YaHei","Helvetica Neue";
            color: #fff;
            background-color: #a40001;
            display: block;
            text-align: center;
            border-radius: 5px;
            box-shadow: 2px 2px 5px #8b8788;
        }
    }
}