@import "base","variable";
html{
    font-size:18px;
}
@media(min-device-width:320px){
html{
  font-size:18px;
}
}
@media(min-device-width:360px){
html{
  font-size:20px;
}
}
@media(min-device-width:375px){
html{
  font-size:21px;
}
}
@media(min-device-width:384px){
html{
  font-size:21px;
}
}
@media(min-device-width:400px){
html{
  font-size:22px;
}
}
@media(min-device-width:414px){
html{
  font-size:23px;
}
}
@media(min-device-width:480px){
html{
  font-size:26px;
}
}
@media(min-device-width:568px){
html{
  font-size:28px;
}
}
@media(min-device-width:533px){
html{
  font-size:28px;
}
}
@media(min-device-width:600px){
html{
  font-size:30px;
}
}
@media(min-device-width:640px){
html{
  font-size:24px;
}
}
/* public css begin */
.wrapper{
	width:100%;
	max-width:640px;
	min-height:320px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
/* login css begin */
.login{
	.logo{
		margin:1rem auto;
		display: block;
		width:30%;
	}
	form{
		margin:0 auto;
		width:90%;
	}
}
.loginList{
	padding:0 5%;
    background-color:#3a89b8;
    border-radius:10px;
	border:1px solid #115f87;
	.item{
		padding:1rem 0;
		width:100%;
		/*old*/
        display:-webkit-box; 	
        /*new*/
	    display: -webkit-flex;
	    display: flex;
        /*old*/
	    -webkit-box-pack: center; 
	    -webkit-box-align: center;
        /*new*/
	    justify-content:center;
        align-items:center;
		&:first-child{
			border-bottom:1px solid #fff;
		}
		i{
			width:1rem;
			height:1rem;
			display:inline-block;
			img{
				width:100%;
			}
		}
		input{
			-webkit-flex:1;
			flex:1;
			margin-left:.5rem;
			outline:none;
			background:none;
			border:0;
			-webkit-appearance: none;
			appearance: none;
			color:$colorWhite;
			font:.75rem/1 $publicFont;
			&::-webkit-input-placeholder{
				color:$colorWhite;
			}
		}
	}
}
.btn{
	margin-top:1rem;
	height:2.4rem;
    background-color:#0d5bad;
    border-radius:10px;
    button{
    	width:100%;
    	height:100%;
    	outline:none;
		background:none;
		border:0;
		color:$colorWhite;
		font:.75rem/1 $publicFont;
    }
}
/*encourage begin*/
.encourageHeader{
	background-color:#caebfe;
	h1{
		font:.75rem/2rem $publicFont;
		color:#4d788b;
		text-align:center;
	}
}
.userInfo{
	padding:5%;
	/*old*/
    display:-webkit-box; 	
    /*new*/
    display: -webkit-flex;
    display: flex;
    .head{
    	position:relative;
    	-webkitflex:1;
    	flex:1;
    	p{
    		position: absolute;	    
            top: 50%;
    		width:100%;
    		font:bold .8rem/1.5 $publicFont;
			color:#333;
			text-align: center;
			@include transform(translate(0, -50%));
    	}
    	.input-upload-image {
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 1;
		    display: block;
		    width: 100%;
		    height: 100%;
		    border: none;
		    -webkit-opacity: 0;
		    opacity: 0;
		}
    	img{
    		width:100%;
    	}
    }
    .text{
    	margin-left:.5rem;
    	-webkitflex:2;
    	flex:2;
    	h3{
	        font:bold .8rem/1.5 $publicFont;
			color:#333;
			span{font:normal .75rem/1.5 $publicFont;}
    	}
    	>p{
            font:.75rem/1.5 $publicFont;
			color:#666;
			em{color:#ed304e;}
			strong{color:#f60;}
    	}
    }
}
.score{
	margin-top:.2rem;
	p{
		float:left;
		color:#666;
		font:.75rem/20px $publicFont;
	}
	.starN{
		margin-left:3rem;
		ul li{
			float:left;
			display:block;
		    width:20px;
		    height:20px;
		    text-indent:-999px;
		    overflow:hidden;
		    margin-left:6px;
		    &:first-child{
		    	margin-left:0;
		    }
		}
		.star1{
		    background-position: -104px -60px;
		}
		.star2{
		    background-position: -78px -60px;
		}
		.star3{
		    background-position: -52px -30px;
		}
		.star4{
		    background-position: -26px -30px;
		}
		.star5{
		    background-position: 0 -30px;
		}
	}	
}
.userDetailed{
	>ul{
		width:100%;
		height:auto;
		overflow:hidden;
		background: #fff;
        z-index: 2;
		li{
			position:relative;
			float:left;
    	    color:#fff;
    	    width:40%;
    	    text-align:center;
    	    font:.75rem/2 $publicFont;
    	    margin-left:-10%;
    	    &:first-child{
    	    	margin-left:0;
    	    }
		}
	}
}
.encourageContent{
	.list{
		display:none;
		>div{
			padding:0 3%;
		}
		.ranking{
			padding:0;
		}
	}
}
.listIncite{
    .title{
		background-color:#f2f2f2;
		font:.75rem/2 $publicFont;
		color:#000;
		span{
			&:last-child{
				float:right;
			}
		}
	}
	.incite{
		.item{
			padding:5% 0;
			/*old*/
		    display:-webkit-box; 	
		    /*new*/
		    display: -webkit-flex;
		    display: flex;
		    /*old*/
		    -webkit-box-pack: center; 
		    -webkit-box-align: center;
		    /*new*/
		    justify-content:center;
		    align-items:center;
		    border-bottom:1px solid #ccc;
		    >div{
		    	-webkitflex:1;
	    	    flex:1;
		    }
		    .time{
		    	p{
		    		font:.75rem/1.2 $publicFont;
		            color:#999;
		            &:last-child{
						font-size:.6rem;
					}
		    	}
		    }
		    .user{
		    	-webkitflex:4;
	    	    flex:4;
		    	.img{
		    		float:left;
		    		width:1.5rem;
		    		height:1.5rem;
		    		border-radius:100%;
		    		overflow: hidden;
		    		img{
		    			width:100%;
		    		}
		    	}
		    	.name{
		    		p{
		    			margin-left:1.8rem;
			    		font:.75rem/1.5rem $publicFont;
			            color:#333;
		    		}
		    	}
		    }
		    .mouey{
                p{
                	font:.75rem/1.2 $publicFont;
			        color:#333;
			        text-align:right;
                }
		    }
		}	
	}
}
.listComment{
    .title{
    	position: relative;
    	background-color:#f2f2f2;
    	height:auto;
    	overflow:hidden;
		.left{
			float:left;
            p{float:left;font:.75rem/2 $publicFont;color:#000;}
		}
		.starN{
           margin-left:3.5rem;
           position: absolute;
           top:50%;
           @include transform(translate(0, -50%));
           ul li{
				float:left;
				display:block;
			    width:20px;
			    height:20px;
			    text-indent:-999px;
			    overflow:hidden;
			    margin-left:6px;
			    &:first-child{
			    	margin-left:0;
			    }
			}
			.star1{
			    background-position: -104px -60px;
			}
			.star2{
			    background-position: -78px -60px;
			}
			.star3{
			    background-position: -52px -30px;
			}
			.star4{
			    background-position: -26px -30px;
			}
			.star5{
			    background-position: 0 -30px;
			}
        }
        select{
        	position:absolute;
            top:50%;
            right:5%;
            @include transform(translate(0, -50%));
         	padding-left:10px;
          	width: 69px;
          	height: 20px;
          	font:.75rem/20px $publicFont;
	      	color:#666;
	   	  	border:0;
	   	  	outline:none;
	   	  	appearance:none;
		  	-webkit-appearance:none;
	    } 
	}
}
.commentItem{
	padding:3%;
	border-bottom:1px solid #ccc;
	>p{
		font:.65rem/1.2 $publicFont;
		color:#666;
	}
	.head{
		width:100%;
		height:auto;
		overflow:hidden;
		/*old*/
	    display:-webkit-box; 	
	    /*new*/
	    display: -webkit-flex;
	    display: flex;
	    /*old*/
	    -webkit-box-pack: center; 
	    -webkit-box-align: center;
	    /*new*/
	    justify-content:center;
	    align-items:center;
	    margin-bottom:.3rem;
		.img{
			margin-right:.3rem;
    		width:1.5rem;
    		height:1.5rem;
    		border-radius:100%;
    		overflow: hidden;
    		img{
    			width:100%;
    		}
		}
		.name{
			-webkitflex:1;
	    	flex:1;
			p{
				font:.75rem/1.2 $publicFont;
			    color:#333;
			}
		}
		.starN{
			width:125px;
	    	ul li{
				float:left;
				display:block;
			    width:20px;
			    height:20px;
			    text-indent:-999px;
			    overflow:hidden;
			    margin-left:6px;
			    &:first-child{
			    	margin-left:0;
			    }
			}
			.star1{
			    background-position: -104px -60px;
			}
			.star2{
			    background-position: -78px -60px;
			}
			.star3{
			    background-position: -52px -30px;
			}
			.star4{
			    background-position: -26px -30px;
			}
			.star5{
			    background-position: 0 -30px;
			}
		}
	}
}
.rankingMeun{
	background-color:#f2f2f2;
    height:40px;
    /*old*/
    display:-webkit-box; 	
    /*new*/
    display: -webkit-flex;
    display: flex;
    /*old*/
    -webkit-box-pack: center; 
    -webkit-box-align: center;
    /*new*/
    justify-content:center;
    align-items:center;
    li{
        font:.75rem/41px $publicFont;
		color:#333;
		-webkitflex:1;
	    flex:1;
	    text-align:center;
    }
    .meunActive{
    	position:relative;
    	&:before{
    		position:absolute;
    		left:50%;
    		bottom:0;
    		content:"";
    		width:0;
    		height:0;
    		border:10px solid;
    		border-color:transparent transparent #fff transparent;
    		@include transform(translate(-50%,0));
    	}
    }
}
.wholeArea{
	.wholeAreaList{
		display:none;
		.item{
			padding:3% 0;
			margin:0 3%;
			border-bottom:1px solid #ccc;
			/*old*/
		    display:-webkit-box; 	
		    /*new*/
		    display: -webkit-flex;
		    display: flex;
		    /*old*/
		    -webkit-box-pack: center; 
		    -webkit-box-align: center;
		    /*new*/
		    justify-content:center;
		    align-items:center;
		    .num{
		    	-webkit-flex:.7;
		        flex:.7;
		    	font:.6rem/1 $publicFont;
		        color:#e9443d;
		        text-align:center;
		        img{
		        	width:40%;
		        }
		    }
		    .user{
		    	-webkit-flex:2;
		        flex:2;
		        /*old*/
			    display:-webkit-box; 	
			    /*new*/
			    display: -webkit-flex;
			    display: flex;
			    /*old*/
			    -webkit-box-pack: center; 
			    -webkit-box-align: center;
			    /*new*/
			    justify-content:center;
			    align-items:center;
		    	.img{
		    		margin-right:.3rem;
		    		float:left;
                    width: 1.5rem;
				    height: 1.5rem;
				    border-radius: 100%;
				    overflow: hidden;
				    img{
				    	width:100%;
				    }
		    	}
		    	.name{
		    		-webkit-flex:1;
		            flex:1;
		    		h3{
		    			font:.75rem/1.5 $publicFont;
		                color:#333;
		    		}
		    		p{
		    			font:.6rem/1.5 $publicFont;
		                color:#666;
		    		}
		    	}
		    }
		    .text{
		    	-webkit-flex:1.5;
		        flex:1.5;
	    		font:.6rem/1 $publicFont;
	            color:#666;
	            text-align: right;
	    	}
		}
		.meItem{border-bottom:0;}
		>p{
			background-color:#f2f2f2;
            height:24px;
            font:.7rem/25px $publicFont;
		    color:#333;
		    text-align:center;
		}
	}
}
#updown{
	position:fixed;
	right:2%;
	bottom:5%;
	z-index:2;
	display:none;
	width:1.5rem;
	height:1.5rem;
	text-indent: -999px;
	overflow:hidden;
	border-radius:100%;
	background:rgba(0,0,0,.8);
	&:before{
		content: "";
	    position: absolute;
	    top: .65rem;
	    left: .35rem;
	    width: .5rem;
	    height: .15rem;
	    background-color: #fff;
		@include transform(rotate(-45deg));
	}
	&:after{
		content: "";
	    position: absolute;
	    top: .65rem;
	    right: .35rem;
	    width: .5rem;
	    height: .15rem;
	    background-color: #fff;
		@include transform(rotate(-135deg));
	}
}