@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none; }

input {
  -webkit-appearance: none;
  /*ios去除input默认样式*/ }

html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20.25px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21.1px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21.6px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22.5px; } }
@media (min-device-width: 412px) {
  html {
    font-size: 23.17px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23.3px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26.99px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 29.98px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 31.95px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 33.74px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }

.invitation-content {
  position: relative;
  width: 100%;
  margin-top: 10%;
  font-size: 0; }
  .invitation-content > img {
    width: 100%;
    height: auto; }

.top-text {
  position: absolute;
  top: 2.5%;
  width: 100%; }
  .top-text p {
    text-align: center;
    color: #fff;
    font: 0.6rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    margin-bottom: .5rem;
    opacity: 0; }
    .top-text p:nth-child(1) {
      -moz-animation: myP1 1s ease-in-out 0s 1 alternate forwards;
      -webkit-animation: myP1 1s ease-in-out 0s 1 alternate forwards;
      -o-animation: myP1 1s ease-in-out 0s 1 alternate forwards;
      animation: myP1 1s ease-in-out 0s 1 alternate forwards; }
    .top-text p:nth-child(2) {
      -moz-animation: myP1 0.5s ease-in-out 0.5s 1 alternate forwards;
      -webkit-animation: myP1 0.5s ease-in-out 0.5s 1 alternate forwards;
      -o-animation: myP1 0.5s ease-in-out 0.5s 1 alternate forwards;
      animation: myP1 0.5s ease-in-out 0.5s 1 alternate forwards; }
    .top-text p:nth-child(3) {
      -moz-animation: myP1 0.5s ease-in-out 1s 1 alternate forwards;
      -webkit-animation: myP1 0.5s ease-in-out 1s 1 alternate forwards;
      -o-animation: myP1 0.5s ease-in-out 1s 1 alternate forwards;
      animation: myP1 0.5s ease-in-out 1s 1 alternate forwards; }
    .top-text p:nth-child(4) {
      -moz-animation: myP1 0.5s ease-in-out 1.5s 1 alternate forwards;
      -webkit-animation: myP1 0.5s ease-in-out 1.5s 1 alternate forwards;
      -o-animation: myP1 0.5s ease-in-out 1.5s 1 alternate forwards;
      animation: myP1 0.5s ease-in-out 1.5s 1 alternate forwards; }
    .top-text p:nth-child(5) {
      -moz-animation: myP1 0.5s ease-in-out 2s 1 alternate forwards;
      -webkit-animation: myP1 0.5s ease-in-out 2s 1 alternate forwards;
      -o-animation: myP1 0.5s ease-in-out 2s 1 alternate forwards;
      animation: myP1 0.5s ease-in-out 2s 1 alternate forwards; }

.middle {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 64%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0; }
  .middle img {
    width: 100%; }
    .middle img:first-child {
      position: relative;
      z-index: 1; }
    .middle img:last-child {
      margin-top: -25%;
      opacity: 0;
      -moz-animation: myP1 0.5s ease-in-out 2.5s 1 alternate forwards;
      -webkit-animation: myP1 0.5s ease-in-out 2.5s 1 alternate forwards;
      -o-animation: myP1 0.5s ease-in-out 2.5s 1 alternate forwards;
      animation: myP1 0.5s ease-in-out 2.5s 1 alternate forwards; }

.botton-btn {
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  font-size: 0;
  opacity: 0;
  -moz-animation: myP1 0.3s ease-in-out 2.8s 1 alternate forwards;
  -webkit-animation: myP1 0.3s ease-in-out 2.8s 1 alternate forwards;
  -o-animation: myP1 0.3s ease-in-out 2.8s 1 alternate forwards;
  animation: myP1 0.3s ease-in-out 2.8s 1 alternate forwards; }
  .botton-btn img {
    width: 100%; }

@-webkit-keyframes myP1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes myP1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes myP1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes myP1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.invitation-wrapper {
  background: #050c2e !important;
  display: none; }
  .invitation-wrapper .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-animation: myBg 30s infinite linear;
    -webkit-animation: myBg 30s infinite linear;
    -o-animation: myBg 30s infinite linear;
    animation: myBg 30s infinite linear; }
    .invitation-wrapper .bg-img img {
      width: 100%;
      height: 100%; }

.invitation-btn {
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  font-size: 0; }
  .invitation-btn > img {
    width: 100%; }
  .invitation-btn .content {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    height: 100%; }
    .invitation-btn .content .img {
      position: absolute;
      top: 4.5%;
      left: 10%;
      width: 80%;
      height: auto;
      font-size: 0; }
      .invitation-btn .content .img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; }
        .invitation-btn .content .img img:nth-child(1) {
          top: 0;
          left: 20%;
          z-index: 3;
          width: 60%;
          margin-top: 20%; }
        .invitation-btn .content .img img:nth-child(2) {
          z-index: 2; }
        .invitation-btn .content .img img:nth-child(3) {
          z-index: 1; }
    .invitation-btn .content .text {
      position: absolute;
      bottom: 5%;
      left: 0;
      width: 100%; }
      .invitation-btn .content .text p {
        text-align: center;
        color: #fff;
        font: 0.6rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        margin-bottom: .5rem;
        opacity: 0;
        -moz-animation: myP2 5s ease-in-out 1s 1 alternate forwards;
        -webkit-animation: myP2 5s ease-in-out 1s 1 alternate forwards;
        -o-animation: myP2 5s ease-in-out 1s 1 alternate forwards;
        animation: myP2 5s ease-in-out 1s 1 alternate forwards; }
    .invitation-btn .content .text2 {
      position: absolute;
      bottom: 5%;
      left: 0;
      width: 100%; }
      .invitation-btn .content .text2 p {
        text-align: center;
        color: #fff;
        font-size: .6rem;
        margin-bottom: .5rem;
        opacity: 0;
        -moz-animation: myP3 1s ease-in-out 6s 1 alternate forwards;
        -webkit-animation: myP3 1s ease-in-out 6s 1 alternate forwards;
        -o-animation: myP3 1s ease-in-out 6s 1 alternate forwards;
        animation: myP3 1s ease-in-out 6s 1 alternate forwards; }
        .invitation-btn .content .text2 p:nth-child(1) {
          padding-bottom: 1rem;
          position: relative; }
          .invitation-btn .content .text2 p:nth-child(1) i {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -5px;
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid #fff; }
            .invitation-btn .content .text2 p:nth-child(1) i:last-child {
              margin-top: 1.5%; }

@-webkit-keyframes myBg {
  0% {
    -moz-transform: rotate(0) scale(3);
    -o-transform: rotate(0) scale(3);
    -ms-transform: rotate(0) scale(3);
    -webkit-transform: rotate(0) scale(3);
    transform: rotate(0) scale(3); }
  50% {
    -moz-transform: rotate(180deg) scale(5);
    -o-transform: rotate(180deg) scale(5);
    -ms-transform: rotate(180deg) scale(5);
    -webkit-transform: rotate(180deg) scale(5);
    transform: rotate(180deg) scale(5); }
  100% {
    -moz-transform: rotate(360deg) scale(3);
    -o-transform: rotate(360deg) scale(3);
    -ms-transform: rotate(360deg) scale(3);
    -webkit-transform: rotate(360deg) scale(3);
    transform: rotate(360deg) scale(3); } }
@-moz-keyframes myBg {
  0% {
    -moz-transform: rotate(0) scale(3);
    -o-transform: rotate(0) scale(3);
    -ms-transform: rotate(0) scale(3);
    -webkit-transform: rotate(0) scale(3);
    transform: rotate(0) scale(3); }
  50% {
    -moz-transform: rotate(180deg) scale(5);
    -o-transform: rotate(180deg) scale(5);
    -ms-transform: rotate(180deg) scale(5);
    -webkit-transform: rotate(180deg) scale(5);
    transform: rotate(180deg) scale(5); }
  100% {
    -moz-transform: rotate(360deg) scale(3);
    -o-transform: rotate(360deg) scale(3);
    -ms-transform: rotate(360deg) scale(3);
    -webkit-transform: rotate(360deg) scale(3);
    transform: rotate(360deg) scale(3); } }
@-o-keyframes myBg {
  0% {
    -moz-transform: rotate(0) scale(3);
    -o-transform: rotate(0) scale(3);
    -ms-transform: rotate(0) scale(3);
    -webkit-transform: rotate(0) scale(3);
    transform: rotate(0) scale(3); }
  50% {
    -moz-transform: rotate(180deg) scale(5);
    -o-transform: rotate(180deg) scale(5);
    -ms-transform: rotate(180deg) scale(5);
    -webkit-transform: rotate(180deg) scale(5);
    transform: rotate(180deg) scale(5); }
  100% {
    -moz-transform: rotate(360deg) scale(3);
    -o-transform: rotate(360deg) scale(3);
    -ms-transform: rotate(360deg) scale(3);
    -webkit-transform: rotate(360deg) scale(3);
    transform: rotate(360deg) scale(3); } }
@keyframes myBg {
  0% {
    -moz-transform: rotate(0) scale(3);
    -o-transform: rotate(0) scale(3);
    -ms-transform: rotate(0) scale(3);
    -webkit-transform: rotate(0) scale(3);
    transform: rotate(0) scale(3); }
  50% {
    -moz-transform: rotate(180deg) scale(5);
    -o-transform: rotate(180deg) scale(5);
    -ms-transform: rotate(180deg) scale(5);
    -webkit-transform: rotate(180deg) scale(5);
    transform: rotate(180deg) scale(5); }
  100% {
    -moz-transform: rotate(360deg) scale(3);
    -o-transform: rotate(360deg) scale(3);
    -ms-transform: rotate(360deg) scale(3);
    -webkit-transform: rotate(360deg) scale(3);
    transform: rotate(360deg) scale(3); } }
@-webkit-keyframes myP2 {
  0%,100% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; } }
@-moz-keyframes myP2 {
  0%,100% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; } }
@-o-keyframes myP2 {
  0%,100% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; } }
@keyframes myP2 {
  0%,100% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; } }
@-webkit-keyframes myP3 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes myP3 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes myP3 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes myP3 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.loading-wrapper {
  display: none; }
  .loading-wrapper .invitation-content {
    margin-top: 0; }
  .loading-wrapper .top-text {
    top: 8%; }
    .loading-wrapper .top-text p span {
      color: #fff000; }
  .loading-wrapper .loading-bottom {
    font-size: 6px;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    position: absolute;
    text-indent: -9999em;
    -moz-animation: load5 1.1s infinite ease;
    -webkit-animation: load5 1.1s infinite ease;
    -o-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease; }

@-webkit-keyframes load5 {
  0%,100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; } }
@-moz-keyframes load5 {
  0%,100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; } }
@-o-keyframes load5 {
  0%,100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; } }
@keyframes load5 {
  0%,100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; } }
.wp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.page {
  position: relative;
  width: 100%;
  height: 100%; }
  .page .t {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%; }
    .page .t img {
      width: 100%; }
  .page .b {
    position: absolute;
    left: 15%;
    bottom: 15%;
    width: 70%;
    font-size: 0; }
    .page .b img {
      width: 100%; }
    .page .b span {
      position: absolute;
      left: .3rem;
      top: -.2rem;
      font: bold italic 1rem/1 "Microsoft Yahei";
      color: #c61a4b; }

.page1, .page2, .page3 {
  padding-top: 5%;
  font-size: 0; }
  .page1 .content, .page2 .content, .page3 .content {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    height: auto; }
    .page1 .content > img, .page2 .content > img, .page3 .content > img {
      width: 100%;
      height: auto; }
    .page1 .content .img, .page2 .content .img, .page3 .content .img {
      position: absolute;
      top: 2%;
      left: 10%;
      width: 80%;
      height: auto;
      font-size: 0; }
      .page1 .content .img img, .page2 .content .img img, .page3 .content .img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; }
        .page1 .content .img img:nth-child(1), .page2 .content .img img:nth-child(1), .page3 .content .img img:nth-child(1) {
          top: 0;
          left: 20%;
          z-index: 3;
          width: 60%;
          margin-top: 20%; }
        .page1 .content .img img:nth-child(2), .page2 .content .img img:nth-child(2), .page3 .content .img img:nth-child(2) {
          z-index: 2; }
        .page1 .content .img img:nth-child(3), .page2 .content .img img:nth-child(3), .page3 .content .img img:nth-child(3) {
          z-index: 1;
          -moz-animation: circleBg 10s infinite linear;
          -webkit-animation: circleBg 10s infinite linear;
          -o-animation: circleBg 10s infinite linear;
          animation: circleBg 10s infinite linear; }
    .page1 .content .img2, .page2 .content .img2, .page3 .content .img2 {
      position: absolute;
      bottom: 8%;
      left: 20%;
      width: 60%; }
      .page1 .content .img2 img, .page2 .content .img2 img, .page3 .content .img2 img {
        width: 100%;
        height: auto; }

.down {
  position: absolute;
  width: 10%;
  left: 45%;
  bottom: -3%;
  font-size: 0;
  -moz-animation: downPage 1s infinite linear;
  -webkit-animation: downPage 1s infinite linear;
  -o-animation: downPage 1s infinite linear;
  animation: downPage 1s infinite linear; }
  .down img {
    width: 100%;
    height: auto; }

.page3 .content a {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -5%;
  font-size: 0; }
  .page3 .content a img {
    width: 100%; }

@-webkit-keyframes circleBg {
  to {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  from {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes circleBg {
  to {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  from {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes circleBg {
  to {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  from {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes circleBg {
  to {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  from {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes downPage {
  to {
    bottom: -3%; }
  from {
    bottom: 0; } }
@-moz-keyframes downPage {
  to {
    bottom: -3%; }
  from {
    bottom: 0; } }
@-o-keyframes downPage {
  to {
    bottom: -3%; }
  from {
    bottom: 0; } }
@keyframes downPage {
  to {
    bottom: -3%; }
  from {
    bottom: 0; } }
.invitation-submit {
  font-size: 0; }
  .invitation-submit > img {
    width: 100%; }
  .invitation-submit .content {
    position: relative;
    margin-top: -135%;
    width: 100%;
    height: 100%; }
    .invitation-submit .content .img {
      margin: 8% auto 0;
      width: 80%;
      height: auto; }
      .invitation-submit .content .img img {
        width: 100%; }
    .invitation-submit .content .b1 .text {
      margin: 1rem auto;
      width: 60%;
      height: auto;
      overflow: hidden;
      text-align: center; }
      .invitation-submit .content .b1 .text h2 {
        display: block;
        font: 0.8rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff;
        border-bottom: 1px solid #fff; }
      .invitation-submit .content .b1 .text p {
        display: block;
        font: 0.6rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff;
        border-bottom: 1px solid #fff; }
    .invitation-submit .content .b1 .text1 {
      height: auto;
      overflow: hidden;
      margin: 2rem 0 1rem;
      text-align: center; }
      .invitation-submit .content .b1 .text1 p {
        display: block;
        font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff; }
        .invitation-submit .content .b1 .text1 p:nth-child(1) {
          margin-bottom: .5rem; }
          .invitation-submit .content .b1 .text1 p:nth-child(1) span {
            font-size: .8rem; }
      .invitation-submit .content .b1 .text1 a {
        display: block;
        margin: 1rem auto 0;
        width: 30%;
        border: 1px solid #fff;
        border-radius: 30px;
        font: 0.6rem/1.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff; }
    .invitation-submit .content .b1 .submit {
      position: relative;
      margin: .5rem auto;
      display: block;
      width: 5rem;
      height: 5rem; }
      .invitation-submit .content .b1 .submit p {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 3rem;
        height: 3rem;
        background: #fff;
        border-radius: 100%;
        font: 0.65rem/3rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-align: center;
        color: #0d67a4; }
        .invitation-submit .content .b1 .submit p:nth-child(1) {
          width: 3rem;
          height: 3rem;
          background: #fff;
          -moz-animation: myP4 1s infinite linear;
          -webkit-animation: myP4 1s infinite linear;
          -o-animation: myP4 1s infinite linear;
          animation: myP4 1s infinite linear; }
        .invitation-submit .content .b1 .submit p:nth-child(2) {
          width: 3rem;
          height: 3rem;
          background: #fff;
          -moz-animation: myP5 1s infinite linear;
          -webkit-animation: myP5 1s infinite linear;
          -o-animation: myP5 1s infinite linear;
          animation: myP5 1s infinite linear; }
    .invitation-submit .content .b2 {
      display: none; }
      .invitation-submit .content .b2 .text {
        margin: 1rem auto;
        width: 73%;
        text-align: center; }
        .invitation-submit .content .b2 .text h2 {
          display: block;
          font: 0.8rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff;
          border-bottom: 1px solid #fff; }
        .invitation-submit .content .b2 .text p {
          display: block;
          font: 0.6rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff;
          border-bottom: 1px solid #fff; }
      .invitation-submit .content .b2 .item {
        padding: 0 5%;
        margin: 0 auto .3rem;
        width: 60%;
        height: 2rem;
        background-color: #051137;
        border: 1px solid #fff;
        border-radius: 30px;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center; }
        .invitation-submit .content .b2 .item input {
          background: none;
          border: none;
          outline: none;
          width: 100%;
          color: #fff;
          font: 0.6rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
          .invitation-submit .content .b2 .item input::-webkit-input-placeholder {
            color: #fff; }
        .invitation-submit .content .b2 .item select {
          background: none;
          border: none;
          outline: none;
          width: 100%;
          color: #fff;
          font: 0.6rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
      .invitation-submit .content .b2 > p {
        font: 0.6rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff;
        text-align: center; }
      .invitation-submit .content .b2 .submit {
        position: relative;
        margin: .5rem auto;
        display: block;
        width: 5rem;
        height: 5rem; }
        .invitation-submit .content .b2 .submit p {
          position: absolute;
          top: 1rem;
          left: 1rem;
          width: 3rem;
          height: 3rem;
          background: #fff;
          border-radius: 100%;
          font: 0.65rem/3rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center;
          color: #0d67a4; }
          .invitation-submit .content .b2 .submit p:nth-child(1) {
            width: 3rem;
            height: 3rem;
            background: #fff;
            -moz-animation: myP4 1s infinite linear;
            -webkit-animation: myP4 1s infinite linear;
            -o-animation: myP4 1s infinite linear;
            animation: myP4 1s infinite linear; }
          .invitation-submit .content .b2 .submit p:nth-child(2) {
            width: 3rem;
            height: 3rem;
            background: #fff;
            -moz-animation: myP5 1s infinite linear;
            -webkit-animation: myP5 1s infinite linear;
            -o-animation: myP5 1s infinite linear;
            animation: myP5 1s infinite linear; }
    .invitation-submit .content .b3 {
      display: none; }
      .invitation-submit .content .b3 .text {
        margin: 1rem auto;
        width: 60%;
        height: auto;
        overflow: hidden;
        text-align: center; }
        .invitation-submit .content .b3 .text h2 {
          display: block;
          font: 0.8rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff;
          border-bottom: 1px solid #fff; }
        .invitation-submit .content .b3 .text p {
          display: block;
          font: 0.6rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff;
          border-bottom: 1px solid #fff; }
      .invitation-submit .content .b3 .text1 {
        height: auto;
        overflow: hidden;
        margin: 2rem 0 4rem;
        text-align: center; }
        .invitation-submit .content .b3 .text1 p {
          display: block;
          font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff; }
          .invitation-submit .content .b3 .text1 p:nth-child(1) {
            margin-bottom: .5rem; }
            .invitation-submit .content .b3 .text1 p:nth-child(1) span {
              font-size: .8rem; }
        .invitation-submit .content .b3 .text1 a {
          display: block;
          margin: 1rem auto 0;
          width: 30%;
          border: 1px solid #fff;
          border-radius: 30px;
          font: 0.6rem/1.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff; }
      .invitation-submit .content .b3 .submit {
        position: relative;
        margin: .5rem auto;
        display: block;
        width: 5rem;
        height: 5rem; }
        .invitation-submit .content .b3 .submit p {
          position: absolute;
          top: 1rem;
          left: 1rem;
          width: 3rem;
          height: 3rem;
          background: #fff;
          border-radius: 100%;
          font: 0.65rem/3rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center;
          color: #0d67a4; }
          .invitation-submit .content .b3 .submit p:nth-child(1) {
            width: 3rem;
            height: 3rem;
            background: #fff;
            -moz-animation: myP4 1s infinite linear;
            -webkit-animation: myP4 1s infinite linear;
            -o-animation: myP4 1s infinite linear;
            animation: myP4 1s infinite linear; }
          .invitation-submit .content .b3 .submit p:nth-child(2) {
            width: 3rem;
            height: 3rem;
            background: #fff;
            -moz-animation: myP5 1s infinite linear;
            -webkit-animation: myP5 1s infinite linear;
            -o-animation: myP5 1s infinite linear;
            animation: myP5 1s infinite linear; }

@-webkit-keyframes myP4 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }
@-moz-keyframes myP4 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }
@-o-keyframes myP4 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }
@keyframes myP4 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }
@-webkit-keyframes myP5 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }
@-moz-keyframes myP5 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }
@-o-keyframes myP5 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }
@keyframes myP5 {
  0% {
    opacity: 1;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: .5;
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  background-color: #000;
  opacity: .5;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.mask-flow-path {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  padding: 5% 10%;
  width: 76%;
  height: auto;
  background-color: #041231;
  border: 1px solid #00ffff;
  border-radius: 5px;
  -moz-transform: translate3d(-50%, -250%, 0);
  -o-transform: translate3d(-50%, -250%, 0);
  -ms-transform: translate3d(-50%, -250%, 0);
  -webkit-transform: translate3d(-50%, -250%, 0);
  transform: translate3d(-50%, -250%, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .mask-flow-path h2 {
    margin-bottom: .5rem;
    font: bold 0.9rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #fff; }
  .mask-flow-path p {
    font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    margin-bottom: .3rem;
    color: #fff; }
    .mask-flow-path p span {
      color: #333;
      font-weight: bold; }
  .mask-flow-path .close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: .8rem;
    height: .8rem; }
    .mask-flow-path .close img {
      width: 100%;
      height: 100%; }

.share {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  background: rgba(0, 0, 0, 0.5); }
  .share img {
    width: 100%; }

.on {
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

/*# sourceMappingURL=invitation.css.map */
