@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  touch-action: manipulation;
}

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%;
}

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
  -webkit-touch-callout: none;
}

input {
  /*ios去除input默认样式*/
  -webkit-appearance: none;
}

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
.arrow-left {
  position: relative;
}
.arrow-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #a0a0a0;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #a0a0a0;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
}

.arrow-top {
  position: relative;
}
.arrow-top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #a0a0a0;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #a0a0a0;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
}

.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding-top: .95rem;
}

.content {
  display: none;
}

.content.on {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  height: .9rem;
  margin: 0 auto;
  background-color: #fff;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  box-shadow: 1px 3px 5px #eee;
}
.header .left {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 1rem;
}
.header h1 {
  width: 100%;
  margin: 0 -1rem;
  text-align: center;
  font: 0.32rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #333;
}

.terms {
  padding: .3rem;
}
.terms h3 {
  font: bold 0.3rem/0.56rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #333;
}
.terms p {
  font: 0.28rem/0.56rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #666;
}

/*# sourceMappingURL=terms.css.map */
