@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none; }

input {
  -webkit-appearance: none;
  /*ios去除input默认样式*/ }

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-06-01
* Version:0.0.1
* ================================================================== */
html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20.25px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21.1px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21.6px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22.5px; } }
@media (min-device-width: 412px) {
  html {
    font-size: 23.17px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23.3px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26.99px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 29.98px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 31.95px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 33.74px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f7f7f7; }

.dossen-header-left {
  position: relative; }
  .dossen-header-left:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }

.dossen-arrow-bottom {
  position: relative; }
  .dossen-arrow-bottom:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg); }

.dossen-arrow {
  position: relative; }
  .dossen-arrow:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -4px;
    color: #ccc;
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg); }

.dossen-pr {
  padding-right: 5%; }

.rule-btn {
  display: block;
  float: right;
  margin: 2% 3%;
  font: 0.7rem/1.2 "Microsoft Yahei";
  color: #42e3ff; }

.container {
  margin-top: 30%; }
  .container time {
    font: bold 0.8rem/1.2 "Microsoft Yahei";
    color: #ffff00;
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    display: block;
    margin-left: 13%; }
  .container .mascot {
    position: absolute;
    left: 25%;
    top: 55%;
    width: 50%;
    font-size: 0;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-animation: mascotMove 5s infinite;
    -webkit-animation: mascotMove 5s infinite;
    -o-animation: mascotMove 5s infinite;
    animation: mascotMove 5s infinite; }
    .container .mascot img {
      width: 100%; }
  .container .btn {
    position: absolute;
    left: 20%;
    bottom: 15%;
    width: 60%;
    font-size: 0; }
    .container .btn img {
      width: 100%; }
  .container .flow-path {
    position: absolute;
    left: 20%;
    bottom: 5%;
    width: 60%;
    font-size: 0; }
    .container .flow-path img {
      width: 100%; }

@-webkit-keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
@-moz-keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
@-o-keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
@keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 4;
  background-color: #000;
  opacity: .7; }

.rule-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 80%;
  border-radius: 10px;
  padding: 5%;
  background-color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, -300%, 0);
  -o-transform: translate3d(-50%, -300%, 0);
  -ms-transform: translate3d(-50%, -300%, 0);
  -webkit-transform: translate3d(-50%, -300%, 0);
  transform: translate3d(-50%, -300%, 0); }
  .rule-content h2 {
    color: #406b8f;
    font: bold 0.85rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    text-align: center; }
  .rule-content p {
    margin-top: .5rem;
    color: #000;
    font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .rule-content .close {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 25px;
    height: 25px;
    font-size: 0; }
    .rule-content .close img {
      width: 100%; }
  .rule-content .rule_mascot {
    position: absolute;
    left: -1.1rem;
    top: -2rem;
    width: 3.8rem;
    height: auto;
    font-size: 0; }
    .rule-content .rule_mascot img {
      width: 100%; }

.rule-content.on {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

/*# sourceMappingURL=index.css.map */
