@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none; }

input {
  -webkit-appearance: none;
  /*ios去除input默认样式*/ }

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-06-01
* Version:0.0.1
* ================================================================== */
html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20.25px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21.1px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21.6px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22.5px; } }
@media (min-device-width: 412px) {
  html {
    font-size: 23.17px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23.3px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26.99px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 29.98px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 31.95px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 33.74px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f7f7f7; }

.dossen-header-left {
  position: relative; }
  .dossen-header-left:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }

.dossen-arrow-bottom {
  position: relative; }
  .dossen-arrow-bottom:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg); }

.dossen-arrow {
  position: relative; }
  .dossen-arrow:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -4px;
    color: #ccc;
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg); }

.dossen-pr {
  padding-right: 5%; }

.rule-btn {
  display: block;
  float: right;
  margin: 2% 3%;
  font: 0.7rem/1.2 "Microsoft Yahei";
  color: #42e3ff; }

.container {
  margin-top: 30%; }
  .container time {
    font: bold 0.8rem/1.2 "Microsoft Yahei";
    color: #ffff00;
    -moz-transform: rotate(-3.5deg);
    -o-transform: rotate(-3.5deg);
    -ms-transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    transform: rotate(-3.5deg);
    display: block;
    margin-left: 13%; }
  .container .time2 {
    margin-top: 32%; }
  .container .mascot {
    position: absolute;
    left: 25%;
    top: 55%;
    width: 50%;
    font-size: 0;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-animation: mascotMove 5s infinite;
    -webkit-animation: mascotMove 5s infinite;
    -o-animation: mascotMove 5s infinite;
    animation: mascotMove 5s infinite; }
    .container .mascot img {
      width: 100%; }
  .container .btn {
    position: absolute;
    left: 20%;
    bottom: 15%;
    width: 60%;
    font-size: 0; }
    .container .btn img {
      width: 100%; }
  .container .btn-top {
    position: absolute;
    left: 20%;
    bottom: 27%;
    width: 60%;
    font-size: 0; }
    .container .btn-top img {
      width: 100%; }
  .container .flow-path {
    position: absolute;
    left: 20%;
    bottom: 5%;
    width: 60%;
    font-size: 0; }
    .container .flow-path img {
      width: 100%; }
  .container .flow-path-content {
    position: relative;
    margin: 20% auto;
    width: 76%;
    font-size: 0; }
    .container .flow-path-content > img {
      width: 100%; }
    .container .flow-path-content ul {
      width: 128%;
      margin: -3% -14% 0 -14%;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .container .flow-path-content ul li {
        text-align: center; }
        .container .flow-path-content ul li a {
          margin: 0 auto 5%;
          display: block;
          width: 1rem;
          font-size: 0; }
          .container .flow-path-content ul li a img {
            width: 100%; }
        .container .flow-path-content ul li p {
          font: 0.55rem/1.5 "Microsoft Yahei";
          color: #61c3f3; }
        .container .flow-path-content ul li h5 {
          font: 0.65rem/1.5 "Microsoft Yahei";
          color: #ffcf24; }
        .container .flow-path-content ul li:nth-child(1) {
          width: 24%; }
        .container .flow-path-content ul li:nth-child(2) {
          width: 26%; }
        .container .flow-path-content ul li:nth-child(3) {
          width: 29%; }
        .container .flow-path-content ul li:last-child {
          width: 21%; }
          .container .flow-path-content ul li:last-child a {
            width: 2rem; }
    .container .flow-path-content .small-mascot {
      position: absolute;
      width: 2rem; }
      .container .flow-path-content .small-mascot img {
        width: 100%; }
  .container .active0 .small-mascot {
    left: -5%;
    top: -15%; }
  .container .active1 ul li:nth-child(1) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active1 .small-mascot {
    left: -5%;
    top: -15%; }
  .container .active2 ul li:nth-child(1) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active2 .small-mascot {
    top: -30%;
    left: 10%; }
  .container .active3 ul li:nth-child(1) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active3 ul li:nth-child(2) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active3 .small-mascot {
    top: -17%;
    left: 27%; }
  .container .active4 ul li:nth-child(1) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active4 ul li:nth-child(2) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active4 .small-mascot {
    top: -35%;
    left: 45%; }
  .container .active5 ul li:nth-child(1) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active5 ul li:nth-child(2) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active5 ul li:nth-child(3) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active5 .small-mascot {
    top: -19%;
    left: 63%; }
  .container .active6 ul li:nth-child(1) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active6 ul li:nth-child(2) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active6 ul li:nth-child(3) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active6 .small-mascot {
    top: -33%;
    left: 80%; }
  .container .active7 ul li:nth-child(1) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active7 ul li:nth-child(2) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active7 ul li:nth-child(3) a {
    width: 1.3rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active7 ul li:nth-child(4) a {
    width: 2.5rem;
    -moz-animation: bigSmall 0.5s infinite;
    -webkit-animation: bigSmall 0.5s infinite;
    -o-animation: bigSmall 0.5s infinite;
    animation: bigSmall 0.5s infinite; }
  .container .active7 .small-mascot {
    top: -21%;
    left: 94%; }

@-webkit-keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
@-moz-keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
@-o-keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
@keyframes mascotMove {
  0%,100% {
    top: 55%; }
  25% {
    top: 50%; }
  50% {
    top: 55%; }
  75% {
    top: 50%; } }
@-webkit-keyframes bigSmall {
  0%,100% {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes bigSmall {
  0%,100% {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes bigSmall {
  0%,100% {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes bigSmall {
  0%,100% {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  50% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 4;
  background-color: #000;
  opacity: .7; }

.rule-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 80%;
  border-radius: 10px;
  padding: 5%;
  background-color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, -300%, 0);
  -o-transform: translate3d(-50%, -300%, 0);
  -ms-transform: translate3d(-50%, -300%, 0);
  -webkit-transform: translate3d(-50%, -300%, 0);
  transform: translate3d(-50%, -300%, 0); }
  .rule-content h2 {
    color: #406b8f;
    font: bold 0.85rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    text-align: center; }
  .rule-content p {
    margin-top: .5rem;
    color: #000;
    font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .rule-content .close {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 25px;
    height: 25px;
    font-size: 0; }
    .rule-content .close img {
      width: 100%; }
  .rule-content .rule_mascot {
    position: absolute;
    left: -1.1rem;
    top: -2rem;
    width: 3.8rem;
    height: auto;
    font-size: 0; }
    .rule-content .rule_mascot img {
      width: 100%; }

.rule-content.on {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.ranking-list-container {
  padding: 5%; }
  .ranking-list-container > .title {
    margin: 0 auto; }
    .ranking-list-container > .title h2 {
      display: -webkit-flex;
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      .ranking-list-container > .title h2 span {
        font: bold 2rem/1.2 "Microsoft Yahei";
        color: #ffff00;
        font-style: italic; }
      .ranking-list-container > .title h2 i {
        margin-left: .2rem;
        width: 4rem;
        font-size: 0; }
        .ranking-list-container > .title h2 i img {
          width: 100%; }
    .ranking-list-container > .title p {
      text-align: center;
      font: 0.7rem/2 "Microsoft Yahei";
      color: #3ea9dd; }
  .ranking-list-container .info {
    padding: 0 5%;
    margin: 5% 0; }
    .ranking-list-container .info ul {
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .ranking-list-container .info ul li {
        flex: 1;
        text-align: center; }
        .ranking-list-container .info ul li i {
          display: block;
          width: 50px;
          height: 50px;
          font-size: 0; }
          .ranking-list-container .info ul li i img {
            width: 100%; }
        .ranking-list-container .info ul li h3 {
          font: bold 0.75rem/1.8 "Microsoft Yahei";
          color: #fff; }
        .ranking-list-container .info ul li h4 {
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: center; }
          .ranking-list-container .info ul li h4 span {
            font: bold 0.7rem/1.8 "Microsoft Yahei";
            color: #ffff00; }
          .ranking-list-container .info ul li h4 i {
            margin-left: .2rem;
            position: relative;
            width: 10px;
            height: 10px;
            display: block; }
            .ranking-list-container .info ul li h4 i:before {
              position: absolute;
              content: "";
              width: 0;
              height: 0;
              border: 3px solid;
              border-color: transparent transparent transparent white;
              top: 50%;
              right: 0;
              -moz-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .ranking-list-container .ranking-list .title ul {
    width: 106%;
    margin: 0 -3%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px; }
    .ranking-list-container .ranking-list .title ul li {
      font: 0.7rem/1.5 "Microsoft Yahei";
      color: #fff;
      text-align: center; }
      .ranking-list-container .ranking-list .title ul li:nth-child(1) {
        width: 18%; }
      .ranking-list-container .ranking-list .title ul li:nth-child(2) {
        width: 22%; }
      .ranking-list-container .ranking-list .title ul li:nth-child(3) {
        width: 20%; }
      .ranking-list-container .ranking-list .title ul li:nth-child(4) {
        width: 40%; }
  .ranking-list-container .ranking-list dl dd {
    padding: 5% 0;
    border-bottom: 1px solid #3ea9dd;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .ranking-list-container .ranking-list dl dd span {
      font: 0.7rem/1.5 "Microsoft Yahei";
      color: #fff;
      text-align: center; }
      .ranking-list-container .ranking-list dl dd span:nth-child(1) {
        width: 15%;
        font-weight: bold; }
      .ranking-list-container .ranking-list dl dd span:nth-child(2) {
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .ranking-list-container .ranking-list dl dd span:nth-child(3) {
        width: 20%; }
      .ranking-list-container .ranking-list dl dd span:nth-child(4) {
        width: 40%; }
    .ranking-list-container .ranking-list dl dd .one {
      color: #ffff00; }
    .ranking-list-container .ranking-list dl dd .two {
      color: #ff7b7b; }
    .ranking-list-container .ranking-list dl dd .three {
      color: #3ea9dd; }
  .ranking-list-container .user-ranking-title {
    font: 3rem/2 "Microsoft Yahei";
    color: #fff;
    text-align: center; }
    .ranking-list-container .user-ranking-title em {
      font-size: .7rem;
      color: #3ea9dd; }

.user-ranking-wrapper {
  padding-top: 44px; }
  .user-ranking-wrapper .ranking-list-container {
    padding: 0 5% 5% 5%; }

.user-ranking-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 0 3%;
  width: 100%;
  height: 44px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #ffe138; }
  .user-ranking-header .left {
    width: 10%; }
  .user-ranking-header h1 {
    width: 80%;
    font: 0.8rem/40px "Microsoft Yahei";
    color: #333;
    text-align: center; }

.ranking-list-container .prize-list {
  padding: 5% 0; }
  .ranking-list-container .prize-list .item {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-bottom: .5rem; }
    .ranking-list-container .prize-list .item .l {
      width: 75%;
      border-radius: 5px;
      padding: 1.5%; }
      .ranking-list-container .prize-list .item .l .content {
        padding: 3% 5%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px; }
      .ranking-list-container .prize-list .item .l h2 {
        font: bold 1.2rem/1.5 "Microsoft Yahei";
        color: #fff; }
      .ranking-list-container .prize-list .item .l h3 {
        font: bold 0.75rem/1.2 "Microsoft Yahei";
        color: #fff; }
      .ranking-list-container .prize-list .item .l p {
        margin-top: .2rem;
        font: 0.7rem/1.5 "Microsoft Yahei";
        color: #fff; }
    .ranking-list-container .prize-list .item .r {
      width: 25%;
      border-radius: 5px;
      padding: 1.5%; }
      .ranking-list-container .prize-list .item .r .content {
        padding: 3% 5%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px; }
        .ranking-list-container .prize-list .item .r .content a {
          display: block; }
          .ranking-list-container .prize-list .item .r .content a p {
            font: bold 0.75rem/1.5 "Microsoft Yahei";
            color: #fff;
            text-align: center; }
  .ranking-list-container .prize-list .integral .l {
    background-color: #ee5652; }
  .ranking-list-container .prize-list .integral .r {
    background-color: #ee5652; }
  .ranking-list-container .prize-list .coupon .l {
    background-color: #6693cc; }
  .ranking-list-container .prize-list .coupon .r {
    background-color: #6693cc; }
  .ranking-list-container .prize-list .film .l {
    background-color: #eeb552; }
  .ranking-list-container .prize-list .film .r {
    background-color: #eeb552; }
  .ranking-list-container .prize-list .youku .l {
    background-color: #54b264; }
  .ranking-list-container .prize-list .youku .r {
    background-color: #54b264; }

.receive-prize-container {
  padding: 25% 15%; }
  .receive-prize-container > p {
    font: 0.7rem/1.5 "Microsoft Yahei";
    color: #fff;
    text-align: center; }
    .receive-prize-container > p strong {
      color: #ffef38; }
  .receive-prize-container .item {
    margin: 12% 0 10% 0;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end; }
    .receive-prize-container .item span {
      font: bold 0.7rem/1.5 "Microsoft Yahei";
      color: #fff; }
    .receive-prize-container .item .items {
      flex: 1;
      border-bottom: 1px solid #fff; }
      .receive-prize-container .item .items input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        font: 0.7rem/1.5 "Microsoft Yahei";
        color: #fff; }
        .receive-prize-container .item .items input::-webkit-input-placeholder {
          font: 0.65rem/1.5 "Microsoft Yahei";
          color: #304a6f; }
  .receive-prize-container .select {
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .receive-prize-container .select i {
      width: 1rem;
      height: 1rem;
      font-size: 0;
      margin-right: .2rem; }
      .receive-prize-container .select i img {
        width: 100%; }
    .receive-prize-container .select p {
      font: 0.6rem/1.5 "Microsoft Yahei";
      color: #fff; }
      .receive-prize-container .select p a {
        color: #ffef38; }
  .receive-prize-container .btn {
    margin: 15% auto 0;
    width: 80%;
    font-size: 0; }
    .receive-prize-container .btn img {
      width: 100%; }

.code-mask {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 80%;
  border-radius: 10px;
  padding: 5%;
  background-color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, -400%, 0);
  -o-transform: translate3d(-50%, -400%, 0);
  -ms-transform: translate3d(-50%, -400%, 0);
  -webkit-transform: translate3d(-50%, -400%, 0);
  transform: translate3d(-50%, -400%, 0); }
  .code-mask p {
    color: #406b8f;
    font: bold 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    text-align: center; }
  .code-mask .close {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 25px;
    height: 25px;
    font-size: 0; }
    .code-mask .close img {
      width: 100%; }
  .code-mask .item {
    margin: 8% 0;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .code-mask .item span {
      color: #333;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      margin-right: .3rem; }
    .code-mask .item button {
      padding: 0 3%;
      background: none;
      border: none;
      outline: none;
      background-color: #ffe138;
      border-radius: 5px;
      color: #000;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .code-mask .input-yzm {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .code-mask .input-yzm input {
      margin: 0 2%;
      background: none;
      border: none;
      outline: none;
      width: 30px;
      height: 30px;
      text-align: center;
      border: 1px solid #ddd; }

.code-mask.on {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.hortation-mask, .gitf-receive-success, .two-dimension-code {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  z-index: 5;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, -300%, 0);
  -o-transform: translate3d(-50%, -300%, 0);
  -ms-transform: translate3d(-50%, -300%, 0);
  -webkit-transform: translate3d(-50%, -300%, 0);
  transform: translate3d(-50%, -300%, 0); }
  .hortation-mask .share, .gitf-receive-success .share, .two-dimension-code .share {
    margin: 5% 0 2% 35%;
    width: 60%;
    font-size: 0; }
    .hortation-mask .share img, .gitf-receive-success .share img, .two-dimension-code .share img {
      width: 100%; }
  .hortation-mask .content, .gitf-receive-success .content, .two-dimension-code .content {
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    padding: 5%;
    background-color: #fff;
    width: 80%; }
    .hortation-mask .content h2, .gitf-receive-success .content h2, .two-dimension-code .content h2 {
      color: #406b8f;
      font: bold 0.85rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      text-align: center; }
    .hortation-mask .content p, .gitf-receive-success .content p, .two-dimension-code .content p {
      margin-top: .5rem;
      color: #000;
      font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      text-align: center; }
    .hortation-mask .content .btn, .gitf-receive-success .content .btn, .two-dimension-code .content .btn {
      display: -webkit-flex;
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      .hortation-mask .content .btn a, .gitf-receive-success .content .btn a, .two-dimension-code .content .btn a {
        padding: 0 3%;
        margin: 2% auto 0;
        display: block;
        width: 40%;
        background-color: #f3b100;
        border-radius: 30px;
        font: 0.65rem/1.8 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-align: center;
        color: #fff; }
        .hortation-mask .content .btn a:nth-child(2), .gitf-receive-success .content .btn a:nth-child(2), .two-dimension-code .content .btn a:nth-child(2) {
          background-color: #fff;
          border: 1px solid #f3b100;
          color: #f3b100; }
    .hortation-mask .content .gift, .gitf-receive-success .content .gift, .two-dimension-code .content .gift {
      margin: 3% auto;
      width: 25%;
      font-size: 0; }
      .hortation-mask .content .gift img, .gitf-receive-success .content .gift img, .two-dimension-code .content .gift img {
        width: 100%; }
    .hortation-mask .content .close, .gitf-receive-success .content .close, .two-dimension-code .content .close {
      position: absolute;
      right: 1%;
      top: 1%;
      width: 25px;
      height: 25px;
      font-size: 0; }
      .hortation-mask .content .close img, .gitf-receive-success .content .close img, .two-dimension-code .content .close img {
        width: 100%; }
    .hortation-mask .content .rule_mascot, .gitf-receive-success .content .rule_mascot, .two-dimension-code .content .rule_mascot {
      position: absolute;
      left: -1.1rem;
      top: -2rem;
      width: 3.8rem;
      height: auto;
      font-size: 0; }
      .hortation-mask .content .rule_mascot img, .gitf-receive-success .content .rule_mascot img, .two-dimension-code .content .rule_mascot img {
        width: 100%; }

.hortation-mask.on, .on.gitf-receive-success, .on.two-dimension-code {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.gitf-receive-success.on {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.two-dimension-code .code {
  margin: 0 auto;
  width: 60%;
  font-size: 0; }
  .two-dimension-code .code img {
    width: 100%; }

.two-dimension-code.on {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.roll-list {
  position: absolute;
  top: 2%;
  left: 15%;
  width: 70%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  height: 30px;
  overflow: hidden; }
  .roll-list ul li {
    font: 0.65rem/30px "Microsoft Yahei";
    color: #fff;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
