@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  touch-action: manipulation;
}

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%;
}

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
  -webkit-touch-callout: none;
}

input {
  /*ios去除input默认样式*/
  -webkit-appearance: none;
}

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
.arrow-left {
  position: relative;
}
.arrow-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
}

.arrow-top {
  position: relative;
}
.arrow-top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
}

.close-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50px;
  background: #ff366f;
  opacity: 1;
}
.close-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.close-icon:before {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-icon:after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrapper {
  padding-bottom: 1rem;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #f7f6f1;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0;
}
.header .rule {
  position: absolute;
  top: .2rem;
  right: .2rem;
  width: .6rem;
  height: .6rem;
  font-size: 0;
}
.header .rule img {
  width: 100%;
  height: 100%;
}
.header > img {
  width: 100%;
}

.coupon {
  position: relative;
  padding: .4rem .3rem .6rem .3rem;
  margin: -.2rem 0 0 0;
  background-color: #e0d3c7;
  border-radius: 10px 10px 0 0;
}
.coupon .all-integral {
  padding: .1rem;
  margin-bottom: .2rem;
  background-color: #fff9ea;
  border-radius: 5px;
}
.coupon .all-integral .all-integral-content {
  padding: .2rem;
  border: 1px dashed #a18f7e;
  border-radius: 5px;
}
.coupon .all-integral .all-integral-content h2 {
  font: bold 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
  text-align: center;
}
.coupon .all-integral .all-integral-content h2 span {
  margin: 0 .15rem;
  color: #534115;
}
.coupon .all-integral .all-integral-content .number {
  margin: .2rem 0;
  text-align: center;
}
.coupon .all-integral .all-integral-content .number span {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #e3c38a;
}
.coupon .all-integral .all-integral-content p {
  font: 0.2rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #64542c;
  text-align: center;
}
.coupon .coupon-top {
  padding: .1rem;
  background-color: #fff9ea;
  border-radius: 5px;
}
.coupon .coupon-top .coupon-top-content {
  padding: .25rem .35rem;
  border: 1px dashed #a18f7e;
  border-radius: 5px;
}
.coupon .coupon-top .coupon-top-content .ctc-receive {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.coupon .coupon-top .coupon-top-content .ctc-receive > img {
  width: .85rem;
  height: .85rem;
}
.coupon .coupon-top .coupon-top-content .ctc-receive .text {
  margin-left: -.5rem;
}
.coupon .coupon-top .coupon-top-content .ctc-receive .text h3 {
  font: bold 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #534115;
}
.coupon .coupon-top .coupon-top-content .ctc-receive .text p {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.coupon .coupon-top .coupon-top-content .ctc-receive > a {
  width: 1.1rem;
  height: .5rem;
  border-radius: 30px;
  background-color: #cf3737;
  font: 0.28rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
}
.coupon .coupon-top .coupon-top-content .ctc-see {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  display: none;
}
.coupon .coupon-top .coupon-top-content .ctc-see .text h3 {
  font: bold 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #534115;
}
.coupon .coupon-top .coupon-top-content .ctc-see .text p {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.coupon .coupon-top .coupon-top-content .ctc-see .btn > a {
  height: .5rem;
  border-radius: 30px;
  background-color: #cf3737;
  font: 0.28rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
  display: block;
}
.coupon .coupon-top .coupon-top-content .ctc-see .btn p {
  font: 0.2rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
.coupon .coupon-bottom {
  margin-top: .2rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.coupon .coupon-bottom > div {
  position: relative;
  width: 3.32rem;
  height: auto;
  font-size: 0;
}
.coupon .coupon-bottom > div img {
  width: 100%;
}
.coupon .coupon-bottom > div .mask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.free-single {
  position: relative;
  padding: .4rem .3rem .6rem .3rem;
  margin: -.2rem 0 0 0;
  border-radius: 10px 10px 0 0;
}
.free-single .rule {
  position: absolute;
  top: .2rem;
  right: .3rem;
  z-index: 1;
  width: .6rem;
  height: .6rem;
  font-size: 0;
}
.free-single .rule img {
  width: 100%;
  height: 100%;
}
.free-single .title, .free-single .title1 {
  margin-top: .8rem;
  width: 100%;
  height: auto;
  font-size: 0;
}
.free-single .title > img, .free-single .title1 > img {
  width: 100%;
}
.free-single .scroll-text {
  padding: 0 .3rem;
  margin: .5rem .6rem;
  background-color: #ecdece;
  border-radius: 30px;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.free-single .scroll-text > span {
  font: 0.24rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #7b6e61;
}
.free-single .scroll-text .roll {
  height: .5rem;
}
.free-single .scroll-text .roll .swiper-slide {
  -moz-transition: all 0s;
  -o-transition: all 0s;
  -ms-transition: all 0s;
  -webkit-transition: all 0s;
  transition: all 0s;
  margin-left: .2rem;
  height: .5rem;
  overflow: hidden;
  font: 0.24rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #473406;
}
.free-single .project-list .itmes {
  margin-top: .5rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.free-single .project-list .itmes .left {
  padding: .1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
}
.free-single .project-list .itmes .left .img {
  position: relative;
  background-color: #fffdf1;
  font-size: 0;
  width: 2.3rem;
  height: 2.3rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.free-single .project-list .itmes .left .img > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.free-single .project-list .itmes .left .img p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 .2rem;
  font: 0.22rem/0.4rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.free-single .project-list .itmes .right {
  margin-left: .3rem;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 2.5rem;
}
.free-single .project-list .itmes .right .text {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.free-single .project-list .itmes .right .text h2 {
  font: 0.32rem/1.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.free-single .project-list .itmes .right .text p {
  font: 0.26rem/1.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #666;
}
.free-single .project-list .itmes .right .price {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.free-single .project-list .itmes .right .price .price-left del {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #a88e75;
}
.free-single .project-list .itmes .right .price .price-left h4 {
  font: 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #b21818;
}
.free-single .project-list .itmes .right .price .price-right {
  width: 1.6rem;
  height: .6rem;
  text-align: center;
  font: 0.26rem/0.6rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  background-color: #cf3737;
  border-radius: 5px;
}
.free-single .title1 {
  margin-top: 1rem;
}
.free-single .card-list .itmes {
  margin-top: .5rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.free-single .card-list .itmes .left {
  padding: .1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
}
.free-single .card-list .itmes .left .img {
  position: relative;
  background-color: #fffdf1;
  font-size: 0;
  width: 2.3rem;
  height: 2.3rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.free-single .card-list .itmes .left .img > img {
  padding: .1rem;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.free-single .card-list .itmes .left .img p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 .2rem;
  font: 0.22rem/0.4rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.free-single .card-list .itmes .right {
  margin-left: .3rem;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 2.5rem;
}
.free-single .card-list .itmes .right .text {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.free-single .card-list .itmes .right .text h2 {
  font: 0.32rem/1.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.free-single .card-list .itmes .right .text h2 span {
  padding: 0 .1rem;
  margin-left: .12rem;
  font: 0.2rem/1.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  border: 1px solid #cf3737;
  color: #cf3737;
  border-radius: 30px;
}
.free-single .card-list .itmes .right .text p {
  font: 0.26rem/1.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #666;
}
.free-single .card-list .itmes .right .price {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.free-single .card-list .itmes .right .price .price-left del {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #a88e75;
}
.free-single .card-list .itmes .right .price .price-left h4 {
  font: 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #b21818;
}
.free-single .card-list .itmes .right .price .price-right {
  width: 1.6rem;
  height: .6rem;
  text-align: center;
  font: 0.26rem/0.6rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
  background-color: #cf3737;
  border-radius: 5px;
}

.app-content {
  position: relative;
  padding: .4rem .3rem;
  margin: -.2rem 0 0 0;
  background-color: #fff3e3;
  border-radius: 10px 10px 0 0;
}
.app-content .rule {
  position: absolute;
  top: .2rem;
  right: .3rem;
  z-index: 1;
  width: .6rem;
  height: .6rem;
  font-size: 0;
}
.app-content .rule img {
  width: 100%;
  height: 100%;
}
.app-content .title, .app-content .free-single .title1, .free-single .app-content .title1 {
  margin-top: .8rem;
  width: 100%;
  height: auto;
  font-size: 0;
}
.app-content .title > img, .app-content .free-single .title1 > img, .free-single .app-content .title1 > img {
  width: 100%;
}
.app-content .time {
  padding: 0 .3rem;
  margin: .5rem .6rem;
  background-color: #ecdece;
  border-radius: 30px;
  overflow: hidden;
  font: 0.24rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #7b6e61;
  text-align: center;
}
.app-content .project-list {
  padding: .2rem;
  background-color: #fff;
}
.app-content .project-list .list {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.app-content .project-list .list .items {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.app-content .project-list .list .items:nth-child(2n) {
  margin-left: .2rem;
}
.app-content .project-list .list .items .img {
  width: 100%;
  font-size: 0;
}
.app-content .project-list .list .items .img img {
  width: 100%;
}
.app-content .project-list .list .items p {
  margin-top: .2rem;
  font: 0.32rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.app-content .project-list .list .items del {
  font: 0.26rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #a88e75;
}
.app-content .project-list .btn {
  margin-top: .2rem;
  background-color: #cf3737;
  border-radius: 5px;
}
.app-content .project-list .btn a {
  display: block;
  text-align: center;
  font: 0.26rem/0.6rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.app-SecKill {
  position: relative;
  padding: .4rem .3rem .6rem .3rem;
  margin: -.2rem 0 0 0;
  background-color: #fff3e3;
  border-radius: 10px 10px 0 0;
}
.app-SecKill .title, .app-SecKill .free-single .title1, .free-single .app-SecKill .title1 {
  margin: 0 auto;
  width: 60%;
  height: auto;
  font-size: 0;
}
.app-SecKill .title > img, .app-SecKill .free-single .title1 > img, .free-single .app-SecKill .title1 > img {
  width: 100%;
}
.app-SecKill .time {
  padding: 0 .3rem;
  margin: .5rem .6rem;
  background-color: #ecdece;
  border-radius: 30px;
  overflow: hidden;
  font: 0.24rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #7b6e61;
  text-align: center;
}
.app-SecKill .project-list {
  padding: .2rem;
  background-color: #fff;
}
.app-SecKill .project-list .list {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.app-SecKill .project-list .list .items {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.app-SecKill .project-list .list .items:nth-child(2n) {
  margin-left: .2rem;
}
.app-SecKill .project-list .list .items .img {
  width: 100%;
  font-size: 0;
}
.app-SecKill .project-list .list .items .img img {
  width: 100%;
}
.app-SecKill .project-list .list .items p {
  margin-top: .2rem;
  font: 0.32rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.app-SecKill .project-list .list .items del {
  font: 0.26rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #a88e75;
}
.app-SecKill .project-list .list .items a {
  margin-top: .2rem;
  background-color: #cf3737;
  border-radius: 5px;
  display: block;
  text-align: center;
  font: 0.26rem/0.6rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff;
}

.swiper-container {
  background-color: #fff;
  height: 3.6rem;
}

.swiper-wrapper .text {
  position: absolute;
  top: .8rem;
  left: .6rem;
  z-index: 3;
}
.swiper-wrapper .text h2 {
  font: 0.52rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.swiper-wrapper .text p {
  font: 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.swiper-wrapper .text a {
  padding: .1rem 0;
  margin-top: .1rem;
  display: block;
  width: 1.86rem;
  border: 1px solid #cf3737;
  font: 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
  border-radius: 5px;
  text-align: center;
}

.swiper-pagination {
  width: 30% !important;
  left: inherit !important;
  right: 0;
}

.swiper-pagination-bullet {
  width: 16px !important;
  border-radius: 30px !important;
  margin: 0 2px !important;
}

.swiper-pagination-bullet-active {
  width: 32px !important;
  opacity: 1 !important;
  background: #d1c0a5 !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.foot {
  padding: .4rem 0;
  width: 100%;
  font-size: 0;
}
.foot img {
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  height: 1rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.footer .boon {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.footer .boon p {
  font: 0.3rem/1rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
  text-align: center;
}
.footer .boon .boon-list {
  position: absolute;
  top: -2.2rem;
  left: .15rem;
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.footer .boon .boon-list a {
  position: relative;
  padding: .24rem 0;
  width: 2.2rem;
  font: 0.28rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #534115;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}
.footer .boon .boon-list a:first-child {
  border-bottom: 1px solid #ddd;
}
.footer .boon .boon-list a .l p {
  font: 0.28rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #534115;
}
.footer .boon .boon-list a .l h6 {
  font: 0.26rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
}
.footer .boon .boon-list a .img {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -.14rem;
  width: .28rem;
  height: .14rem;
  font-size: 0;
}
.footer .boon .boon-list a .img img {
  width: 100%;
  height: 100;
}
.footer .boon .boon-list a i {
  width: .1rem;
  height: .13rem;
  font-size: 0;
}
.footer .boon .boon-list a i img {
  width: 100%;
  height: 100%;
}
.footer > a {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font: 0.3rem/1rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
  text-align: center;
}
.footer > a:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.hairlines .footer {
  border-width: .5px;
}
.hairlines .footer a:nth-child(2) {
  border-width: .5px;
}

.public-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: none;
  background-color: #000;
  opacity: .3;
}

.mask-rule {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;
  padding: .1rem;
  width: 5.8rem;
  background-color: #fff;
  border-radius: 5px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -webkit-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
}
.mask-rule .rule-content {
  padding: .3rem .4rem;
  border: 1px dashed #a18f7e;
  border-radius: 5px;
}
.mask-rule .rule-content > h2 {
  font: bold 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
  text-align: center;
}
.mask-rule .rule-content .text {
  margin: .2rem 0;
  max-height: 6rem;
  overflow: auto;
}
.mask-rule .rule-content .text h4 {
  font: bold 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
  text-align: center;
  margin-bottom: .2rem;
}
.mask-rule .rule-content .text h5 {
  font: bold 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #473406;
  text-align: center;
  margin-bottom: .2rem;
}
.mask-rule .rule-content .text h2 {
  font: bold 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
  margin-bottom: .2rem;
}
.mask-rule .rule-content .text h3 {
  font: bold 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
  margin-bottom: .2rem;
}
.mask-rule .rule-content .text p {
  font: 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
  margin-bottom: .2rem;
}
.mask-rule .rule-content .text strong {
  font: bold 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
}
.mask-rule .rule-content a {
  margin: 0 auto;
  display: block;
  width: 2.42rem;
  height: .74rem;
  border: 1px solid;
  font: 0.3rem/0.74rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
  text-align: center;
  border-radius: 30px;
}

.mask-rule.mask-rule-active {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mask-go-and-get {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;
  padding: .1rem;
  width: 5.6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 5px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -webkit-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
}
.mask-go-and-get .content {
  padding: .3rem .4rem;
}
.mask-go-and-get .content h3 {
  font: 0.36rem/1.8 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fffccb;
  text-align: center;
}
.mask-go-and-get .content h4 {
  font: 0.26rem/1.8 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fffccb;
  text-align: center;
}
.mask-go-and-get .content h2 {
  margin: .7rem 0;
  font: 0.48rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff000;
  text-align: center;
}
.mask-go-and-get .content h2 strong {
  font: bold 1rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
.mask-go-and-get .content p {
  font: 0.24rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #8c0000;
  text-align: center;
}
.mask-go-and-get .content a {
  margin: 0 auto;
  display: block;
  width: 2.42rem;
  height: .74rem;
  border: 1px solid;
  font: 0.3rem/0.74rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #fff000;
  text-align: center;
  border-radius: 30px;
}
.mask-go-and-get .close {
  margin: .8rem auto 0;
  width: .8rem;
  height: .8rem;
  font-size: 0;
}
.mask-go-and-get .close img {
  width: 100%;
  height: 100%;
}

.mask-double .content {
  padding: .3rem 0;
}
.mask-double .content h3 {
  font: 0.36rem/1.8 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #855626;
  text-align: center;
}
.mask-double .content h4 {
  font: 0.26rem/1.8 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #855626;
  text-align: center;
}
.mask-double .content h2 {
  margin: .7rem 0;
  font: 0.48rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #d00101;
  text-align: center;
}
.mask-double .content h2 strong {
  font: bold 1rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
.mask-double .content p {
  font: 0.24rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #855626;
  text-align: center;
}
.mask-double .content a {
  margin: 0 auto;
  display: block;
  width: 2.42rem;
  height: .74rem;
  border: 1px solid;
  font: 0.3rem/0.74rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #d00101;
  text-align: center;
  border-radius: 30px;
}

.mask-go-and-get.mask-go-and-get-active {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=index.css.map */
