@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  touch-action: manipulation;
}

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%;
}

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
  -webkit-touch-callout: none;
}

input {
  /*ios去除input默认样式*/
  -webkit-appearance: none;
}

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
.arrow-left {
  position: relative;
}
.arrow-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
}

.arrow-top {
  position: relative;
}
.arrow-top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
}

.close-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50px;
  background: #ff366f;
  opacity: 1;
}
.close-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.close-icon:before {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-icon:after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrapper {
  padding-top: .9rem;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #e0d3c7;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  height: .9rem;
}
.header h1 {
  font: 0.34rem/0.9rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  text-align: center;
  color: #1c2302;
}
.header .left {
  position: absolute;
  left: .3rem;
  top: 50%;
  z-index: 1;
}
.header .left:after {
  margin-left: .2rem;
}
.header .right {
  position: absolute;
  right: .3rem;
  top: 0;
  z-index: 1;
  font: 0.28rem/0.9rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #b21818;
}

.subsidy-title {
  padding: .3rem 0;
}
.subsidy-title h4 {
  font: bold 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  text-align: center;
  color: #b21818;
}
.subsidy-title h5 {
  font: 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  text-align: center;
  color: #92887f;
}
.subsidy-title .title-list {
  margin: .3rem 0 0 0;
  padding: 0 .3rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.subsidy-title .title-list .items {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: .1rem;
  font: bold 0.8rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  background-color: #fff;
  border-radius: 5px;
}
.subsidy-title .title-list .items:nth-child(2) {
  margin-left: .3rem;
}
.subsidy-title .title-list .items .items-content {
  padding: .2rem 0;
  border: 1px dashed #a39281;
  border-radius: 5px;
}
.subsidy-title .title-list .items .items-content h3 {
  font: bold 0.32rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  text-align: center;
  color: #b21818;
}
.subsidy-title .title-list .items .items-content p {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.subsidy-title .title-list .items .items-content p i {
  margin-left: .1rem;
  width: .22rem;
  height: .22rem;
  font-size: 0;
}
.subsidy-title .title-list .items .items-content p i img {
  width: 100%;
  height: 100%;
}

.subsidy-list {
  border-radius: 10px 10px 0 0;
}
.subsidy-list > p {
  font: 0.24rem/3 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  text-align: center;
  color: #92887f;
}

.subsidy-list-content {
  padding: .3rem;
}
.subsidy-list-content .items {
  padding: .3rem;
  margin-bottom: .1rem;
  background-color: #fff;
  border-radius: 5px;
}
.subsidy-list-content .items > p {
  padding-bottom: .1rem;
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #999;
  border-bottom: 1px solid #ddd;
}
.subsidy-list-content .items .text-img {
  margin-top: .3rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.subsidy-list-content .items .text-img .left {
  margin-right: .2rem;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0;
  background-color: #c6c3bb;
}
.subsidy-list-content .items .text-img .left img {
  width: 100%;
  height: 100%;
}
.subsidy-list-content .items .text-img .right {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.subsidy-list-content .items .text-img .right h3 {
  font: 0.3rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #1c2302;
}
.subsidy-list-content .items .text-img .right p {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #999;
}
.subsidy-list-content .items .text-img .right .foot {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.subsidy-list-content .items .text-img .right .foot > span {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
}
.subsidy-list-content .items .text-img .right .foot > span strong {
  font: bold 0.3rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
.subsidy-list-content .items .text-img .right .foot .btn {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.subsidy-list-content .items .text-img .right .foot .btn a {
  margin-left: .2rem;
  border: 1px solid;
  color: #cf3737;
  border-radius: 30px;
  width: 1.2rem;
  font: bold 0.28rem/0.5rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  text-align: center;
}
.subsidy-list-content .items-loading {
  display: none;
  font: 0.24rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #999;
}

.subsidy-null {
  position: relative;
}
.subsidy-null .null {
  position: absolute;
  top: 35%;
  left: 50%;
  height: auto;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.subsidy-null .null .img {
  margin: 0 auto .3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
  font-size: 0;
}
.subsidy-null .null .img img {
  width: 100%;
  height: 100%;
}
.subsidy-null .null p {
  font: 0.28rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #534115;
  text-align: center;
}

.public-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: none;
  background-color: #000;
  opacity: .3;
}

.mask-rule {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;
  padding: .1rem;
  width: 5.8rem;
  background-color: #fff;
  border-radius: 5px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -webkit-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
}
.mask-rule .rule-content {
  padding: .3rem .4rem;
  border: 1px dashed #a18f7e;
  border-radius: 5px;
}
.mask-rule .rule-content h2 {
  font: 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
  text-align: center;
}
.mask-rule .rule-content .text {
  margin: .4rem 0;
}
.mask-rule .rule-content .text p {
  font: 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
  margin-bottom: .2rem;
}
.mask-rule .rule-content .text .item {
  margin-bottom: .4rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.mask-rule .rule-content .text .item span {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font: 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
}
.mask-rule .rule-content .text .item label {
  padding: 0 .1rem;
  background-color: #fff;
  border-radius: 5px;
  width: 3.6rem;
  height: .7rem;
  overflow: hidden;
  font-size: 0;
}
.mask-rule .rule-content .text .item label input, .mask-rule .rule-content .text .item label textarea {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font: 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #261a00;
}
.mask-rule .rule-content .text .item .address {
  height: 1.4rem;
}
.mask-rule .rule-content a {
  margin: 0 auto;
  display: block;
  width: 2.42rem;
  height: .74rem;
  border: 1px solid;
  font: 0.3rem/0.74rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #cf3737;
  text-align: center;
  border-radius: 30px;
}

.mask-rule.mask-rule-active {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=userOrders.css.map */
