@import "base", "variable";
.wrapper{
	width:100%;
	max-width:640px;
	min-height:320px;
	padding-bottom:3.3rem;
	margin:0 auto;
	background:url("../images/top_bg.jpg") #3f1339 no-repeat;
	background-size:100% auto;
	overflow:hidden;
}
.header{
	padding:1%;
	justify-content:space-between;
    display:-webkit-flex;
    >div{
    	width:20%;
    	img{
    		width:100%;
    	}
    }
    .strategy{
    	animation:mymove .5s infinite;
        -webkit-animation:mymove .5s infinite; /*Safari and Chrome*/
        width: 40%;
        margin-right: -20%;
        img{
        	width:50%;
        }
    }
}
@keyframes mymove{
	from {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	to {
		transform:rotate(-10deg);
		-webkit-transform:rotate(-10deg);
	}
}
@-webkit-keyframes mymove {
	from {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	to {
		transform:rotate(-10deg);
		-webkit-transform:rotate(-10deg);
	}
}
.nav{
	padding:0 3%;
	margin-top:8rem;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	.nav-list{
		-webkit-flex:1;
		flex:1;	
		height:2.7rem;	
		margin:0 .1rem;
	}
	.discount{
		background:url("../images/nav01.png") no-repeat;
        background-size:100% auto;
        &.active{
        	background:url("../images/nav_active01.png") no-repeat;
        	background-size:100% auto;
        }
	}
	.SecKill{
        background:url("../images/nav02.png") no-repeat;
        background-size:100% auto;
        &.active{
        	background:url("../images/nav_active02.png") no-repeat;
        	background-size:100% auto;
        }
	}
	.free{
		background:url("../images/nav03.png") no-repeat;
        background-size:100% auto;
        &.active{
        	background:url("../images/nav_active03.png") no-repeat;
        	background-size:100% auto;
        }
	}
}
.prize-draw{
	padding:0 3%;
	margin-top:1rem;
	.prize-draw-container{
		position: relative;
		height: 11rem;
		background:url("../images/lottery_draw.png") no-repeat;
		background-size:100% auto;
		.prize-draw-list{		
		    margin: 0 auto;
		    padding-top: 10%;
		    width: 80%;
			display:-webkit-box;
			display:-webkit-flex;
			display:flex;
			.slotMachine{
				overflow: hidden;
				background-color: #ffffff;
				-webkit-flex:1;
				flex:1;	
				height:5.2rem;	
				margin:0 .3rem;
				.slot{
					width: 100%;
                    height: 5.2rem;
					background-size:100% 100%;
				}
				.slot1{
					background-image: url("../images/slot1.png");
				}
				.slot2{
					background-image: url("../images/slot2.png");
				}
				.slot3{
					background-image: url("../images/slot3.png");
				}
				.slot4{
					background-image: url("../images/slot4.png");
				}
				.slot5{
					background-image: url("../images/slot5.png");
				}
				.slot6{
					background-image: url("../images/slot6.png");
				}
			}
		}
		.prize-draw-btn{
		    position: absolute;
		    bottom: 5%;
		    left: 28%;
		    width: 45%;
		    height: 3rem;
			background:url("../images/lottery_draw_btn.png") no-repeat;
		    background-size:100% auto;
		}
	}
	.prize-draw-text{
		margin:.5rem auto 0;
		width:80%;
		height:1.5rem;	
        border-radius:30px;   
        background-color:#b93ffc; 
        overflow: hidden; 
        i{
        	width:.8rem;
        	height:1rem;
        	background:url("../images/gold_medal.png") no-repeat;
            background-size:100% 100%;
            display:block;
			vertical-align: middle;
			float: left;
            margin: .25rem .1rem 0 .5rem;
        }
        ul{
        	margin-left:1.5rem;
        	li{
        		color:#fff;
		        font:.65rem/1.5rem "Microsoft YaHei","Helvetica Neue";
		        text-overflow:ellipsis; 
		        white-space:nowrap; 
		        overflow: hidden;
        	}
        }
	}
}
.all-list{
	padding:0 6%;
	.all-list-container{
		>div{
			margin-top:1.5rem;
			font-size: 0;
			>img{
				width:100%;
				margin-bottom:.6rem;
			}
		}
	}
}
.SecKill-list{
	display:block;
}
.free-list{
	@extend .SecKill-list;
}
.SecKill-container{
	>img{
       margin-bottom:0 !important;
	}
	>p{
        font:.7rem/2 "Microsoft YaHei","Helvetica Neue";
		color:#fff;
		text-align:center;
		margin-bottom:.5rem;
	}
	.SecKill-container-text{
		ul{
			display:-webkit-box;
			display:-webkit-flex;
			display:flex;
			li{
				
				color:#fff;
				-webkit-flex:1;
				flex:1;	
				text-align:center;
				background-color:#4a0b6d;
				border-radius:5px 5px 0 0;
				margin-right:.25rem;
				h3{
					font:.7rem/1rem "Microsoft YaHei","Helvetica Neue";
				}
				p{
                    font:.6rem/1rem "Microsoft YaHei","Helvetica Neue";
                    i{
                    	width:.6rem;
                    	height:.6rem;
                    	background:url("../images/time.png") no-repeat;
                    	background-size:100% 100%;
                    	display: inline-block;
					    margin-right: .1rem;
                    }
				}
				&:last-child{
					margin-left: .25rem;
                    margin-right: 0;
				}
			}
			.active{
				background-color:#aa11ff;
			}
		}
		.all-text-list{
			background-color:#aa11ff;
			.text-list{
				padding:2% 0 0;
				height: auto;
                overflow: hidden;
                display:none;
				.tl{
					float:left;
                    width:50%;
                    position:relative;
				    img{
				    	width:100%;
				    }
				    &:nth-child(odd){
				    	padding:0 1% 2% 2%;
				    	.laryer-list{
					    	position:absolute;
					    	left:4%;
					    	right:2%;
					    	top:0;
					    	bottom:3%;
					    	background:rgba(0,0,0,.7);
					    	p{
					    		font:.75rem/1 "Microsoft YaHei","Helvetica Neue";
					    		color:#fff;
					    		text-align:center;
					    		width: 100%;
							    top: 50%;
							    position: absolute;
							    i{
							    	width:.75rem;
							    	height:.75rem;
							    	background:url("../images/time.png") no-repeat;
							    	background-size:100% 100%;
							    	display: inline-block;
								    vertical-align: middle;
								    margin-right: .1rem;
							    }
					    	}
					    }
				    }
				    &:nth-child(even){
				    	padding:0 2% 2% 1%;
				    	.laryer-list{
					    	position:absolute;
					    	left:2%;
					    	right:4%;
					    	top:0;
					    	bottom:3%;
					    	background:rgba(0,0,0,.7);
					    	p{
					    		font:.75rem/1 "Microsoft YaHei","Helvetica Neue";
					    		color:#fff;
					    		text-align:center;
					    		width: 100%;
							    top: 50%;
							    position: absolute;
							    i{
							    	width:.75rem;
							    	height:.75rem;
							    	background:url("../images/time.png") no-repeat;
							    	background-size:100% 100%;
							    	display: inline-block;
								    vertical-align: middle;
								    margin-right: .1rem;
							    }
					    	}
					    }
				    }
				    .tl-text{	
				        background-color:#fff;			    	
				    	padding:2%;
				    	margin-top: -1px;
				    	p{
				    		font:.7rem/1.5 "Microsoft YaHei","Helvetica Neue";
				    	}
				    	a{
				    		background-color:#ff8400;
		            		font:bold .65rem/2 "Microsoft YaHei","Helvetica Neue";
		            		display:block;
		            		color:#fff;
		            		text-decoration: none;
						    border-radius: 3px;
						    padding: 0 5%;
						    text-align:center;
						    margin:.3rem auto 0;
						    width:80%;
				    	}
				    	.on{
				    		background-color:#b6b6b6;
				    	}
				    }
				}
				&:last-child{
					.tl-text{
						a{
							background-color:#ccc;
		            		font:bold .65rem/2 "Microsoft YaHei","Helvetica Neue";
		            		display:block;
		            		color:#fff;
		            		text-decoration: none;
						    border-radius: 3px;
						    padding: 0 5%;
						    text-align:center;
						    margin:.3rem auto 0;
						    width:80%;
						}
					}
				}
			}
		}
	}
}
.free-container-text{
	position:relative;
	background-color:#a1f;
	padding:2%;
	.text-bg{
		background-color:#fff;
		border-radius:5px;
		>img{
			width:100%;
			border-radius:5px;
		}
	}
	a{
		position:absolute;
		width:30%;
		left:35%;
		bottom:-2%;
		display:block;
		img{
			width:100%;
		}
	}
}
.title1{
	.coupon{
		background-color:#fff;
		border-radius:5px;
		display:-webkit-box;
		display:-webkit-flex;
		display:flex;
		padding:.2rem 0;
		a{
			-webkit-flex:1;
			flex:1;		
			margin:0 .2rem;
			img{
				width:100%;
			}
		}
	}
}
.title2{
	.new-user{
		display:-webkit-box;
		display:-webkit-flex;
		display:flex;
		.hotel-list{
			-webkit-flex:1;
			flex:1;	
			margin:0 .2rem;
			>img{
				width:90%;
				margin-bottom:.1rem;
			}
			.text{
				background-color:#fff;
	            img{
	              	width:100%;
	            }
	            .text-container{
	            	padding:5%;
	            	h3{
		            	font:.7rem/1.2 "Microsoft YaHei","Helvetica Neue";
		            	color:#333;
		            	display:-webkit-box !important;
					    overflow:hideen;
					    text-overflow:ellipsis;
					    word-break:break-all;
					    -webkit-box-orient:vertical;
					    -webkit-line-clamp:2;
					    margin-bottom:5%;
		            }
		            p{
		            	font:.6rem/2 "Microsoft YaHei","Helvetica Neue";
		            	color:#333;
		            	span{
		            		font:bold .7rem/2 "Microsoft YaHei","Helvetica Neue";
		            		color:#ff8400;
		            		del{
		            			margin-left:.1rem;
		            			font:.6rem/2 "Microsoft YaHei","Helvetica Neue";
		            			color:#999;
		            		}
		            	}
		            	a{
		            		background-color:#ff8400;
		            		font:bold .65rem/2 "Microsoft YaHei","Helvetica Neue";
		            		display:inline-block;
		            		color:#fff;
		            		text-decoration: none;
						    float:right;
						    border-radius: 3px;
						    padding: 0 5%;
		            	}
		            }
	            }            
			}
		}
	}
}
.title3{
	.hot-cake{
		.hot-cake-list{
			position:relative;
			margin-bottom:.5rem;
			img{
				width:100%;
				&:first-child{
                    width:15%;
                    position:absolute;
                    top:0;
                    left:.5rem;
				}
			}
			.text{
				position:absolute;
				top:0;
				right:0;
				background:rgba(0,0,0,.8);
				width:50%;
				height:100%;
				padding:3% 5% 0 5%;
				h3{
					font:.7rem/1.5 "Microsoft YaHei","Helvetica Neue";
					color:#fff;
					text-align:center;
					span{
						color:#ffe400;
						strong{
							font-weight:bold;
						}
					}
				}
				p{
					font:.6rem/1.2 "Microsoft YaHei","Helvetica Neue";
					color:#999;
				}
				.money{
					margin-top:.5rem;
					span{
                       font:bold .8rem/1.2 "Microsoft YaHei","Helvetica Neue";
					   color:#ffe400;
					   strong{
					   	font-size:1rem;
					   }
					}
					del{
						font:.6rem/1.2 "Microsoft YaHei","Helvetica Neue";
					    color:#999;
					}
				}
				a{
					background-color:#ff8400;
            		font:bold .65rem/2 "Microsoft YaHei","Helvetica Neue";
            		display:block;
            		color:#fff;
            		text-decoration: none;
				    border-radius: 3px;
				    padding: 0 5%;
				    text-align:center;
				    margin:.3rem auto 0;
				    width:60%;
				}
			}
		}
	}
}
.title4{
	.recommend{
		display:-webkit-box;
		display:-webkit-flex;
		display:flex;
		padding:.2rem 0;
		a{
			-webkit-flex:1;
			flex:1;		
			margin:0 .2rem;
			img{
				width:100%;
			}
		}
	}
}
.layer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:2.8rem;
	background-color:#4a0b6d;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	a{
		font:.7rem/2.8rem "Microsoft YaHei","Helvetica Neue";
		color:#fff;
		text-decoration:none;
		-webkit-flex:1;
		flex:1;	
		text-align:center;
		i{
			width:1rem;
			height:1rem;
			background:url("../images/bottom-icon01.png") no-repeat;
			background-size:100% 100%;
			display:inline-block;
			vertical-align: middle;
			margin-right:.1rem;
		}	
        &:nth-child(2){
        	i{
        		background:url("../images/bottom-icon02.png") no-repeat;
		        background-size:100% 100%;
        	}		
		}
		&:nth-child(3){
        	i{
        		background:url("../images/bottom-icon03.png") no-repeat;
		        background-size:100% 100%;
        	}		
		}
	}
}

.wrapper-detailed{
	width:100%;
	max-width:640px;
	min-height:320px;
	padding-bottom:2.8rem;
	margin:0 auto;
	background-color:#e5e5e5;
}
.swiper-container{
	font-size:0;
}
.title-name{
	padding:3% 0;
	margin-bottom:.5rem;
	background-color:#fff;
	h2{
		position:relative;
		padding:0 3% .5rem 3%;
		font:.75rem/1.2 "Microsoft YaHei","Helvetica Neue";
		color:#333;
		&:before{
			position:absolute;
			bottom:-1px;
			left:0;
			content:'';
			width:100%;
			height:1px;
			border-bottom:1px solid #ccc;
			-webkit-transform:scaleY(.5);
			transform: scaleY(.5);
		}
	}
    p{
    	padding:3% 3% 0 3%;
    	font:.6rem/1.2 "Microsoft YaHei","Helvetica Neue";
    	color:#666;
    	span{
    		margin-right:.3rem;
    		i{
    			color:#007aff;
    			margin-right:.1rem;
    			vertical-align: middle;
    		}
    	}
    }
}
.see-more{
	padding:3% 0 0 0;
	margin-bottom:.5rem;
	background-color:#fff;
	display:block;
	text-decoration:none;
	h3{
		position:relative;
		padding:0 3% .5rem 3%;
		font:.75rem/1.2 "Microsoft YaHei","Helvetica Neue";
		color:#333;
		&:before{
			position:absolute;
			bottom:-1px;
			left:0;
			content:'';
			width:100%;
			height:1px;
			border-bottom:1px solid #ccc;
			-webkit-transform:scaleY(.5);
			transform: scaleY(.5);
		}
		i{
			float: right;
            color: #ccc;
		}
	}
}
.need-to-know{
	padding:3% 0 0 0;
	margin-bottom:.5rem;
	background-color:#fff;
	h3{
		position:relative;
		padding:0 3% .5rem 3%;
		font:.75rem/1.2 "Microsoft YaHei","Helvetica Neue";
		color:#333;
		&:before{
			position:absolute;
			bottom:-1px;
			left:0;
			content:'';
			width:100%;
			height:1px;
			border-bottom:1px solid #ccc;
			-webkit-transform:scaleY(.5);
			transform: scaleY(.5);
		}
		i{
			float: right;
            color: #ccc;
		}
	}
	.text{
		padding:3%;
		p{
			font:.7rem/1.2 "Microsoft YaHei","Helvetica Neue";
			margin-bottom:.2rem;
			color:#666;
		}  	
	}
}
.info{
	background-color:#fff;
	ul{
		display:-webkit-box;
		display:-webkit-flex;
		display:flex;
		position: relative;
		&:before{
			position:absolute;
			bottom:-1px;
			left:0;
			content:'';
			width:100%;
			height:1px;
			border-bottom:1px solid #ccc;
			-webkit-transform:scaleY(.5);
			transform: scaleY(.5);
		}
		li{
			-webkit-flex:1;
			flex:1;	
            text-align:center;
            font:.7rem/3 "Microsoft YaHei","Helvetica Neue";
		}
		.underline{
			position:absolute;
			left:0;
			bottom:0;
			width:33.333333%;
			height:2px;
			background-color:#007aff;
			-webkit-transition:(all .5s);
			transition:(all .5s);
		}
	}
	.info-list-all{
		.info-list{
			display:none;
			padding:2% 2% 0 2%;
			font-size:0;
			img{
				margin-bottom:.2rem;
				width:100%;
				&:last-child{
					margin-bottom:0;
				}
			}
			p{
				font:.7rem/1.5 "Microsoft YaHei","Helvetica Neue";
				margin-bottom:.2rem;
				color: #666;
				&:last-child{
					margin-bottom:0;
				}
			}
		}
	}
}
.layer-detailed{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:2.8rem;
	background-color:#fff;
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	.layer-detailed-list{
		-webkit-flex:1;
		flex:1;	
		text-align:center;
		color:#ff5b45;
		.money{
			float:left;
			width:40%;
			p{
				font:bold 1rem/2.8rem "Microsoft YaHei","Helvetica Neue";
			}
		}
		.time{
			margin-top:.3rem;
			float:left;
			width:60%;
			padding-left:5%;
			border-left:1px solid #ff5b45;
			p{
				font:normal .7rem/1.5 "Microsoft YaHei","Helvetica Neue";
				text-align:left;
			}
		}
		&:last-child{
			a{
				background-color:#ff5b45;
				color:#fff;
				font:normal .9rem/2.8rem "Microsoft YaHei","Helvetica Neue";
				text-decoration:none;
				display:block;
			}
			.on{
                background-color:#ccc;
                display:block;
			}
		}
	}
}

.layer-pop{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:none;
	background:rgba(0,0,0,.7);
}
.strategy-pop{
	position:fixed;
	top:55%;
	left:50%;
	display:none;
	width:80%;
	height:70%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	>img{
		position:absolute;
		width:90%;
		top:-7%;
		left:5%;
	}
	.strategy-pop-text{
	    padding:8% 5% 5% 5%;
		height:90%;
		background-color:#fe4f20;
		border-radius:15px;
		.text-list{
			background-color:#fff;
		    overflow:auto;
		    height:100%;
		    border-radius:15px;
		    padding: 5%;
		    p{
		    	font:.7rem/1.5 "Microsoft YaHei","Helvetica Neue";
		    	margin-bottom:.5rem;
		    	color:#333;
		    }
		}
	}
	.strategy-pop-btn{
		width:35%;
		margin:3% auto 0;
		img{
           width:100%; 
		}
	}
}
.not-winning-pop{
	position:fixed;
	top:50%;
	left:50%;
	display:none;
	width:80%;
	height:32%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	>img{
		position:absolute;
		width:70%;
		top:-10%;
		left:15%;
	}
	.not-winning-pop-text{
	    padding:8% 5% 0 5%;
		background-color:#fe4f20;
		border-radius:15px;
		>p{
			font:.7rem/2 "Microsoft YaHei","Helvetica Neue";
		    color:#fff;
		    text-align:center;
		}
		.text-list{
			background-color:#fff;
		    border-radius:15px;
		    padding: 5%;
		    text-align:center;
		    img{
		    	width:30%;
		    }
		    p{
		    	font:.7rem/1.5 "Microsoft YaHei","Helvetica Neue";
		    	color:#bf1611;
		    }
		}
	}
	.not-winning-pop-btn{
		width:40%;
		margin:3% auto 0;
		img{
           width:100%; 
		}
	}
}
.winning-pop{
	position:fixed;
	top:50%;
	left:50%;
	// display:none;
	width:80%;
	height:32%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	>img{
		position:absolute;
		width:120%;
		top:-30%;
		left:-10%;
	}
	.winning-pop-text{
	    padding:8% 5% 0 5%;
		background-color:#fe4f20;
		border-radius:15px;
		>p{
			font:.7rem/2 "Microsoft YaHei","Helvetica Neue";
		    color:#fff;
		    text-align:center;
		}
		.text-list{
			background-color:#fff;
		    border-radius:15px;
		    padding: 5%;
		    text-align:center;
		    position: relative;
            z-index: 1;
		    img{
		    	width:80%;
		    }
		    p{
		    	font:.7rem/1.5 "Microsoft YaHei","Helvetica Neue";
		    	color:#bf1611;
		    	margin-bottom:.5rem
		    }
		}
	}
	.winning-pop-btn{
		width:40%;
		margin:3% auto 0;
		img{
           width:100%; 
		}
	}
}