@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 30px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 320px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }

.tip-header {
  width: 100%; }
  .tip-header p {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 90%;
    text-align: center;
    font: .65rem/2 "Microsoft YaHei","Helvetica Neue";
    color: #4d778b;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
    .tip-header p span {
      margin: 0 .5rem; }
    .tip-header p i {
      position: relative;
      -webkit-flex: 1;
      flex: 1; }
      .tip-header p i:last-child:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #4d778b; }
      .tip-header p i:first-child:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #4d778b; }
  .tip-header img {
    width: 100%; }

.tip-content {
  position: absolute;
  bottom: 18vh;
  text-align: center; }
  .tip-content .package {
    width: 55%;
    height: auto;
    margin: 0 auto; }
  .tip-content .tip-content-img {
    position: absolute;
    width: 60%;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    -webkit-perspective: 1000;
    perspective: 1000; }
    .tip-content .tip-content-img .money {
      position: absolute;
      width: 70%;
      left: 15%;
      bottom: 80%; }
      .tip-content .tip-content-img .money img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all .5s;
        transition: all .5s; }
      .tip-content .tip-content-img .money .flip {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateX(0);
        backface-visibility: hidden;
        transform: translateX(0); }
      .tip-content .tip-content-img .money .flip.out {
        -webkit-transform: rotateX(90deg) scale(0.9);
        -webkit-animation-name: flipouttoleft;
        -webkit-animation-duration: 175ms;
        transform: rotateX(90deg) scale(0.9);
        animation-name: flipouttoleft;
        animation-duration: 175ms;
        opacity: 0; }
      .tip-content .tip-content-img .money .flip.in {
        -webkit-animation-name: flipintoright;
        -webkit-animation-duration: 225ms;
        animation-name: flipintoright;
        animation-duration: 225ms;
        opacity: 1; }
    .tip-content .tip-content-img .money01 {
      position: absolute;
      width: 22%;
      bottom: 40%;
      left: 35%; }
    .tip-content .tip-content-img .money02 {
      position: absolute;
      width: 22%;
      bottom: 35%;
      left: 20%; }
    .tip-content .tip-content-img .money03 {
      position: absolute;
      width: 22%;
      bottom: 34%;
      left: 55%; }
    .tip-content .tip-content-img .money04 {
      position: absolute;
      width: 22%;
      bottom: 31%;
      left: 38%; }
    .tip-content .tip-content-img .active1 {
      -webkit-animation: myActive1 .3s;
      animation: myActive1 .3s; }
    .tip-content .tip-content-img .active2 {
      -webkit-animation: myActive2 .8s;
      animation: myActive2 .8s; }
    .tip-content .tip-content-img .active3 {
      -webkit-animation: myActive3 .8s;
      animation: myActive3 .8s; }
    .tip-content .tip-content-img .active4 {
      -webkit-animation: myActive4 1.7s;
      animation: myActive4 1.7s; }
    .tip-content .tip-content-img .turn-btn {
      position: absolute;
      width: 22%;
      bottom: 11.5%;
      left: 39%; }
    .tip-content .tip-content-img .turn-btn-active {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
      -webkit-transition: all .5s;
      transition: all .5s; }

@-webkit-keyframes flipouttoleft {
  from {
    -webkit-transform: rotateX(0); }
  to {
    -webkit-transform: rotateX(-90deg) scale(0.9); } }
@keyframes flipouttoleft {
  from {
    transform: rotateX(0); }
  to {
    transform: rotateX(-90deg) scale(0.9); } }
@keyframes myActive1 {
  0% {
    bottom: 45%; }
  100% {
    bottom: 40%; } }
@-webkit-keyframes myActive1 {
  0% {
    bottom: 45%; }
  100% {
    bottom: 30%; } }
@keyframes myActive2 {
  0% {
    bottom: 40%; }
  100% {
    bottom: 35%; } }
@-webkit-keyframes myActive2 {
  0% {
    bottom: 40%; }
  100% {
    bottom: 35%; } }
@keyframes myActive3 {
  0% {
    bottom: 39%; }
  100% {
    bottom: 34%; } }
@-webkit-keyframes myActive3 {
  0% {
    bottom: 39%; }
  100% {
    bottom: 34%; } }
@keyframes myActive4 {
  0% {
    bottom: 36%; }
  100% {
    bottom: 31%; } }
@-webkit-keyframes myActive4 {
  0% {
    bottom: 36%; }
  100% {
    bottom: 31%; } }
.tip-footer {
  position: absolute;
  left: 25vw;
  bottom: 5vh;
  width: 50vw;
  height: auto; }
  .tip-footer .btn {
    font-size: 0; }
    .tip-footer .btn img {
      width: 100%; }
  .tip-footer .question-mark {
    position: absolute;
    width: 20%;
    top: 0;
    right: -30%; }
    .tip-footer .question-mark img {
      width: 100%; }

.layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8); }

.kindly-reminder-layer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: none;
  width: 70%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
  .kindly-reminder-layer .top {
    position: relative; }
    .kindly-reminder-layer .top .top-img {
      width: 100%; }
    .kindly-reminder-layer .top .close {
      position: absolute;
      top: 18%;
      right: 8%;
      width: 8%; }
  .kindly-reminder-layer .container {
    position: relative;
    margin: -5% auto 0;
    width: 90%;
    padding: 8%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .kindly-reminder-layer .container p {
      font: .65rem/1.5 "Microsoft YaHei","Helvetica Neue";
      color: #999; }
    .kindly-reminder-layer .container .tc {
      text-align: center; }
    .kindly-reminder-layer .container .fs0-8 {
      font-size: .8rem; }
    .kindly-reminder-layer .container .btn {
      width: 70%;
      font-size: 0;
      display: block;
      margin: .8rem auto 0; }
      .kindly-reminder-layer .container .btn img {
        width: 100%; }

.a-reward-layer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 80%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
  .a-reward-layer .top {
    position: relative; }
    .a-reward-layer .top .top-img {
      width: 100%; }
    .a-reward-layer .top .close {
      position: absolute;
      top: 18%;
      right: 8%;
      width: 8%; }
  .a-reward-layer .container {
    position: relative;
    margin: -5% auto 0;
    width: 90%;
    padding: 5%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .a-reward-layer .container p {
      font: .65rem/1.5 "Microsoft YaHei","Helvetica Neue";
      color: #999; }
    .a-reward-layer .container .tc {
      text-align: center; }
    .a-reward-layer .container .fs0-8 {
      font-size: .8rem; }
    .a-reward-layer .container .text {
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      margin-top: .5rem; }
      .a-reward-layer .container .text span {
        font: .6rem/1.5 "Microsoft YaHei","Helvetica Neue";
        color: #999;
        margin: 0 .5rem; }
      .a-reward-layer .container .text i {
        position: relative;
        -webkit-flex: 1;
        flex: 1; }
        .a-reward-layer .container .text i:last-child:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #999; }
        .a-reward-layer .container .text i:first-child:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #999; }
    .a-reward-layer .container .oc-star-n {
      margin: .5em auto;
      height: 1.6em; }
      .a-reward-layer .container .oc-star-n ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex; }
        .a-reward-layer .container .oc-star-n ul li {
          -webkit-flex: 1;
          flex: 1;
          height: 1.6rem;
          text-indent: -999px;
          overflow: hidden;
          padding: 0; }
    .a-reward-layer .container .star-text {
      font: .75rem/1.5 "Microsoft YaHei","Helvetica Neue";
      color: #999;
      text-align: center; }
    .a-reward-layer .container .text-list {
      width: 100%;
      margin: .5rem 0;
      height: auto;
      overflow: hidden; }
      .a-reward-layer .container .text-list li {
        float: left;
        font: .6rem/1.5 "Microsoft YaHei","Helvetica Neue";
        color: #999;
        text-align: center;
        border: 1px solid #999;
        border-radius: 5px;
        width: 30%;
        margin-right: 5%;
        margin-bottom: 3%; }
        .a-reward-layer .container .text-list li:nth-child(3n) {
          margin-right: 0; }
      .a-reward-layer .container .text-list .text-list-active {
        border: 1px solid #2d9fc4;
        color: #2d9fc4; }
    .a-reward-layer .container .input {
      width: 100%;
      height: 1.5rem;
      border: 1px solid #ccc;
      border-radius: 30px;
      padding: 2% 15% 0 5%;
      overflow: hidden;
      -webkit-transition: all .5s;
      transition: all .5s; }
      .a-reward-layer .container .input textarea {
        border: 0;
        background: none;
        outline: none;
        width: 100%;
        height: 100%;
        font: .6rem/1.5 "Microsoft YaHei","Helvetica Neue"; }
    .a-reward-layer .container .btn {
      width: 70%;
      font-size: 0;
      display: block;
      margin: .8rem auto 0; }
      .a-reward-layer .container .btn img {
        width: 100%; }

/*# sourceMappingURL=index.css.map */
