@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none; }

input {
  -webkit-appearance: none;
  /*ios去除input默认样式*/ }

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-06-01
* Version:0.0.1
* ================================================================== */
html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20.25px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21.1px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21.6px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22.5px; } }
@media (min-device-width: 412px) {
  html {
    font-size: 23.17px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23.3px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26.99px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 29.98px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 31.95px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 33.74px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 44px; }

.dossen-header-left {
  position: relative; }
  .dossen-header-left:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }

.dossen-arrow-bottom {
  position: relative; }
  .dossen-arrow-bottom:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg); }

.dossen-arrow {
  position: relative; }
  .dossen-arrow:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -4px;
    color: #ccc;
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg); }

.dossen-pr {
  padding-right: 5%; }

.wrapper {
  padding-bottom: 100px; }

.card-selling-header {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem; }
  .card-selling-header .user-entry {
    float: right;
    overflow: hidden;
    margin: -30px 3% 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0; }
    .card-selling-header .user-entry img {
      width: 100%; }
  .card-selling-header .count-down {
    padding: 8rem 0 0 0; }
    .card-selling-header .count-down p {
      margin-bottom: .3rem;
      text-align: center;
      color: #000;
      font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .card-selling-header .count-down #time {
      text-align: center;
      color: #fff;
      font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
      .card-selling-header .count-down #time em {
        display: inline-block;
        background-color: #1b1b1b;
        color: #fff;
        border-radius: 3px;
        padding: 0 2px;
        margin: 0 3px;
        font-size: .7rem; }

.open-group .title, .scare-buying .title {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0; }
  .open-group .title a, .scare-buying .title a {
    position: absolute;
    top: 16%;
    right: 6%;
    z-index: 1;
    color: #fff;
    font: 0.55rem/1 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .open-group .title img, .scare-buying .title img {
    width: 100%; }
.open-group .content, .scare-buying .content {
  padding: 0 5% 20%;
  margin-top: -1px;
  background: #5d0af2;
  background: -webkit-linear-gradient(-90deg, #ca3bde, #9f28e6);
  /* Safari 5.1 - 6.0 */
  background: linear-gradient(-90deg, #ca3bde, #9f28e6);
  /* 标准的语法 */ }
  .open-group .content > ul, .scare-buying .content > ul {
    padding: 3% 0 .1rem;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .open-group .content > ul li, .scare-buying .content > ul li {
      flex: 1;
      background-color: #8e24aa;
      color: #fff;
      font: 0.7rem/2.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      text-align: center; }
      .open-group .content > ul li:first-child, .scare-buying .content > ul li:first-child {
        border-radius: 30px 0 0 30px; }
      .open-group .content > ul li:last-child, .scare-buying .content > ul li:last-child {
        border-radius: 0 30px 30px 0; }
    .open-group .content > ul .active, .scare-buying .content > ul .active {
      background-color: #e040fb;
      color: #fff; }
    .open-group .content > ul .unactive, .scare-buying .content > ul .unactive {
      background-color: #8e24aa;
      color: #ce93d8; }
  .open-group .content .card-list .item, .scare-buying .content .card-list .item {
    padding: 5%;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 5px; }
    .open-group .content .card-list .item h2, .scare-buying .content .card-list .item h2 {
      color: #2c008e;
      text-align: center;
      font: bold italic 0.7rem/2.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .open-group .content .card-list .item .item-content, .scare-buying .content .card-list .item .item-content {
      margin: .8rem 0;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .open-group .content .card-list .item .item-content .l, .scare-buying .content .card-list .item .item-content .l {
        position: relative;
        width: 100px;
        height: 100px;
        font-size: 0;
        border-radius: 5px;
        overflow: hidden; }
        .open-group .content .card-list .item .item-content .l img, .scare-buying .content .card-list .item .item-content .l img {
          width: 100%;
          height: 100%; }
        .open-group .content .card-list .item .item-content .l > p, .scare-buying .content .card-list .item .item-content .l > p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background-color: #f50057;
          color: #fff;
          font: 0.55rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center; }
      .open-group .content .card-list .item .item-content .r, .scare-buying .content .card-list .item .item-content .r {
        flex: 1; }
        .open-group .content .card-list .item .item-content .r p, .scare-buying .content .card-list .item .item-content .r p {
          color: #999;
          font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center; }
        .open-group .content .card-list .item .item-content .r h4, .scare-buying .content .card-list .item .item-content .r h4 {
          color: #ff0062;
          font: bold 0.8rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center; }
          .open-group .content .card-list .item .item-content .r h4 strong, .scare-buying .content .card-list .item .item-content .r h4 strong {
            font-size: 1rem; }
        .open-group .content .card-list .item .item-content .r a, .scare-buying .content .card-list .item .item-content .r a {
          margin: .5rem auto 0;
          display: block;
          width: 80%;
          background: #ff05ad;
          background: -webkit-linear-gradient(90deg, #ff05ad, #ff440b);
          /* Safari 5.1 - 6.0 */
          background: linear-gradient(90deg, #ff05ad, #ff440b);
          /* 标准的语法 */
          border-radius: 30px;
          color: #fff;
          font: 0.7rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center;
          box-shadow: 1px 3px 5px #ffa9d8; }
    .open-group .content .card-list .item .foot, .scare-buying .content .card-list .item .foot {
      padding-left: 5%;
      background-color: #651fff;
      border-radius: 5px;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .open-group .content .card-list .item .foot p, .scare-buying .content .card-list .item .foot p {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex: 1;
        color: #fff;
        font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
        .open-group .content .card-list .item .foot p em, .scare-buying .content .card-list .item .foot p em {
          width: 3rem;
          color: #fffc00;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .open-group .content .card-list .item .foot p span, .scare-buying .content .card-list .item .foot p span {
          flex: 1; }
      .open-group .content .card-list .item .foot a, .scare-buying .content .card-list .item .foot a {
        padding: 2% 5%;
        background-color: #ff009f;
        border-radius: 5px;
        font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-align: center;
        color: #fff; }

.scare-buying {
  margin-top: -50px; }
  .scare-buying .content {
    padding: 0 5% 1%; }
    .scare-buying .content ul li {
      flex: 1;
      background-color: #8e24aa;
      color: #fff;
      font: 0.7rem/2.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      text-align: center; }
      .scare-buying .content ul li:first-child {
        border-radius: 30px 0 0 30px; }
      .scare-buying .content ul li:last-child {
        border-radius: 0 30px 30px 0; }
    .scare-buying .content ul .buyingActive {
      background-color: #ff26cc;
      color: #fff; }
    .scare-buying .content ul .unBuyingActive {
      background-color: #920783;
      color: #ff26cc; }

.period {
  padding: 5%;
  margin-top: .5rem;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .period i {
    height: 1px;
    border-bottom: 1px dashed #fff;
    flex: 1; }
  .period p {
    text-align: center;
    color: #fff;
    font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }

.card-selling-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  font-size: 0; }
  .card-selling-footer img {
    width: 100%; }

.groupbuy-wrapper {
  background: #7800d1;
  padding-bottom: 0; }

.groupbuy-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 3%;
  width: 100%;
  height: 44px;
  max-width: 640px;
  margin: 0 auto;
  background: #5d0af2;
  background: -webkit-linear-gradient(-90deg, #bc00fd, #7f00ef);
  /* Safari 5.1 - 6.0 */
  background: linear-gradient(-90deg, #bc00fd, #7f00ef);
  /* 标准的语法 */
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .groupbuy-header .left {
    padding-left: 10px;
    width: 20%;
    font: 0.6rem/40px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #fff; }
  .groupbuy-header .dossen-header-left:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 6px;
    height: 6px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -3px;
    color: #fff;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }
  .groupbuy-header h1 {
    width: 60%;
    font: 0.8rem/40px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #fff;
    text-align: center; }

.groupbuy-content {
  margin-top: 2rem;
  width: 100%;
  height: auto; }
  .groupbuy-content .title {
    width: 100%;
    font-size: 0; }
    .groupbuy-content .title > img {
      width: 100%; }
    .groupbuy-content .title i {
      margin: -90px auto 0;
      display: block;
      width: 80px;
      height: 80px;
      border: 3px solid #c036e0;
      border-radius: 100%;
      overflow: hidden; }
      .groupbuy-content .title i img {
        width: 100%;
        height: 100%; }
  .groupbuy-content .content {
    padding: 5%;
    min-height: 25.3rem;
    background: #5d0af2;
    background: -webkit-linear-gradient(-90deg, #ca3bde, #9f28e6);
    /* Safari 5.1 - 6.0 */
    background: linear-gradient(-90deg, #ca3bde, #9f28e6);
    /* 标准的语法 */ }
    .groupbuy-content .content .item {
      padding: 5%;
      margin-bottom: .5rem;
      background-color: #fff;
      display: -webkit-flex;
      display: flex;
      border-radius: 5px; }
      .groupbuy-content .content .item .l {
        position: relative;
        margin-right: .5rem;
        width: 80px;
        height: 80px;
        font-size: 0;
        border-radius: 5px;
        overflow: hidden; }
        .groupbuy-content .content .item .l img {
          width: 100%;
          height: 100%; }
        .groupbuy-content .content .item .l > p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center; }
        .groupbuy-content .content .item .l .marching {
          font: 0.55rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff;
          background-color: #f50057; }
        .groupbuy-content .content .item .l .finish {
          font: 0.55rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #fff;
          background-color: #a0a0a0; }
        .groupbuy-content .content .item .l .not {
          background: none; }
      .groupbuy-content .content .item .r {
        flex: 1;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: space-between; }
        .groupbuy-content .content .item .r h2 {
          font: 0.7rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #333; }
        .groupbuy-content .content .item .r a {
          margin-left: 50%;
          display: block;
          width: 50%;
          background: #ff05ad;
          background: -webkit-linear-gradient(90deg, #ff05ad, #ff440b);
          /* Safari 5.1 - 6.0 */
          background: linear-gradient(90deg, #ff05ad, #ff440b);
          /* 标准的语法 */
          border-radius: 5px;
          color: #fff;
          font: 0.7rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center;
          box-shadow: 1px 3px 5px #ffa9d8; }

.step-content {
  padding: 5%; }
  .step-content .step-num {
    position: relative;
    padding: 0 0 0 15%; }
    .step-content .step-num p {
      position: relative;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #fff; }
      .step-content .step-num p:before {
        content: '';
        position: absolute;
        top: 0;
        left: -16%;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #fff; }
    .step-content .step-num .img {
      margin: 1rem 0;
      width: 80%;
      font-size: 0;
      border-radius: 5px;
      overflow: hidden; }
      .step-content .step-num .img img {
        width: 100%; }
    .step-content .step-num:before {
      content: '';
      position: absolute;
      top: 0;
      left: 3.8%;
      width: 3px;
      height: 100%;
      background-color: #fff; }
  .step-content .step-rule {
    margin: 1rem 0;
    background-color: #601986;
    border-radius: 5px;
    padding: 5%; }
    .step-content .step-rule h2 {
      font: 1rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #fff;
      text-align: center;
      margin-bottom: .5rem; }
    .step-content .step-rule p {
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #fff; }

.info-wrapper {
  background-color: #f7f7f7;
  padding-bottom: 44px; }

.info-content .info-header {
  background-color: #fff;
  margin-bottom: .5rem; }
  .info-content .info-header .img {
    width: 100%;
    font-size: 0; }
    .info-content .info-header .img img {
      width: 100%; }
  .info-content .info-header .text {
    padding: 3%; }
    .info-content .info-header .text h3 {
      font: bold 0.8rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #333; }
    .info-content .info-header .text p {
      font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #999; }
    .info-content .info-header .text .price {
      margin-top: 3%;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .info-content .info-header .text .price span {
        text-align: center; }
        .info-content .info-header .text .price span:nth-child(1) {
          flex: 2;
          text-align: left; }
        .info-content .info-header .text .price span:nth-child(2) {
          flex: 1.5;
          color: #333; }
        .info-content .info-header .text .price span:nth-child(3) {
          flex: 1;
          color: #ff0062; }
        .info-content .info-header .text .price span:nth-child(4) {
          flex: 1;
          color: #ff0062; }
          .info-content .info-header .text .price span:nth-child(4) strong {
            font-weight: bold;
            font-size: 1rem; }
.info-content .flow-path {
  position: relative;
  padding: 3%;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .info-content .flow-path:before {
    content: '';
    position: absolute;
    top: 0;
    left: 12%;
    right: 15%;
    width: 73%;
    height: 2px;
    border-radius: 30px;
    background-color: #999; }
  .info-content .flow-path p {
    position: relative;
    font: 0.65rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #999;
    text-align: center; }
    .info-content .flow-path p:before {
      content: '';
      position: absolute;
      top: -.7rem;
      left: 50%;
      width: 10px;
      height: 10px;
      margin-left: -5px;
      border-radius: 100%;
      background-color: #999; }
    .info-content .flow-path p:nth-child(1) {
      color: #7800d1; }
      .info-content .flow-path p:nth-child(1):before {
        background-color: #7800d1; }
.info-content .info-foot {
  padding: 3%;
  margin-bottom: .5rem;
  background-color: #fff; }
  .info-content .info-foot h3 {
    font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #333; }
  .info-content .info-foot ul li {
    margin: .5rem 0;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .info-content .info-foot ul li .l {
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .info-content .info-foot ul li .l .img {
        width: 50px;
        height: 50px;
        font-size: 0;
        border-radius: 100%;
        overflow: hidden;
        margin-right: .5rem; }
        .info-content .info-foot ul li .l .img img {
          width: 100%;
          height: 100%; }
      .info-content .info-foot ul li .l .text h4 {
        font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #333; }
      .info-content .info-foot ul li .l .text p {
        font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #999; }
        .info-content .info-foot ul li .l .text p span {
          color: #ff0062; }
    .info-content .info-foot ul li .r {
      width: 3rem; }
      .info-content .info-foot ul li .r a {
        padding: 0 5%;
        display: block;
        border: 1px solid;
        border-radius: 5px;
        font: 0.65rem/1.4rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #ff0062;
        text-align: center; }

.info-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .info-footer a {
    flex: 1; }
    .info-footer a:nth-child(1) {
      font: 0.65rem/44px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #ff0062;
      text-align: center;
      background-color: #fff; }
    .info-footer a:nth-child(2) {
      background: #ff05ad;
      background: -webkit-linear-gradient(90deg, #ff05ad, #ff440b);
      /* Safari 5.1 - 6.0 */
      background: linear-gradient(90deg, #ff05ad, #ff440b);
      /* 标准的语法 */
      color: #fff;
      font: 0.7rem/44px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      text-align: center;
      box-shadow: 1px 3px 5px #ffa9d8; }
      .info-footer a:nth-child(2) strong {
        font-weight: bold;
        font-size: .8rem; }

.pay-info-wrapper {
  background: #7800d1;
  padding-bottom: 44px; }

.pay-info-content, .pay-success-content {
  padding: 5%;
  background: #5d0af2;
  background: -webkit-linear-gradient(-90deg, #ca3bde, #9f28e6);
  /* Safari 5.1 - 6.0 */
  background: linear-gradient(-90deg, #ca3bde, #9f28e6);
  /* 标准的语法 */ }
  .pay-info-content h3, .pay-success-content h3 {
    text-align: center;
    color: #fff;
    font: 0.8rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .pay-info-content > p, .pay-success-content > p {
    margin: 1rem 0 .3rem;
    text-align: center;
    color: #fff;
    font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .pay-info-content #time, .pay-success-content #time {
    text-align: center;
    color: #fff;
    font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .pay-info-content #time em, .pay-success-content #time em {
      display: inline-block;
      background-color: #601986;
      color: #fff;
      border-radius: 3px;
      padding: 0 2px;
      margin: 0 3px;
      font-size: .7rem; }
  .pay-info-content .submit, .pay-success-content .submit {
    margin: .5rem 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 5%; }
    .pay-info-content .submit h6, .pay-success-content .submit h6 {
      text-align: center;
      color: #7800d1;
      font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
    .pay-info-content .submit .items, .pay-success-content .submit .items {
      width: 90%;
      margin: .5rem auto;
      border: 1px solid #7800d1;
      border-radius: 30px;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .pay-info-content .submit .items span, .pay-success-content .submit .items span {
        margin: 1% 0;
        width: 30%;
        color: #7800d1;
        font: 0.6rem/1.6rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-align: left;
        padding-left: 5%;
        border-right: 1px solid #7800d1; }
        .pay-info-content .submit .items span select, .pay-success-content .submit .items span select {
          background: none;
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          color: #7800d1;
          font: 0.6rem/1.6rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          text-align: center; }
      .pay-info-content .submit .items p, .pay-success-content .submit .items p {
        margin-left: .5rem;
        height: 1.6rem;
        flex: 1; }
        .pay-info-content .submit .items p input, .pay-success-content .submit .items p input {
          background: none;
          border: none;
          outline: none;
          width: 100%;
          height: 100%; }
    .pay-info-content .submit > p, .pay-success-content .submit > p {
      text-align: center;
      color: #999;
      font: 0.55rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }

.pay-info-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .pay-info-footer p {
    padding-right: 5%;
    flex: 2.5;
    font: 0.65rem/40px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #999;
    text-align: right;
    background-color: #fff; }
    .pay-info-footer p strong {
      font: bold 0.75rem/44px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #ff0062; }
  .pay-info-footer a {
    flex: 1;
    background: #ff05ad;
    background: -webkit-linear-gradient(90deg, #ff05ad, #ff440b);
    /* Safari 5.1 - 6.0 */
    background: linear-gradient(90deg, #ff05ad, #ff440b);
    /* 标准的语法 */
    color: #fff;
    font: 0.7rem/44px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    text-align: center;
    box-shadow: 1px 3px 5px #ffa9d8; }

.pay-success-content .submit-success {
  margin: .5rem 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 5%; }
  .pay-success-content .submit-success .img-list {
    margin: 1rem 0;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .pay-success-content .submit-success .img-list .img {
      position: relative;
      width: 70px;
      height: 70px;
      background-color: #dcdcdc;
      border-radius: 100%;
      overflow: hidden;
      font-size: 0; }
      .pay-success-content .submit-success .img-list .img img {
        width: 100%;
        height: 100%; }
      .pay-success-content .submit-success .img-list .img p {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font: 0.55rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-align: center; }
  .pay-success-content .submit-success > p {
    margin: 1rem 0 .3rem;
    text-align: center;
    color: #999;
    font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; }
  .pay-success-content .submit-success .flow-path-sucess {
    position: relative;
    padding: 3%;
    margin: 10% 0;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .pay-success-content .submit-success .flow-path-sucess:before {
      content: '';
      position: absolute;
      top: 0;
      left: 12%;
      right: 15%;
      width: 73%;
      height: 2px;
      border-radius: 30px;
      background-color: #999;
      background: -webkit-linear-gradient(90deg, #be36e0 71%, #999 29%);
      /* Safari 5.1 - 6.0 */
      background: linear-gradient(90deg, #be36e0 71%, #999 29%);
      /* 标准的语法 */ }
    .pay-success-content .submit-success .flow-path-sucess p {
      position: relative;
      font: 0.65rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #999;
      text-align: center; }
      .pay-success-content .submit-success .flow-path-sucess p:before {
        content: '';
        position: absolute;
        top: -.65rem;
        left: 50%;
        width: 10px;
        height: 10px;
        margin-left: -5px;
        border-radius: 100%;
        background-color: #999; }
      .pay-success-content .submit-success .flow-path-sucess p:nth-child(1) {
        color: #be36e0; }
        .pay-success-content .submit-success .flow-path-sucess p:nth-child(1):before {
          background-color: #be36e0; }
      .pay-success-content .submit-success .flow-path-sucess p:nth-child(2) {
        color: #be36e0; }
        .pay-success-content .submit-success .flow-path-sucess p:nth-child(2):before {
          background-color: #be36e0; }
      .pay-success-content .submit-success .flow-path-sucess p:nth-child(3) {
        color: #be36e0; }
        .pay-success-content .submit-success .flow-path-sucess p:nth-child(3):before {
          background-color: #be36e0; }
  .pay-success-content .submit-success > a {
    margin: .5rem auto 5%;
    display: block;
    width: 56%;
    background: #ff05ad;
    background: -webkit-linear-gradient(90deg, #ff05ad, #ff440b);
    /* Safari 5.1 - 6.0 */
    background: linear-gradient(90deg, #ff05ad, #ff440b);
    /* 标准的语法 */
    border-radius: 30px;
    color: #fff;
    font: 0.7rem/2.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    text-align: center;
    box-shadow: 1px 3px 5px #ffa9d8; }

/*# sourceMappingURL=cardSelling.css.map */
