@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26px; } }
@media (min-device-width: 520px) {
  html {
    font-size: 27px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 28px; } }
@media (min-device-width: 560px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 29px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 30px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
/* public css begin */
.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-height: 320px;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }

.mailboxHeader {
  margin: 5% auto;
  width: 30%;
  font-size: 0; }
  .mailboxHeader img {
    width: 100%; }

.mailboxFooter {
  position: absolute;
  left: 22.5%;
  bottom: 10%;
  width: 55%; }
  .mailboxFooter a {
    display: block;
    text-align: center;
    height: 3.2rem;
    font: 0.9rem/3.2rem "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

.mailboxRule {
  position: absolute;
  right: 10%;
  bottom: 30%;
  width: 3rem; }
  .mailboxRule .bg {
    height: 1.5rem;
    background-color: #fff9db;
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg); }
    .mailboxRule .bg:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 1.5rem solid;
      border-color: #fbf0bb transparent transparent transparent;
      content: ""; }
  .mailboxRule p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    font: 0.65rem/1.5rem "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #a79b60;
    text-align: center; }

.rule {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  display: none;
  padding: 0 5% 5%;
  width: 14rem;
  background-color: #fff9db;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .rule .title {
    position: relative;
    margin: .5rem auto 1.5rem;
    width: 50%; }
    .rule .title img {
      width: 100%;
      height: auto; }
  .rule h3 {
    position: relative;
    margin-bottom: .3rem;
    font: bold 0.7rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #9a7843; }
    .rule h3 span {
      font-weight: normal; }
  .rule p {
    position: relative;
    margin-bottom: .3rem;
    font: 0.7rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #9a7843; }
  .rule .close {
    position: absolute;
    right: .2rem;
    top: .2rem;
    width: .8rem;
    height: auto; }
  .rule:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-top: 3.5rem solid #fbf0bb; }

.changeTitle {
  margin: 10% auto;
  width: 70%; }
  .changeTitle img {
    width: 100%;
    height: auto; }

.changeContainer p {
  font: 0.65rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #666;
  text-align: center; }
  .changeContainer p strong {
    font: bold 0.9rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #e62c2c; }

.changeInput {
  position: relative;
  margin: 10% 0; }
  .changeInput .mailboxInput {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 5%;
    width: 60%;
    height: 2rem;
    border: 1px solid #cd0a4b;
    border-radius: 5px;
    background-color: #fff; }
    .changeInput .mailboxInput input {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      color: #999;
      font-size: .7rem;
      font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
      .changeInput .mailboxInput input::-webkit-input-placeholder {
        color: #ccc;
        font-size: .7rem;
        font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
  .changeInput img {
    position: absolute;
    left: 9%;
    top: -78%;
    width: 15%;
    z-index: 1; }

.changeFooter {
  margin: 0 auto;
  width: 55%; }
  .changeFooter a {
    display: block;
    text-align: center;
    height: 3.2rem;
    font: 0.9rem/3.2rem "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

.bindingInput {
  position: relative;
  margin: 10% 0 3%; }
  .bindingInput img {
    position: absolute;
    left: 4%;
    top: -78%;
    width: 15%;
    z-index: 1; }

.bindingMailboxInput {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 70%;
  height: 2rem;
  border: 1px solid #cd0a4b;
  border-radius: 5px;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .bindingMailboxInput .l {
    padding: 0 5%;
    width: 60%; }
    .bindingMailboxInput .l input {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      color: #999;
      font-size: .7rem;
      font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
      .bindingMailboxInput .l input::-webkit-input-placeholder {
        color: #ccc;
        font-size: .7rem;
        font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
  .bindingMailboxInput .r {
    width: 40%; }
    .bindingMailboxInput .r select {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      height: 100%; }

.bindingCode {
  margin: 0 auto 10%;
  width: 70%;
  height: 2rem;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .bindingCode .l {
    border: 1px solid #cd0a4b;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 5%;
    width: 55%;
    height: 2rem;
    margin-right: 5%; }
    .bindingCode .l input {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      color: #999;
      font-size: .7rem;
      font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
      .bindingCode .l input::-webkit-input-placeholder {
        color: #ccc;
        font-size: .7rem;
        font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
  .bindingCode .r {
    border: 1px solid #cd0a4b;
    border-radius: 5px;
    background-color: #fff;
    width: 40%;
    height: 2rem;
    overflow: hidden; }
    .bindingCode .r img {
      width: 100%;
      height: 100%; }

.login .l {
  padding: 0 5%;
  width: 100%; }

.bindingSuccess {
  margin: 10% auto;
  width: 70%; }
  .bindingSuccess img {
    margin: 5% 35%;
    width: 30%;
    height: auto; }
  .bindingSuccess p {
    font: 0.65rem/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #666;
    text-align: center; }
    .bindingSuccess p a {
      color: #dc106e; }

/*# sourceMappingURL=index.css.map */
