@import "base","variable","common";
.rule-btn{
	display: block;
    float:right;
    margin: 2% 3%;
	font:.7rem/1.2 nth($publicFont,6);
	color:#42e3ff;
}
.container{
	margin-top:30%;
	time{
		font:bold .8rem/1.2 nth($publicFont,6);
		color:#ffff00;
		@include transform(rotate(-4deg));
	    display: block;
	    margin-left: 13%;
	}
	.mascot{
		position:absolute;
		left:25%;
		top:55%;
		width:50%;
		font-size:0;
		@include transform(translate(0,-50%));
		@include transition(all .5s);
		@include animation(mascotMove 5s infinite);
		img{
			width:100%;
		}
	}
	.btn{
		position:absolute;
		left:20%;
		bottom:15%;
		width:60%;
		font-size:0;
		img{
			width:100%;
		}
	}
	.flow-path{
		position:absolute;
		left:20%;
		bottom:5%;
		width:60%;
		font-size:0;
		img{
			width:100%;
		}
	}
}

@include keyframes(mascotMove)
{
	0%,100% {top: 55%;}
	25% {top: 50%;}
	50% {top: 55%;}
	75% {top: 50%;}
}
.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	z-index:4;
	background-color:#000;
	opacity:.7;
}
.rule-content{
	position:fixed;
	top:50%;
	left:50%;
	z-index:5;
	width:80%;
	border-radius:10px;
	padding:5%;
	background-color:#fff;
	@include transition(all .5s);
	@include transform(translate3d(-50%,-300%,0));
	h2{
		color:#406b8f;
		font:bold .85rem/1.5 $publicFont;
		text-align:center;
	}
	p{
		margin-top:.5rem;
		color:#000;
		font:.65rem/1.5 $publicFont;
	}
	.close{
		position:absolute;
		right:1%;
		top:1%;
		width:25px;
		height:25px;
		font-size:0;
		img{
			width:100%;
		}
	}
	.rule_mascot{
		position:absolute;
	    left: -1.1rem;
	    top: -2rem;
	    width: 3.8rem;
	    height: auto;
	    font-size: 0;
		img{
			width:100%;
		}
	}
}
.rule-content.on{
	@include transition(all .5s);
	@include transform(translate3d(-50%,-50%,0));
}