@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  touch-action: manipulation;
}

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%;
}

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
  -webkit-touch-callout: none;
}

input {
  /*ios去除input默认样式*/
  -webkit-appearance: none;
}

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
.arrow-left {
  position: relative;
}
.arrow-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
}

.arrow-top {
  position: relative;
}
.arrow-top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
}

.close-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50px;
  background: #ff366f;
  opacity: 1;
}
.close-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.close-icon:before {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-icon:after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #f7f7f7;
  overflow: hidden;
}

.title {
  padding: .5rem 0 .15rem;
  width: 100%;
  font-size: 0;
}
.title img {
  width: 100%;
}

.rule-prize {
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.rule-prize > div {
  padding: 3px;
  margin: 0 .25rem;
  width: 1.7rem;
  height: .6rem;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.rule-prize > div a {
  display: block;
  width: 100%;
  height: 100%;
  font: 0.24rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
  text-align: center;
  border: 1px dashed #adadad;
  border-radius: 30px;
}

.tab {
  position: relative;
  padding: .4rem .2rem .2rem;
  margin: 0.3rem .75rem 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.tab .card-content {
  position: relative;
  padding: .5rem 0 .2rem;
  border: 1px solid #a0a0a0;
  text-align: center;
}
.tab .card-content > em {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 100%;
}
.tab .card-content > em:nth-child(1) {
  top: -4px;
  left: -6px;
}
.tab .card-content > em:nth-child(2) {
  top: -4px;
  right: -6px;
}
.tab .card-content > em:nth-child(3) {
  bottom: -4px;
  left: -6px;
}
.tab .card-content > em:nth-child(4) {
  bottom: -4px;
  right: -6px;
}
.tab .card-content .card-title {
  position: absolute;
  top: -.18rem;
  left: 50%;
  width: 3.6rem;
  height: .36rem;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 30px;
  font: 0.2rem/0.36rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
  text-align: center;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.tab .card-content .itmes {
  display: none;
}
.tab .card-content .itmes h2 {
  font: bold 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
}
.tab .card-content .itmes h3 {
  font: 0.22rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
}
.tab .card-content .itmes .img {
  margin: .3rem auto;
  font-size: 0;
}
.tab .card-content .itmes .img img {
  width: 100%;
  height: 100%;
}
.tab .card-content .itmes .tab-btn {
  margin: .3rem auto;
  width: 3rem;
  height: .66rem;
  border-radius: 30px;
  background: #00d0ee;
  background: -webkit-linear-gradient(top, #00f6ab, #00d0ee);
  background: linear-gradient(to top, #00d0ee, #00f6ab);
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.tab .card-content .itmes .tab-btn a {
  font: 0.26rem/0.66rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
}
.tab .card-content .itmes p {
  font: 0.2rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}

.tab-list {
  margin-top: .35rem;
}
.tab-list ul {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.tab-list ul li {
  position: relative;
  margin: 0 .2rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 0;
}
.tab-list ul li i {
  position: absolute;
  top: -5px;
  right: -5px;
  display: none;
  width: 22px;
  height: 22px;
  background-color: #00d3e9;
  border-radius: 100%;
  font: 0.2rem/24px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
}
.tab-list ul li p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font: 0.2rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
  background: rgba(3, 0, 76, 0.5);
  border-radius: 0 0 10px 10px;
}
.tab-list ul li img {
  width: 100%;
  height: 100%;
}
.tab-list ul li.on {
  border: 1px solid #00d3e9;
}
.tab-list ul li.active {
  border: 1px solid #00d3e9;
}
.tab-list ul li.active i {
  display: block;
}

.btn {
  padding-top: .13rem;
  margin: 0.3rem 1.06rem 0;
  height: .9rem;
  background-color: #aaa;
  border-radius: 30px;
  text-align: center;
}
.btn h3 {
  font: bold 0.32rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
}
.btn p {
  font: 0.22rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
}

.btn-hide {
  margin: 0.3rem 1.06rem 0;
  height: .9rem;
  background: #00adff;
  background: -webkit-linear-gradient(top, #00c0ff, #009cff);
  background: linear-gradient(to top, #009cff, #00c0ff);
  border-radius: 30px;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: none;
}
.btn-hide a {
  font: bold 0.32rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
}

.strategy {
  padding: .3rem .2rem;
  margin: .6rem .46rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
}
.strategy h2 {
  font: bold 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
  text-align: center;
}
.strategy p {
  margin-top: .1rem;
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
}

.footer {
  position: relative;
  width: 100%;
  font-size: 0;
}
.footer a {
  position: absolute;
  top: 0;
  right: 0;
  width: .6rem;
  height: .36rem;
  background-color: #000;
  font: 0.2rem/0.36rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
}
.footer img {
  width: 100%;
}

.flex {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  background: #000;
  opacity: .5;
}

.mask-draw {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #000;
  opacity: .5;
}

.rule {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: .2rem;
  width: 80%;
  background: #fff;
  border-radius: 5px;
  -moz-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -webkit-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.rule .rule-content {
  position: relative;
  padding: .35rem .2rem;
  border: 1px solid #a0a0a0;
}
.rule .rule-content > em {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 100%;
}
.rule .rule-content > em:nth-child(1) {
  top: -4px;
  left: -6px;
}
.rule .rule-content > em:nth-child(2) {
  top: -4px;
  right: -6px;
}
.rule .rule-content > em:nth-child(3) {
  bottom: -4px;
  left: -6px;
}
.rule .rule-content > em:nth-child(4) {
  bottom: -4px;
  right: -6px;
}
.rule .rule-content h2 {
  font: bold 0.36rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
  text-align: center;
}
.rule .rule-content p {
  margin-top: .1rem;
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
}
.rule .rule-close {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  width: .8rem;
  height: .8rem;
  border: 1px solid #fff;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.rule .rule-close a {
  display: inline-block;
  width: .5rem;
  height: 1px;
  background: #fff;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rule .rule-close a:after {
  content: '/';
  display: block;
  width: .5rem;
  height: 1px;
  background: #fff;
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.rule.on {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.my-prize {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: auto;
  background: #fafafa;
  -moz-transform: translate(0, 500%);
  -o-transform: translate(0, 500%);
  -ms-transform: translate(0, 500%);
  -webkit-transform: translate(0, 500%);
  transform: translate(0, 500%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
.my-prize .prize-title {
  position: relative;
  width: 100%;
  height: .86rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.my-prize .prize-title i {
  position: absolute;
  left: .3rem;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 100%;
}
.my-prize .prize-title i:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  width: 8px;
  height: 8px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #ddd;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
}
.my-prize .prize-title h2 {
  font: 0.32rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
}
.my-prize .prize-list {
  padding: 0 .3rem 1rem;
  height: auto;
  max-height: 8rem;
  overflow: auto;
}
.my-prize .prize-list .items {
  position: relative;
  padding: .35rem 0;
  border-bottom: 1px solid #ddd;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.my-prize .prize-list .items .img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 0;
  overflow: hidden;
}
.my-prize .prize-list .items .img img {
  width: 100%;
  height: 100%;
}
.my-prize .prize-list .items .text {
  margin-left: .2rem;
}
.my-prize .prize-list .items .text h3 {
  font: bold 0.32rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
}
.my-prize .prize-list .items .text h5 {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
}
.my-prize .prize-list .items .text p {
  font: 0.2rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}
.my-prize .prize-list .items .items-btn {
  position: absolute;
  right: 0;
  top: 50%;
  width: 1.6rem;
  height: .6rem;
  border-radius: 30px;
  background: #00d0ee;
  background: -webkit-linear-gradient(right top, #00f6ab, #00d0ee);
  background: linear-gradient(to right top, #00f6ab, #00d0ee);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.my-prize .prize-list .items .items-btn a {
  font: 0.26rem/0.66rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
}
.my-prize .no-prize {
  padding: 1rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.my-prize .no-prize .img {
  width: 1.31rem;
  height: 1.57rem;
  font-size: 0;
}
.my-prize .no-prize .img img {
  width: 100%;
  height: 100%;
}
.my-prize .no-prize p {
  margin-top: .5rem;
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}

.my-prize.on {
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.draw {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: .2rem;
  width: 60%;
  background: #fff;
  border-radius: 5px;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.draw .draw-content {
  position: relative;
  padding: .35rem .2rem;
  border: 1px solid #a0a0a0;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.draw .draw-content > em {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 100%;
}
.draw .draw-content > em:nth-child(1) {
  top: -4px;
  left: -6px;
}
.draw .draw-content > em:nth-child(2) {
  top: -4px;
  right: -6px;
}
.draw .draw-content > em:nth-child(3) {
  bottom: -4px;
  left: -6px;
}
.draw .draw-content > em:nth-child(4) {
  bottom: -4px;
  right: -6px;
}
.draw .draw-content .img {
  width: 1.48rem;
  height: 1.87rem;
  font-size: 0;
}
.draw .draw-content .img img {
  width: 100%;
  height: 100%;
}
.draw .draw-content p {
  margin-top: .1rem;
  font: bold 0.36rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
}
.draw .draw-close {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  width: .8rem;
  height: .8rem;
  border: 1px solid #fff;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.draw .draw-close a {
  display: inline-block;
  width: .5rem;
  height: 1px;
  background: #fff;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.draw .draw-close a:after {
  content: '/';
  display: block;
  width: .5rem;
  height: 1px;
  background: #fff;
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.draw-prize-out {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 80%;
  -moz-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -webkit-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.draw-prize-out .top-img {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  z-index: -1;
  width: 1.55rem;
  height: 1.87rem;
  font-size: 0;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.draw-prize-out .top-img img {
  width: 100%;
  height: 100%;
}

.draw-prize {
  padding: .2rem;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}
.draw-prize .draw-prize-content {
  position: relative;
  padding: .35rem .2rem;
  border: 1px solid #a0a0a0;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.draw-prize .draw-prize-content > em {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 100%;
}
.draw-prize .draw-prize-content > em:nth-child(1) {
  top: -4px;
  left: -6px;
}
.draw-prize .draw-prize-content > em:nth-child(2) {
  top: -4px;
  right: -6px;
}
.draw-prize .draw-prize-content > em:nth-child(3) {
  bottom: -4px;
  left: -6px;
}
.draw-prize .draw-prize-content > em:nth-child(4) {
  bottom: -4px;
  right: -6px;
}
.draw-prize .draw-prize-content .prize-img {
  position: relative;
  margin: .2rem 0;
  font-size: 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.draw-prize .draw-prize-content .prize-img > p {
  position: absolute;
  color: #00a0e9;
  font-size: .36rem;
  margin-left: 15%;
}
.draw-prize .draw-prize-content h2 {
  font: bold 0.36rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
}
.draw-prize .draw-prize-content h2 span {
  color: #00a0e9;
}
.draw-prize .draw-prize-content p {
  font: bold 0.22rem/2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}
.draw-prize .draw-prize-content .dpc-btn {
  margin-top: .3rem;
  width: 2.52rem;
  height: .66rem;
  border-radius: 30px;
  background: #00d0ee;
  background: -webkit-linear-gradient(right top, #00f6ab, #00d0ee);
  background: linear-gradient(to right top, #00f6ab, #00d0ee);
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.draw-prize .draw-prize-content .dpc-btn a {
  font: 0.26rem/0.66rem -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
}
.draw-prize .draw-prize-close {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  width: .8rem;
  height: .8rem;
  border: 1px solid #fff;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.draw-prize .draw-prize-close a {
  display: inline-block;
  width: .5rem;
  height: 1px;
  background: #fff;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.draw-prize .draw-prize-close a:after {
  content: '/';
  display: block;
  width: .5rem;
  height: 1px;
  background: #fff;
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.draw-prize-out.on {
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*# sourceMappingURL=index.css.map */
