@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
/* public css begin */
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	min-height:320px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
.ChristmasHeader{
	width:100%;
	height:auto;
	img{
		width:100%;
	}
}
.ChristmasPrize{
	margin:-1rem auto 0;
	width:80%;
	dl{
		/*old*/
        display:-webkit-box; 	
        /*new*/
	    display: -webkit-flex;
	    display: flex;
        /*old*/
	    -webkit-box-pack: center; 
	    -webkit-box-align: center;
        /*new*/
	    justify-content:center;
        align-items:center;
		dd{
			position:relative;
            -webkit-flex:1;
            flex:1;
            text-align:center;
            p{
            	font:.6rem/1.5 $publicFont;
            	color:$colorRed;	
            }
            img{
            	width:80%;
            }
            &:nth-child(2){
            	&:before{
	            	content:"";
	            	position:absolute;
	            	top:25%;
	            	right:0;
	            	width:1px;
	            	height:50%;
	            	background-color:#b27e7b;
	            }
	            &:after{
	            	@extend :before;
	            	left:0;
	            }
            }      
		}
	}
}
.lotteryDraw{
	margin:.2rem auto;
	width:80%;
	height:auto;
	overflow:hidden;
	background-color:#c3261f;
	border-radius:15px;
	.btn{
		margin:0 .5rem .5rem;
		height:2rem;
		background-color:#fff1b2;
		border-radius:10px;
		font:bold .75rem/2.1rem $publicFont;
        color:$colorRed;
        text-align:center;
        box-shadow:0 2px 3px #ffc076;
	}
}
.lampList{
	margin:.5rem;
	/*old*/
    display:-webkit-box; 	
    /*new*/
    display: -webkit-flex;
    display: flex;
    /*old*/
    -webkit-box-pack: center; 
    -webkit-box-align: center;
    /*new*/
    justify-content:center;
    align-items:center;
	em{
		margin:0 .2rem;
		display:block;
		width:.5rem;
		height:.5rem;
		border-radius:100%;
		background-color:$colorWhite;
		&:nth-child(2n){
			background-color:#fff9aa;
			box-shadow:1px 0 1px rgba(255,249,170,.8),
			-1px 0 1px rgba(255,249,170,.8),
			0 -1px 1px rgba(255,249,170,.8),
			0 1px 1px rgba(255,249,170,.8);
			-webkit-transition:all .5s;
			transition:all .5s;
			-webkit-animation:irradiance 2s infinite;
	        animation:irradiance 2s infinite;
		}
	}
}
@-webkit-keyframes irradiance{
	from {
		box-shadow:1px 0 1px rgba(255,255,255,.8),
			-1px 0 1px rgba(255,255,255,.8),
			0 -1px 1px rgba(255,255,255,.8),
			0 1px 1px rgba(255,255,255,.8);
		}
	to{
		box-shadow:none;
	}
}
@keyframes irradiance{
	from {
		box-shadow:1px 0 1px rgba(255,255,255,.8),
			-1px 0 1px rgba(255,255,255,.8),
			0 -1px 1px rgba(255,255,255,.8),
			0 1px 1px rgba(255,255,255,.8);
		}
	to{
		box-shadow:none;
	}
}
.prizeList{
	padding: 0 .5rem;
	margin:0 .5rem;
	height:5rem;
	background-color:#a81f29;
	border-radius:15px;
	/*old*/
    display:-webkit-box; 	
    /*new*/
    display: -webkit-flex;
    display: flex;
    /*old*/
    -webkit-box-pack: center; 
    -webkit-box-align: center;
    /*new*/
    justify-content:center;
    align-items:center;
	.slotMachine{	
		margin:0 .1rem;
		height:4rem;
		overflow: hidden;
		background-color: #ffffff;
		-webkit-flex:1;
		flex:1;	
		&:first-child{
			border-radius:8px 0 0 8px;
		}
		&:last-child{
			border-radius:0 8px 8px 0;
		}
		.slot{
			width: 100%;
            height:4rem;
			background-size:100% 100%;
		}
		.slot1{
			background-image: url("../images/slot1.png");
		}
		.slot2{
			background-image: url("../images/slot2.png");
		}
		.slot3{
			background-image: url("../images/slot3.png");
		}
		.slot4{
			background-image: url("../images/slot4.png");
		}
		.slot5{
			background-image: url("../images/slot5.png");
		}
		.slot6{
			background-image: url("../images/slot6.png");
		}
	}
}
.roll{
	margin:.5rem auto 0;
	width:80%;
	height:1.5rem;	
    border-radius:30px;   
    background:rgba(246,200,113,.8); 
    overflow: hidden; 
    i{
    	width:.8rem;
    	height:1rem;
        display:block;
		vertical-align: middle;
		float: left;
        margin: .25rem .1rem 0 .5rem;
    }
    ul{
    	margin-left:1.5rem;
    	li{
    		color:#fff;
	        font:.65rem/1.5rem "Microsoft YaHei","Helvetica Neue";
	        text-overflow:ellipsis; 
	        white-space:nowrap; 
	        overflow: hidden;
    	}
    }
}
.ChristmasBtn{
	margin:0 auto;
	width:80%;
	/*old*/
    display:-webkit-box; 	
    /*new*/
    display: -webkit-flex;
    display: flex;
    /*old*/
    -webkit-box-pack: center; 
    -webkit-box-align: center;
    /*new*/
    justify-content:center;
    align-items:center;
    a{
    	margin:.5rem .5rem 0;
    	font:.75rem/2.1rem $publicFont;
        color:$colorWhite;
    	-webkit-flex:1;
        flex:1;
        text-align:center;
        background-color:#ce2e2e;
        border-radius:8px;
        text-decoration:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        box-shadow:0 3px 3px #27807d;
    }
}
.ChristmasFooter{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:2.4rem;
	p{
		font:.6rem/3.2rem $publicFont;
        color:$colorGreen;
        text-align:center;
	}
}
.layer{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	padding:3%;
	width:90%;
	height:auto;
	background-color:#2a927e;
	border-radius:10px;
	overflow:hidden;
	@include transform(translate(-50%, -50%));
}
.layerContent{
	padding:5%;
	background-color:$colorWhite;
	border-radius:10px;
	.close{
		position:absolute;
		top:.5rem;
		right:.5rem;
		display:block;
		width:1.5rem;
		height:1.5rem;
		text-indent: -999px;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		&:before{
			content: "";
		    position: absolute;
		    top: .7rem;
            left: .3rem;
		    width:1rem;
		    height:.15rem;
		    background-color:#ce2e2e;
			@include transform(rotate(-45deg));
		}
		&:after{
			content: "";
		    position: absolute;
		    top:.7rem;
            left:.3rem;
		    width:1rem;
		    height:.15rem;
		    background-color: #ce2e2e;
			@include transform(rotate(-135deg));
		}
	}
	h3{
		font:bold .7rem/1.5 $publicFont;
        color:#363636;
	}
	p{
       @extend h3;
       font-weight:normal;
	}
}
.ruleMask{
	display:none;
}
.loginMask{
	display:none;
	form{
		margin-top:1rem;
		>div{
			width:100%;
			margin-bottom:.5rem;
			overflow: hidden;
			label{
				padding:0 5%;
				display:block;
				height:2rem;
				border:1px solid #ccc;
				border-radius:5px;
				input{
					border:0;
					outline:none;
					background:none;
					width:100%;
					height:100%;
					font:.7rem/2rem $publicFont;
				}
			}
		}
		.code{
			label{
				float:left;
				width:50%;
			}
			button{
				margin-left:5%;
				float:left;
				display:block;
				width:45%;
				height:2rem;
				border-radius:5px;
				border:0;
				outline:none;
				background:none;
				background-color:#fff1b2;
				color:#a81f29;
				font:.7rem/2rem $publicFont;
			}
		}
	}
	.btn{
		margin:0.5rem auto;
		display:block;
	   	width:60%;
	   	background-color:#c3261f;
       	font:bold .7rem/2rem $publicFont;
       	color:#fff;
       	text-align:center;
       	text-decoration:none;
       	border-radius:5px;
	}
}
.partake{
	display:none;
	h3{
        text-align:center;
	}
	p{
       text-align:center;
       line-height:2rem;
	}
	.btn{
		margin:0.5rem auto;
		display:block;
	   	width:60%;
	   	background-color:#c3261f;
       	font:bold .7rem/2rem $publicFont;
       	color:#fff;
       	text-align:center;
       	text-decoration:none;
       	border-radius:5px;
	}
}
.prizeWinning{
	display:block;
	text-align:center;
	img{
		width:30%;
	}
	.btn{
		margin:0.5rem auto;
		display:block;
	   	width:60%;
	   	background-color:#c3261f;
       	font:bold .7rem/2rem $publicFont;
       	color:#fff;
       	text-align:center;
       	text-decoration:none;
       	border-radius:5px;
	}
}

.share{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:3;
    background-color:#000;
    opacity:.8;
    text-align: right;
    img{
        width:60%;
        height:auto;
    }
}
