@import "base","variable";
.w960{
	width:960px;
	margin:0 auto;
}
.header{
	width:100%;
	height:60px;
	.title{
		float:left;
		width:180px;
		height:70px;
		background-color:#ff0058;
		border-radius:0 0 5px 5px;
		box-shadow:1px 1px 3px rgba(0,0,0,.2);
		h1{
			font:20px/60px $publicFont;
			color:#fff;
			text-align:center;
		}
	}
	.hotelName{
		margin-top:23px;
		padding:0 10px 0 2px;
		float:right;
		border-right:1px solid #fff;
		img{
			float:left;
		}
		p{
			margin-left:24px;
			font:14px/1 $publicFont;
			color:#fff;
		}
	}
	.exitLogin{
		float:right;
		margin:15px 0 0 15px;
		a{
			font:14px/30px $publicFont;
			color:#fff;
		}
	}
}
.search{
	margin:50px auto;
	table{
		width:100%;
		border:1px solid #ddd;
		border-radius:5px;
		overflow:hidden;	
		background-color:#ddd;
		box-shadow:1px 1px 3px rgba(0,0,0,.2);
		tr td{
			padding:10px;
			border:1px solid #ddd;
			background-color:#fff;
			p{
				font:14px/30px $publicFont;
				color:#da004b;
			}
			.date{
				height:auto;
				overflow:hidden;
				input{
					float:left;
					width:110px;
					background:none;
					border:none;
					outline:none;
					border-bottom:1px solid #ddd;
					color:#333;
					font:16px/30px $publicFont;
				}
				.arrowhead{
					float:left;
					margin:10px 10px 10px 5px;
				}
				.close{
					float:left;
					margin:10px 5px;
					cursor:pointer;
				}
			}
			input{
				width:140px;
				background:none;
				border:none;
				outline:none;
				border-bottom:1px solid #ddd;
				color:#333;
				font:16px/30px $publicFont;
			}
			.selectStatus{
				ul li{
					float:left;
					margin-right:20px;
					i{
						margin:5px;
						float:left;
						display:inline-block;
						width:20px;
						height:20px;
						background:url("../images/select.png") no-repeat;
						background-position:0 0;
						cursor:pointer;
					}
					span{
						float:left;
						margin-left:5px;
						font:16px/30px $publicFont;
						color:#999;
					}
				}
				ul li.active{
					i{
						background-position:-22px 0;
					}
				}
			}
			.selecType{
				@extend .selectStatus;
			}
			button{
				width:104px;
				background:none;
				border:none;
				outline:none;
				background-color:#ff0058;
				border-radius:5px;
				font:18px/40px $publicFont;
				color:#fff;
				display:block;
				cursor:pointer;
			}
			a{
				font:14px/1.5 $publicFont;
				color:#0091ff;
			}
		}
		.hidden{
			display:none;
		}
		.rowTd{
			width:124px;
			text-align:center;
			vertical-align:middle;
		}
		.order{
			width:240px;
		}
		.phone{
			width:276px;
		}
	}
}
.invoiceList{
	padding:30px 0 50px;
	background-color:#fafafa;
}
.titleText{
	margin-bottom:30px;
	height:auto;
	overflow:hidden;
	p{
		float:left;
		font:14px/26px $publicFont;
		color:#999;
		span{
			color:#da004b;
		}
	}
	.r{
		float:right;
		p{
			float:left;
		}
		.checkbox{
			position:relative;
			float:left;
			margin-left:15px;
			width:42px;
			height:26px;
			border-radius:30px;
			background-color:#ccc;
			cursor:pointer;
			.round{
				position:absolute;
				left:19px;
				top:3px;
				width:20px;
				height:20px;
				background-color:#fff;
				border-radius:100%;
			}
		}
		.checkbox.active{
			background-color:#da004b;
		}
	}
}
.item{
	border:1px solid #ddd;
	border-radius:5px;
	margin-bottom:30px;
	.top{
		border-bottom:1px solid #ddd;
		height:auto;
		overflow:hidden;
		padding-right:10px;
		p{
			font:14px/36px $publicFont;
			color:#333;
			float:left;
			span{
				display:inline-block;
				width:30px;
				font:16px/38px $publicFont;
				text-align:center;
				background-color:#f29c9f;
				color:#fff;
				border-radius:5px 0 0 0;
				margin-right:20px;
			}
		}
		a{
			margin-top:6px;
			padding:0 15px;
			float:right;
			border:1px solid #0091ff;
			color:#0091ff;
			border-radius:5px;
			font:14px/22px $publicFont;
			text-decoration:none;
		}
	}
	.content{
		padding:20px 10px;
		height:auto;
		overflow:hidden;
		border-bottom:1px solid #ddd;
		ul li{
			position:relative;
			float:left;
			width:50%;
			margin-bottom:5px;
			span{
				margin-right:5px;
				width:160px;
				display:inline-block;
				text-align:right;
				font:14px/24px $publicFont;
				i{
				    margin:3px 0 0 36px;
				    float: left;
					width:18px;
					height:18px;
					display:inline-block;
					background:url("../images/question.png") no-repeat;
					cursor:pointer;
				}
			}
			.name{
				width:128px;
			}
			input{
				background:none;
				border:none;
				outline:none;
				color:#999;
				width:222px;
				font:14px/22px $publicFont;
				padding:0 8px;
			}
			.addBorder{
				border:1px solid #ddd;
				border-radius:3px;
			}
			em{
				font:14px/24px $publicFont;
				color:#999;
			}
			a.duplicate{
				font:14px/24px $publicFont;
				color:#0091ff;
				text-decoration:none;
			}
		}
	}
	.foot{
		padding:10px;
		.footTop{
			height:auto;
			overflow:hidden;
			p{
				float:left;
				font:14px/24px $publicFont;
				color:#333;
			}
			a{
				float:right;
				font:14px/24px $publicFont;
				color:#0091ff;
				text-decoration:none;
			}
		}
		.footList{
			margin-top:10px;
			table{
				margin-bottom:20px;
				width:100%;
				border-collapse:collapse;
				background-color:#ddd;
				border:1px solid #ddd;
				border-radius:5px;
				overflow:hidden;
				thead{
					background-color:#fff;
					tr{
						td{border:1px solid #ddd;}
						p{
							margin:10px 0 10px 15px;
							font:14px/24px $publicFont;
							color:#da004b;
							i{
								margin:3px 5px 0 0;
							    float: left;
								width:18px;
								height:18px;
								display:inline-block;
								background:url("../images/question.png") no-repeat;
								cursor:pointer;
							}
							input{
								background:none;
								border:none;
								outline:none;
								font:14px/22px $publicFont;
								color: #999;
								padding:0 8px;
							}
							.invoiceNumActive{
								border: 1px solid #ddd;
    							border-radius: 3px;
							}
						}
					}
				}
				tbody{
					th{
						padding:8px 0;
						border:1px solid #ddd;
						font:14px/1.2 $publicFont;
						color:#999;
						text-align:center;
						background-color:#f2f2f2;
					}
					td{
						padding:15px 0;
						background-color:#f2f2f2;
						border:1px solid #ddd;
						font:14px/1.2 $publicFont;
						color:#333;
						text-align:center;
						vertical-align: middle;
						i{
							margin:0 10px;
						    display: inline-block;
						    width: 20px;
						    height: 20px;
						    background: url(../images/select.png) no-repeat;
					        background-position: -22px 0;
						    cursor: pointer;
						}
						.round{
							background-position: 0 0;
						}
						p{
							margin: 0 auto;
							width:60px;
							font:14px/24px $publicFont;
							color:#fff;
							border-radius:30px;
						}
						.open{
							background-color:#22ac38;
						}
						.wait{
							background-color:#f90;
						}
						.loseEfficacy{
							background-color:#999;
						}
					}
				}
			}
		}
	}
}
.promptMask{
	position:fixed;
	top:50%;
	left:50%;
	z-index:2;
	padding:15px 20px 0 20px;
	min-width:100px;
	height:100px;
	@include transform(translate(-50%, -50%));
	background:rgba(0,0,0,.8);
    border-radius:5px;
    text-align:center;
    p{
    	color:#fff;
    	font:16px/1.5 $publicFont;
    }
}
.moneyPrompt{
    position:absolute;
	top:-30px;
	left:60px;
	display:none;
	padding:5px;
	width:380px;
	z-index:2;
	background:rgba(0,0,0,.7);
    border-radius:5px;
    p{
    	color:#fff !important;
    	font:14px/1.5 $publicFont;
    }
}
.numberPrompt{
	position:absolute;
	top:0;
	left:60px;
	display:none;
	padding:10px;
	z-index:2;
	background:rgba(0,0,0,.7);
    border-radius:5px;
    p{
    	margin:0 !important;
    	padding:0 !important;
    	color:#fff !important;
    	font:14px/1.5 $publicFont;
    }
    img{
    	font-size:0;
    	margin-top:5px;
    }
}
.qa{
	position:fixed;
	right:20px;
	top:50%;
	z-index:2;
	width:120px;
	height:auto;
	text-align:center;
	.top{
		font-size:0;
	}
	.foot{
		font-size:0;
		display:none;
	}
}
.invoiceQuestions{
	margin-top:50px;
	height:auto;
	overflow:hidden;
	h1{
		padding-bottom:20px;
		margin-bottom:30px;
		font:bold 28px/1.5 $publicFont;
		color:#f1236d;
		border-bottom:1px solid #ddd;
	}
	.content{
		h3{
			font:bold 16px/2 $publicFont;
			color:#f1236d;
			margin-top:30px;
		}
		p{
			font:16px/1.5 $publicFont;
			color:#666;
		}
		img{
			margin-top:20px;
		}
	}
}