<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="author" content="name, sycbbb@sina.com"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no,adress=no"/>
<meta name="msapplication-tap-highlight" content="no">
<link rel="stylesheet" href="styles/chooseCoupons.css">
</head>
<body>
<div class="wrapper choose-coupons-wrapper" id="app" ref="wrapperApp" v-bind:style="{paddingTop:paddingTop + 'px',paddingBottom:footerHeight+'px'}">
	<header class="choose-coupons-header" style="background:url(images/header_bg.jpg) no-repeat; background-size:100% 100%;">
		<a class="left dossen-header-left" href="javascript:goback();"></a>
		<h1 v-text="title"></h1>
		<div class="right">
			<a class="nonuse-coupon" href="javascript:;">不使用优惠券</a>
		</div>
	</header>
	<div class="choose-coupos-content" v-bind:class="{on:!loading}">
		<div class="date-list" ref="dateDiv">
			<ul v-bind:style="{width:liNum*5 + 'rem'}">
				 <li v-for="(item,key) in dateList" v-on:click="dateTab(key)" v-bind:class="{active:key==selectItem}" ref="liList">
	                <p class="date">{{item.date}}</p>
					<p class="date-coupon">优惠{{item.price}}元</p> 
					<p class="untapped">{{item.untapped}}</p>
					<em></em>               
                </li> 
			</ul>
		</div>
		<div class="coupon-list">
			<div class="item" v-for="(item,index) in couponList">
				<div class="left"><div class="price"><i><img src="images/select_coupon_white_icon.png" alt=""></i></div></div>
				<div class="right">
					<h3>{{item.Name}}<span>（城市便捷专享）</span></h3>
					<p>全国门店通用</p>
					<time>有效期：{{item.StartTime}} 至{{item.EndTime}}</time>
				</div>
				<div class="select"><i><img src="images/no_select_icon.png" alt=""></i></div>
			</div>
		</div>
	</div>
	<footer class="choose-coupons-footer" ref="footerHeight">
		<p v-on:click="clickPrompt"><span>温馨提示：为什么不能再选择优惠了</span><i><img src="images/question_mark.png" alt=""></i></p>
		<div class="choose-coupons-footer-content">
			<div class="ccfc-left"><span>查看已选</span><i></i></div>
			<div class="ccfc-right"><button>确认使用</button></div>
		</div>
	</footer>
	<div class="mask" v-bind:class="{maskActive:!isMaskActive}" v-on:click="clickMask"></div>
	<div class="coupon-rule" v-bind:class="{couponRuleActive:!isCouponRuleActive}">
		<div class="close" v-on:click="clickClose">
			<img src="images/close.png" alt="">
		</div>
		<h3><span>优惠券使用规则</span><em></em></h3>
		<h4>1.优惠券使用类型</h4>
		<p>每个订单仅限使用一种类型优惠券，比如使用免房券则不能再选择满减券，使用其他类型优惠券则可先取消免房券再选择。</p>
		<h4>2.优惠券选择数量</h4>
		<p>每天优惠券可选择数量等于预订间数，比如预订了3间，则每天可使用优惠券数量为3。</p>
		<h4>3.优惠券选择条件说明：</h4>
		<p>比如订单1000元，如果使用满500减10元，则剩余可优惠券金额=1000-500=500元，再使用满200减10元的券，则剩余可优惠金额=500-200=300元，以此计算。</p>
	</div>
	<div class="loading" v-show="loading">正在加载中...</div>
</div>
<!-- scripts begin -->
<script src="scripts/vue.min.js"></script>
<script src="scripts/axios.js"></script>
<script>

var app = new Vue({
	el:"#app",
	data:{
		title:'选择优惠券',
		loading:true,
		isDateCoupon:false,
		selectItem:0,
		dateList:[
             {date:'07-28(周五)',price:'-30',untapped:'未使用'},
             {date:'07-29(周六)',price:'-20',untapped:'未使用'},
             {date:'07-30(周日)',price:'-10',untapped:'未使用'},
             {date:'07-28(周五)',price:'-30',untapped:'未使用'},
             {date:'07-29(周六)',price:'-20',untapped:'未使用'},
             {date:'07-30(周日)',price:'-10',untapped:'未使用'},
             {date:'07-31(周一)',price:'-50',untapped:'未使用'}
        ],
		couponList:new Array(),
		paddingTop:0,
		liNum:0,
		footerHeight:0,
		isMaskActive:true,
		isCouponRuleActive:true,
	}, 
	created:function(){
		var _this = this;
		_this.getJsonCouponList();
		
	},
	mounted:function(){
		var _this = this;
		_this.loading=false;
		_this.reviseStyle();
		console.log(_this.$refs.liList.length);	
	},
	methods:{
		getJsonCouponList:function(item, index){
			this.$nextTick(function(){
				axios.get('http://10.44.61.27/activity/choose_coupons/data/CouponList.json')
				.then(
					function(retObj){
						if(retObj.status == 200){
							app.couponList = retObj.data.CouponList;
						}
					}
				)
				.catch(function(errorObj){
					console.log("get data error...");
				})
			});
		},
		dateTab(key){
            this.selectItem=key;
            this.getJsonCouponList();
        },
        reviseStyle:function(){
        	var _this = this;
			_this.$nextTick(function(){
				setTimeout(function(){
					app.paddingTop=_this.$refs.dateDiv.clientHeight+44;
					app.footerHeight=_this.$refs.footerHeight.clientHeight;
				},0);
				app.liNum=_this.$refs.liList.length;
			});
        },
        clickPrompt:function(){
			this.isMaskActive=false;
			this.isCouponRuleActive=false;
        },
        clickMask:function(){
        	this.isMaskActive=true;
			this.isCouponRuleActive=true;
        },
        clickClose:function(){
        	this.isMaskActive=true;
			this.isCouponRuleActive=true;
        }
	},
	watch:{
	},
	computed:{	
	},
	filters:{
	}
});



</script>
<!-- scripts end -->
</body>
</html>