@import 'base','common';
.wrapper{
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	// overflow:hidden;
	background-color:#f7f7f7;
}
.content{
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	// overflow:hidden;
	background-color:#f7f7f7;
	display:none;
}
.content.on{
	display:block;
}
.header{
	height:.8rem;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	.left{
		width:.5rem
	}
	.right{
		width:.5rem
	}
	h1{
		@include box-flex(1);
		text-align:center;
		font-size:.4rem;
	}
}