@import 'base','variable';
.slider-box{
	position:relative;
	margin:5% auto;
	width:80%;
	height:44px;
	background-color:#eee;
	border-radius:30px;
	overflow:hidden;
	.slider-btn{
		position:relative;
		z-index:2;
		margin-left:0;
		width:44px;
		height:44px;
		background-color:#ccc;
		border-radius:30px;
		@include transition(all 0s);
	}
	.slider-bg{
		position:absolute;
		z-index:2;
		top:0;
		left:0;
		bottom:0;
		background-color:green;
		@include transition(all 0s);
	}
}