@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background-color:#f7f7f7;
}
.areaHeader{
	position:relative;
	background-color:#fff;
	height:2.4rem;
	&:after{
        content:"";
        position: absolute;
        top:50%;
        left:5%;
        margin-top:-4px;
        width:8px;
        height:8px;
        border: 1px solid;
        border-bottom: 0;
        border-right: 0;
        color: #ccc;
        @include transform(rotateZ(-45deg));
    }
    h1{
		font:.75rem/2.4rem $publicFont;
		text-align:center;
		color:#333;
	}
}
.item{
	position:relative;
	margin: 5% auto;
	display:block;
	width:94%;
	border-radius:5px;
	font-size:0;
	box-shadow:1px 2px 5px rgba(0,0,0,.5);
	overflow:hidden;
	text-decoration:none;
	.new{
		position:absolute;
		width:15%;
		img{
			width:100%;
		}
	}
	.list{
		width:100%;
		height:auto;
	}
	.text{
		position:absolute;
		width:94%;
		left:3%;
		bottom:5%;
		h2{
			font:bold .9rem/1.5 $publicFont;
			color:#fff;
		}
		p{
			font:.6rem/1.5 $publicFont;
			color:#fff;
			display:flex;
			align-items:center;
			span{
				flex:1;
			}
			time{
				padding:0 .2rem;
				font-size:.55rem;
				border:1px solid #fff;
				border-radius:3px;
			}
		}
	}
}
