@import "base","variable","common";
.hotel-connoisseur-wrapper{
	padding-top:44px;
	background-color:#f7f7f7;
}
.hotel-connoisseur-header{
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:3;
	padding:0 3%;
	margin:0 auto;
	width:100%;
	height:44px;
	max-width:640px;
 	@include display(flex);
 	align-items:center;
 	.left{
 		width:10%;
 	}
 	h1{
 		width:80%;
 		font:.8rem/40px $publicFont;
 		color:#333;
 		text-align:center;
 	}
 	.right{
 		margin-left:-15%;
 		width:25%;
 		a{
		    display: block;
 			font:.6rem/40px $publicFont;
 			color:#da004c;
 			text-align:right;
 		}
 	}
}
.hotel-connoisseur-user-comment{
	.item{
		padding:3%;
		background-color:#fff;
		h2{
			font:bold 1rem/2.4 $publicFont;
			color:#333;
		}
		.name-title{
			@include display(flex);
 			align-items:center;
 			.l{
 				@include display(flex);
 				@include align-items(center);
				p{
					width:3.6rem;
					text-align:center;
	 				font:.5rem/1.5 $publicFont;
	 				color:#fff;
				    background-color:#a0a0a0;
				    border-radius:3px;
				    margin-right:.5rem;
	 			}
	 			p.adopt{
	 				background-color:#da004c;
	 			}
	 			.star{
	 				width:80px;
	 				height:12px;
	 				background-image:url('../images/star.png');
	 				background-size:100% auto;
				    background-repeat:no-repeat;
				    background-position:0 0;
	 			}
	 			.star0{
	 				background-position:0 -126px;
	 			}
	 			.star1{
	 				background-position:0 -114px;
	 			}
	 			.star2{
	 				background-position:0 -101px;
	 			}
	 			.star3{
	 				background-position:0 -89px;
	 			}
	 			.star4{
	 				background-position:0 -76px;
	 			}
	 			.star5{
	 				background-position:0 -64px;
	 			}
	 			.star6{
	 				background-position:0 -51px;
	 			}
	 			.star7{
	 				background-position:0 -38px;
	 			}
	 			.star8{
	 				background-position:0 -25px;
	 			}
	 			.star9{
	 				background-position:0 -12px;
	 			}
	 			.star10{
	 				background-position:0 0;
	 			}
 			}
 			>span{
 				margin-left:.5rem;
 				font:.55rem/1.5 $publicFont;
		 		color:#999;
 			}
		}
		.tag-list{
			padding:3% 0;
			height:auto;
			overflow:hidden;
			ul li{
				float:left;
				padding:0 2%;
				margin:1% 2% 1% 0;
				font:.55rem/1.5 $publicFont;
		 		color:#999;
		 		border:1px solid #ccc;
		 		border-radius:30px;
		 		background-color:#fff;
			}
		}
		>p{
			font:.75rem/1.5 $publicFont;
 			color:#333;
		}
		.img-list{
			padding:3% 0;
		    margin: .3rem 0;
			ul{
				@include display(flex);
 				align-items:center;
 				li{
 					position:relative;
 					margin-right:2%;
 					flex:1;
 					font-size:0;
 					&:last-child{
 						margin-right:0;
 					}
 					img{
 						width:100%;
 					}
 					p{
 						padding:0 10%;
 						position:absolute;
 						right:0;
 						bottom:0;
 						background:rgba(0,0,0,.7);
 						@include display(flex);
 						align-items:center;
 						i{
 							margin-right:.3rem;
 							width:.5rem;
 							font-size:0;
 							display:block;
 							img{
 								width:100%;
 							}
 						}
 						span{
 							font:.55rem/1.5 $publicFont;
 							color:#fff;
 						}
 					}
 				}
			}
		}
		.auditing{
			padding:2%;
			background-color:#f2f2f2;
			p{
				font:.55rem/1.5 $publicFont;
 				color:#333;
 				&:last-child{
 					color:#999;
 				}
			}
		}
		.see-img-list{
			margin-top:.5rem;
			width:100%;
			ul li{
				margin-top:.3rem;
				width:100%;
			    font-size: 0;
				img{
					width:100%;
				}
			}
		}
	}
	.info{
		padding:5% 3%;
		margin-top:.5rem;
		background-color:#fff;
		p{
			font:.6rem/1.8 $publicFont;
			color:#666;
			span{
				margin-left:.5rem;
			}
		}
	}
	.hotel-connoisseur-btn{
		position:fixed;
		left:0;
		right:0;
		bottom:0;
		padding:2% 0;
	    box-shadow: 1px 3px 5px #000;
	    background-color:#fff;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		a{
			margin:0 5%;
			height:1.8rem;
			@include box-flex(1);
			border:1px solid #da0450;
			border-radius:30px;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			span{
				font:.75rem/1.8 $publicFont;
 				color:#da0450;
			}
			&:last-child{
				background-color:#da0450;
				span{
					color:#fff;
				}
			}
		}
	}
}
.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	z-index:4;
	background-color:#000;
	opacity:.7;
}
.room-info{
	padding:5% 5% 20% 5%;
	text-align:center;
	@include transition(all .5s);
	i{
		margin:0 auto 1rem;
		display:block;
		width:4rem;
		height:4rem;
		font-size:0;
		border-radius:100%;
		overflow:hidden;
		@include transition(all .5s);
		img{
			width:100%;
			height:100%;
		}
	}
	h2{
		font:bold 1rem/1.5 $publicFont;
 		color:#333;
	}
	p{
		font:.7rem/1.5 $publicFont;
 		color:#999;
	}
}
.tag-comment{
	display:none;
	.title-tag{
		h3{
			font:.8rem/3 $publicFont;
	 		color:#990036;
	 		text-align:center;
		}
		ul{
			margin:0 10%;
			@include display(flex);
 			align-items:center;
 			flex-wrap:wrap;
 			li{
 			  margin:1.5% 2.5%;
 			  width:45%;	
 			  font:.7rem/2 $publicFont;
	 		  color:#999;
	 		  border:1px solid #eee;
	 		  border-radius:30px;
	 		  text-align:center;
 			}
 			.active{
 				background-color:#da004c;
 				color:#fff;
 			}
		}
	}
}
.import-comment{
	margin:5% 12.5%;
	padding:2%;
	height:3rem;
	border-radius:5px;
	border:1px solid #ddd;
	background-color:#eeeeee;
	textarea{
		background:none;
		border:none;
		outline:none;
		width:100%;
		height:100%;
	}
}
.select-comment{
	position:relative;
	margin:0 5%;
	i{
		position:absolute;
		left:0;
		top:50%;
		width:100%;
		border-bottom:1px solid #eee;
		display:block;
	}
	p{
		position:relative;
		font:.7rem/1.5 $publicFont;
 		color:#999;
 		text-align:center;
 		background-color:#fff;
 		width:50%;
 		margin:0 auto;
	}
}
.page-album-info{
	position:fixed;
	top:50%;
	left:50%;
	z-index:5;
	width:90%;
	border-radius:5px;
	@include transition(all .5s);
	@include transform(translate3d(-50%,-500%,0));
	h5{
		font:.75rem/1.8 $publicFont;
 		color:#fff;
 		text-align:center;
 		margin-bottom:.5rem;
	}
	.swiper-slide{
		font-size:0;
		background-color:#fff;
		.img{
			width:100%;
			height: auto;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			img{
				width:auto;
				height:auto;
				max-width:100%;
				max-height:100%;
			}
		}
	}
	.swiper-pagination{
		font:.7rem/1.8 $publicFont;
 		color:#fff;
 		bottom:inherit;
	}
}
.page-album-info.on{
	@include transition(all .5s);
	@include transform(translate3d(-50%,-50%,0));
}
.goback{
	position:fixed;
	bottom:8%;
	right:3%;
	z-index:5;
	width:2.4rem;
	height:2.4rem;
	border-radius:100%;
	background-color:#da004c;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	p{
		font:.6rem/1.2 $publicFont;
 		color:#fff;
 		text-align:center;
	}
}

.big-star{
	margin:3rem 0 2rem;
	ul{
		margin:0 auto;
		width:300px;
		height:35px;
		background:url('../images/big_star.png') no-repeat;
		background-size:100% auto;
		@include display(flex);
 		align-items:center;
 		@include transition(all .5s);
		li{
			width:60px;
		    height:35px;
		}
	}
	.big-star1{
		background-position:0 -34px;
	}
	.big-star2{
		background-position:0 -68px;
	}
	.big-star3{
		background-position:0 -105px;
	}
	.big-star4{
		background-position:0 -141px;
	}
	.big-star5{
		background-position:0 -176px;
	}
}
.page-content{
	>h3{
		text-align:center;
		font:.8rem/1.8 $publicFont;
 		color:#da004c;
	}
	>p{
		text-align:center;
		font:.6rem/1.8 $publicFont;
 		color:#999;
 		margin-bottom:3rem;
	}
	.ad{
		width:100%;
		font-size:0;
		img{
			width:100%;
		}
	}
}
.share{
	position:fixed;
	top:3%;
	right:5%;
	display:none;
	z-index:5;
	width:70%;
	.img{
		width:100%;
		font-size:0;
		img{
			width:100%;
		}
	}
	.text{
		position:absolute;
		left:15%;
		bottom:8%;
		text-align:center;
		h2{
			font:.9rem/1.8 $publicFont;
 			color:#fff;
		}
		h3{
			font:.7rem/1.8 $publicFont;
 			color:#fcff00;
		}
	}
}

/*上传图片插件的样式*/
.img-box{
	margin-top:0;
}
.z_photo{
	padding:5% 5% 0 5%;
	display:-webkit-flex;
	display: flex;
	align-items:flex-end;
	flex-wrap:wrap;
	/*border:2px dashed #E7E6E6;*/
	/*padding: 18px;*/
}
.z_photo .up-p{
	font-size:12px;
	color:#969696;
	margin:0;
	margin-left:10px;
}
.z_photo .z_file{
	position: relative;
}
.z_file  .file{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}
.z_photo .up-section{
	position: relative;
	margin-right:10px;
	margin-bottom:0;
}
.up-section .close-upimg{
	position: absolute;
	top: 6px;
	right: 8px;
	display: none;
	z-index: 10;
	width:20px;
}
// .up-section .up-span{
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// 	visibility: hidden;
// 	position: absolute;
// 	top: 0px;
// 	left: 0px;
// 	z-index: 9;
// 	background: rgba(0,0,0,.5);
// }
.up-section:hover{
	border: 2px solid #f15134;
}
.up-section:hover .close-upimg{
	display: block;
}
.up-section:hover .up-span{
	visibility: visible;
}
.z_photo .up-img{
	display: block;
	width: 100%;
	height: 100%;
}
.loading{
    border: 1px solid #D1D1D1;
	// background:url(../img/loading.gif) no-repeat center;
}
.up-opcity{
	opacity: 0;
}
.img-name-p{
	display: none;
}
.upimg-div .up-section {
    width: 50px;
    height: 50px;
    border:1px dashed #eee;
}
.img-box .upimg-div .z_file {
    width:50px;
    height:50px;
    display:-webkit-flex;
	display: flex;
	align-items:center;
	justify-content:center;
	border:1px dashed #eee;
}
.z_file .add-img {
    display: block;
    width: 20px;
    height: 20px;
}

.mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	z-index:4;
	background-color:#000;
	opacity:.7;
}
// .page-album-info{
// 	position:fixed;
// 	top:50%;
// 	left:50%;
// 	z-index:5;
// 	width:90%;
// 	border-radius:5px;
// 	@include transition(all .5s);
// 	@include transform(translate3d(-50%,-300%,0));
// 	.swiper-slide{
// 		font-size:0;
// 		background-color:#fff;
// 		.img{
// 			width:100%;
// 			height: auto;
// 			@include display(flex);
// 			align-items:center;
// 			justify-content:center;
// 			img{
// 				width:auto;
// 				height:auto;
// 				max-width:100%;
// 				max-height:100%;
// 			}
// 		}
// 	}
// 	.swiper-pagination{
// 		font:.7rem/1.8 $publicFont;
//  		color:#fff;
//  		bottom:inherit;
// 	}
// }
// .page-album-info.on{
// 	@include transition(all .5s);
// 	@include transform(translate3d(-50%,-50%,0));
// }
// .delete{
// 	position:fixed;
// 	top:2%;
// 	right:5%;
// 	z-index:5;
// 	display:none;
// 	i{
// 		width:.8rem;
// 		font-size:0;
// 		display: block;
//     	float: right;
// 	    margin-top: 5%;
// 		img{
// 			width:100%;
// 		}
// 	}
// }
.select-name{
	position:fixed;
	left:0;
	right:0;
	bottom:5%;
	@include display(flex);
 	align-items:center;
 	justify-content:center;
 	i{
 		display: block;
 		width:20px;
 		height:20px;
		background:url('../images/pay_success_icon.png') no-repeat;
		background-size:100% 100%;
		margin-right:.3rem;
 	}
 	span{
 		font:.7rem/1.5 $publicFont;
 		color:#999;
 	}
}
.select-name.active{
	i{
		background:url('../images/no_select_icon.png') no-repeat;
		background-size:100% 100%;
	}
}
.btn{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	display:none;
	padding:5%;
	a{
		display:block;
		background-color:#e0e0e0;
		border-radius:5px;
		font:.7rem/2rem $publicFont;
 		color:#999;
 		text-align:center;
	}
}
.btn.active{
	a{
		background-color:#d92068;
		color:#fff;
	}
}
.title-input{
	border-bottom:1px solid #f5f5f5;
	height:2.4rem;
	font-size:0;
	input{
		background:none;
		border:none;
		outline:none;
		-webkit-appearance:none;
		appearance:none;
		padding:0 5%;
		width:90%;
		height:100%;
		font:.8rem/1.5 $publicFont;
 		color:#333;
		&::-webkit-input-placeholder{
			color:#999;
		}
	}
}
.text-write{
	position:relative;
	border-bottom:1px solid #f5f5f5;
	font-size:0;
	textarea{
		background:none;
		border:none;
		outline:none;
		-webkit-appearance:none;
		appearance:none;
		padding:3% 5%;
		width:90%;
		height:100%;
		font:.6rem/1.5 $publicFont;
 		color:#666;
		&::-webkit-input-placeholder{
			color:#ccc;
		}
	}
	p{
		position:absolute;
		right:5%;
		bottom:5%;
		font:.65rem/1.5 $publicFont;
 		color:#999;
	}
}


.hotel-connoisseur-content{
	.ad-top{
		position:relative;
		width:100%;
		font-size:0;
		img{
			width:100%;
		}
		.connoisseur-btn{
			position:absolute;
			right:13%;
			bottom:10%;
			width:5rem;
			height:1.6rem;
			border:1px solid #333;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			a{
				color:#333;
				font:.7rem/1.5 $publicFont;
			}
		}
	}
	.flow-path{
		margin:0 3%;
		padding:2% 1%;
		border-bottom:1px dashed #ddd;
		@include display(flex);
		@include align-items(center);
		span{
			font:.5rem/1.8 $publicFont;
			color:#666;
		}
		p{
			margin-left:.2rem;
			font:.5rem/1.8 $publicFont;
			color:#333;
		}
	}
	.hotel-connoisseur-list{
		padding:3% 3% 0 3%;
		.items{
			position:relative;
			margin-bottom:.5rem;
			border-radius:5px;
			height:10rem;
			overflow:hidden;
			.fixed{
				position:absolute;
				left:5%;
				top:5%;
				width:3rem;
				height:1rem;
				background:rgba(0,0,0,.7);
				border-radius:30px;
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				i{
					width:8px;
					font-size:0;
					img{
						width:100%;
					}
				}
				span{
					margin-left:.2rem;
					font:.5rem/1.5 $publicFont;
					color:#fff;
				}
			}
			.img{
				width:100%;
				height: 100%;
				font-size:0;
				img{
					width:100%;
				}
			}
			.text{
				padding:3%;
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				background:rgba(0,0,0,.7);
				@include display(flex);
				@include align-items(center);
				@include justify-content(space-between);
				.l{
					width:10rem;
					h2{
						font:.75rem/1.8 $publicFont;
						color:#fff;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					p{
						font:.65rem/1.8 $publicFont;
						color:#fff;
						span{
							font-weight:bold;
							margin-right:.5rem;
							em{
								font:.5rem/1.8 $publicFont;
								color:#fcff00;
								strong{
									font:bold .75rem/1.8 $publicFont;
								}
							}
						}
					}
				}
				.connoisseur-btn{
					width:5rem;
					height:1.6rem;
					background-color:#ff0058;
					border-radius:30px;
					@include display(flex);
					@include align-items(center);
					@include justify-content(center);
					a{
						font:.8rem/1.5 $publicFont;
						color:#fff;
					}
				}
				.seconds-btn{
					width:5rem;
					height:1.6rem;
					background-color:#959595;
					border-radius:30px;
					@include display(flex);
					@include align-items(center);
					@include justify-content(center);
					a{
						font:.8rem/1.5 $publicFont;
						color:#fff;
					}
				}
			}
		}
	}
}
.hotel-connoisseur-footer{
	position:relative;
	margin:1rem 3% .3rem;
	height:1rem;
	border-top:1px dashed #ddd;
	span{
		font:.55rem/1.5 $publicFont;
		color:#999;
		display: block;
	    margin: -.4rem auto 0;
	    width: 9rem;
	    text-align: center;
	    background-color:#fff;
	}
}
.exchange-mask{
	position:fixed;
	top:50%;
	left:50%;
	z-index:5;
	width:80%;
	border-radius:5px;
	@include transition(all .5s);
	@include transform(translate3d(-50%,-500%,0));
	.exchange-mask-text{
		padding:5%;
		background-color:#fff;
		border-radius:5px;
		h3{
			font:.8rem/1.5 $publicFont;
			color:#333;
			text-align:center;
		}
		.img{
			position:relative;
			margin:1rem 0 .5rem;
			width:100%;
			font-size:0;
			img{
				width:100%;
			}
			.text{
				position:absolute;
			    top: 28%;
    			left:10%;
				h4{
					font:.75rem/1.5 $publicFont;
					color:#937649;
				}
				p{
					font:.55rem/1.5 $publicFont;
					color:#937649;
				}
			}
		}
		>p{
			font:.55rem/1.5 $publicFont;
			color:#999;
			text-align:center;
		}
		.exchange-mask-btn{
			margin:1.5rem auto .3rem;
			display: block;
			width:6rem;
			height:1.4rem;
			border-radius:30px;
			background-color:#e5004f;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			i{

			}
			span{
				font:.75rem/1.5 $publicFont;
				color:#fff;
			}
		}
		.btn-null{
			background-color:#bfbfbf;
		}
	}
	.exchange-mask-close{
		margin:2rem auto 0;
		width:2rem;
		height:2rem;
		font-size:0;
		img{
			width:100%;
			height:100%;
		}
	}
}
.exchange-mask.on{
	@include transition(all .5s);
	@include transform(translate3d(-50%,-50%,0));
}