@import "base","variable";
html{font-size:18px;}
@media(min-device-width:320px){
	html{
	  font-size:18px;
	}
}
@media(min-device-width:360px){
	html{
	  font-size:20px;
	}
}
@media(min-device-width:375px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:384px){
	html{
	  font-size:21px;
	}
}
@media(min-device-width:400px){
	html{
	  font-size:22px;
	}
}
@media(min-device-width:414px){
	html{
	  font-size:23px;
	}
}
@media(min-device-width:480px){
	html{
	  font-size:26px;
	}
}
@media(min-device-width:520px){
	html{
	  font-size:27px;
	}
}
@media(min-device-width:533px){
	html{
	  font-size:28px;
	}
}
@media(min-device-width:560px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:568px){
	html{
	  font-size:29px;
	}
}
@media(min-device-width:600px){
	html{
	  font-size:30px;
	}
}
@media(min-device-width:640px){
	html{
	  font-size:24px;
	}
}
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background-color:#fff;
}
.wlan-header{
	width:100%;
	height:auto;
	font-size:0;
	img{
		margin:5% auto;
		display: block;
		width:25%;
	}
}
.wlan-list{
	padding:0 2%;
	.item{
		margin-bottom:3%;
		font-size:0;
		a{
			position:relative;
			text-decoration:none;
			font-size:0;
			>img{
				width:100%;
				height:auto;
			}
		}
		>img{
			width:100%;
			height:auto;
		}
	}
	.user{
		.text{
			position:absolute;
			left:1.5rem;
			bottom:1.8rem;
			width:90%;
			height:auto;
			overflow:hidden;
			>i{
				width:1.8rem;
				height:2px;
				background-color:#fff;
				display:block;
				margin-bottom:.3rem;
			}
		}
		h3{
			color:#fff;
			font:bold 1.1rem/1.5 $publicFont;
		}
		h2{
			margin-bottom:.3rem;
			color:#ffea00;
			font:1.3rem/1 nth($publicFont,6);
			span{
				margin:0 1%;
				padding:0 2%;
				background-color:#ffea00;
				color:#7b4932;
			    display: inline-block;
			    font-weight:bold;
			}
		}
		ul{
			display:-webkit-flex;
			display:flex;
			align-items:center;
			li{
				margin-right:.3rem;
				display:-webkit-flex;
				display:flex;
				align-items:center;
				i{
					margin-right:.3rem;
					font-size:0;
					width:.55rem;
					height:.5rem;
					img{
						width:100%;
						height:100%;
					}
				}
				span{
					color:#fff;
					font:.5rem/1.5 nth($publicFont,6);
				}
			}
		}
	}
	.brand{
		position:relative;
		.text-t{
			position:absolute;
			top:.8rem;
			left:1rem;
			right:1rem;
			display:-webkit-flex;
			display:flex;
			align-items:center;
			justify-content:space-between;
			h2{
				color:#fff;
				font:bold 1.1rem/1.5 $publicFont;
			}
			a{
				padding:.5% 3%;
				background-color:#fff;
				color:#b6a967;
				font:.6rem/1.5 $publicFont;
				border-radius:30px;
				box-shadow:1px 2px 5px #999;
			}
		}
		.text-b{
			position:absolute;
			left:1rem;
			bottom:2rem;
			h2{
				color:#fff;
				font:bold 1.1rem/1.5 $publicFont;
			}
			p{
				color:#fff;
				font:.7rem/1.5 $publicFont;
			}
			a{
				padding:.5% 3%;
				margin-top:.2rem;
				display:inline-block;
				color:#fff;
				font:.5rem/1.5 $publicFont;
				border:1px solid #fff;
			}
		}
	}
}
.wrapper-brand{
	padding-top:2rem;
	padding-bottom:4rem;
}
.brand-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:2rem;
	background-color:#d7014b;
	h1{
		color:#fff;
		font:bold .75rem/2rem $publicFont;
		text-align:center;
	}
	a{
		position:absolute;
		top:.5rem;
		left:3%;
		width:1rem;
		height:1rem;
		&:after{
            content:"";
            position: absolute;
            top:50%;
            right:5%;
            margin-top:-.25rem;
            width:.5rem;
            height:.5rem;
            border: 2px solid;
            border-bottom: 0;
            border-right: 0;
            color: #fff;
            @include transform(rotateZ(-45deg));
        }
	}
}
.all-brand{
	display:-webkit-flex;
	display:flex;
	align-items:center;
	width:800%;
	-webkit-transition:all .5s;
	transition:all .5s;
	.brand-list{
		padding:.2rem 1rem;
		margin:.5rem .8rem;
		width:100%;
		// display:none;
		// float:left;
		background-color:#fff;
		border-radius:10px;
		box-shadow:-1px 0 8px #e6e6e6,1px 0 8px #e6e6e6,0 -1px 8px #e6e6e6,0 1px 8px #e6e6e6;
		.logo{
			padding:5% 0;
			display:-webkit-flex;
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:0;
			img{
				width:20%;
			}
		}
		.video{
			border-radius: 5px;
		    overflow: hidden;
		    width: 100%;
		    height: auto;
		    font-size: 0;
			iframe{
				width:100%;
				height:8.1rem;
			}
			img{
				width:100%;
			}
		}
		.text{
			h3{
				margin:5% 0;
				color:#333;
				font:.75rem/1.5 $publicFont;
				text-align:center;
			}
			p{
				color:#999;
				font:.6rem/1.5 $publicFont;
			}
		}
		.btn{
			margin:5% 25%;
			display:block;
			color:#fff;
			font:.6rem/2 $publicFont;
			border-radius:30px;
			text-align:center;
			background: -webkit-linear-gradient(left,#ff6061, #f90253);
  			background: linear-gradient(left,#ff6061, #f90253); 
		}
		&:first-child{
			.logo{
				img{
					width:30%;
				}
			}
		}
		&:nth-child(3){
			.logo{
				img{
					width:30%;
				}
			}
		}
		&:nth-child(8){
			.logo{
				img{
					width:10%;
				}
			}
		}
	}
	ul{
		position:fixed;
        left:0;
        bottom:0;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		width:160%;
		background-color:#f7f7f7;
		border-top:1px solid #ddd;
		-webkit-transition:all .5s;
		transition:all .5s;
		li{
			padding:2% 0;
			width:20%;
			text-align:center;
			i{
				margin:0 auto;
				display:-webkit-flex;
				display:flex;
				align-items:center;
				justify-content:center;
				width:1.5rem;
				height:1.5rem;
				font-size:0;
				img{
					width:auto;
					height:auto;
					max-height:100%;
					max-width:100%;
				}
			}
			span{
				display:block;
				color:#999;
				font:.6rem/2 $publicFont;
			}
		}
		.active{
			position:relative;
			border-left:1px solid #ddd;
			border-right:1px solid #ddd;
			background-color:#fff;
			&:first-child{
				border-left:0;
			}
			&:last-child{
				border-right:0;
			}
			&:before{
				position:absolute;		
				left:0;
				top:-.2rem;
				z-index:-1;
				content:"";
				width:100%;
				height:.5rem;
				border-radius:100%;
				border:1px solid #ddd;
			    background: #fff;
			}
		}
	}
}
.wrapper-member{
	padding-top:2rem;
	.member{
		padding: 5% 3%;
	}
	table{
		width:100%;
	    border-collapse: collapse;
	    border-spacing: 0;
	    border-left: 1px solid #eaeaea;
	    border-top: 1px solid #eaeaea;
	    tr{
    	    display: flex;
    		display: -webkit-flex;
    		td{
    			font: .65rem/1.5 "Microsoft YaHei";
			    flex: 1;
			    -webkit-flex: 1;
			    padding: 2%;
			    text-align: center;
			    vertical-align: middle;
			    color: #666;
			    border-right: 1px solid #eaeaea;
    			border-bottom: 1px solid #eaeaea;
    			i{
    				width:.5rem;
    				height:1px;
    				background-color:#ccc;
    				display:inline-block;
    			}
    			&:first-child{
    				flex:1.5;
    				line-height:1.5 !important;
    			}
    			.on{
    				position:relative;
    				width:1rem;
    				height:.5rem;
    				background:none;
    				&:after{
			            content:"";
			            position: absolute;
			            top:50%;
			            left:50%;
			            margin:-.25rem 0 0 -.125rem;
			            width:.25rem;
			            height:.5rem;
			            border: 1px solid;
			            border-bottom: 0;
			            border-right: 0;
			            color: #ccc;
			            @include transform(rotateZ(-145deg));
			        }
    			}
    		}
	    }
	    thead{
	    	tr{
	    		background: #eaeaea;
	    		td{
		    		font-weight:bold;
		    	}
			}
	    }
	    tbody{
			tr{
				&:nth-child(1){
	    			td{
	    				line-height:3;
	    			}
	    		}
	    		&:nth-child(2){
	    			td{
	    				line-height:3;
	    			}
	    		}
	    		&:nth-child(9){
	    			td{
	    				line-height:3;
	    			}
	    		}
	    		&:nth-child(10){
	    			td{
	    				line-height:3;
	    			}
	    		}
	    		&:nth-child(12){
	    			td{
	    				line-height:3;
	    			}
	    		}
	    		&:nth-child(13){
	    			td{
	    				line-height:3;
	    			}
	    		}
			}
	    }
	}
	.text-buttom{
		margin-top:.5rem;
		p{
			font: .55rem/1.5 "Microsoft YaHei";
    		color: #666;
		}
	}
}
